<div class="card" fxLayout="column">
  <div fxLayout="row" fxFlex="100%" style="padding: 5px;" fxLayoutAlign="space-between center">
    <div fxFlex="60%" class="titulo-principal">
      Trigo
    </div>
    <div fxFlex="40%" class="titulo-principal" align="end">
      <button mat-button class="link-ver-todas" (click)="solicitarInfo()"><mat-icon>info</mat-icon>Precio de trigo</button>
    </div>
  </div>

  <div fxLayout="row" fxFlex="100%" style="padding: 5px; padding-top: 10px;" fxLayoutAlign="space-between center">
    <p style="color: #999; margin-left: 10px;">Si quisieras pagar solo con trigo, tendrías que sumar 7,200 Tn de este cultivo.</p>
  </div>

  <app-card-pagar-stock style="padding: 20px;"></app-card-pagar-stock>
</div>