<!--Tipo de cambio modo celular-->
<div class="contenedor-fecha-tipocambio" fxLayout="row" fxLayoutAlign="space-between center"
     *ngIf="esCelular">
  <div fxFlex="50%" class="contenedor-fecha-hora">
    <app-fecha-hora></app-fecha-hora>
  </div>
  <div fxFlex="50%">
    <div fxFlex class="contenedor-tipo-cambio">
      <img src="assets/varios/tc.png" class="img-tc" />
      <span *ngIf="saldoGlobal != null && seObtuvoSaldoExito == true && saldoGlobal.esTipoCambioDeHoy == true">TC
        ${{ saldoGlobal.tipoDeCambio | number: '.2' }}</span>

      <span *ngIf="saldoGlobal != null && seObtuvoSaldoExito == true && saldoGlobal.esTipoCambioDeHoy == false">TC
        ${{ saldoGlobal.tipoDeCambio | number: '.2' }} <span class="fecha-tc">al
          {{saldoGlobal.fechaTipoCambio}}</span></span>

      <span *ngIf="saldoGlobal == null || seObtuvoSaldoExito == false">TC no disp.</span>
    </div>
  </div>
</div>

<!--Saldos modo celular-->
<span *ngIf="esCelular">
  <app-saldo-cta-cte-aplicada-global-acobrar *ngIf="cargando == false" [seObtuvoSaldoExito]="seObtuvoSaldoExito"
                                             [saldoGlobal]="saldoGlobal"></app-saldo-cta-cte-aplicada-global-acobrar>

  <app-saldo-cta-cte-aplicada-global-apagar *ngIf="cargando == false" [seObtuvoSaldoExito]="seObtuvoSaldoExito"
                                            [saldoGlobal]="saldoGlobal"></app-saldo-cta-cte-aplicada-global-apagar>

  <!--Spinner-->
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="cargando" style="margin-top: 10px">
    <mat-spinner diameter="24"></mat-spinner>
  </div>
</span>

<!--Tipo de cambio modo desktop-->
<div class="contenedor-fecha-tipocambio-desktop" fxLayout="row" fxLayoutAlign="space-between center"
     *ngIf="!esCelular">
  <div fxFlex="50%" class="contenedor-saludo-desktop">
    Hola {{nombre}}
  </div>
  <div fxFlex="50%">
    <div fxLayout="column" fxLayoutAlign="space-between end" class="tc-y-fecha-desktop-container">

      <div fxFlex="100%" class="contenedor-tipo-cambio">
        <img src="assets/varios/tc.png" class="img-tc" />
        <span *ngIf="saldoGlobal != null && seObtuvoSaldoExito == true && saldoGlobal.esTipoCambioDeHoy == true">TC
          ${{ saldoGlobal.tipoDeCambio | number: '.2' }}</span>

        <span *ngIf="saldoGlobal != null && seObtuvoSaldoExito == true && saldoGlobal.esTipoCambioDeHoy == false">TC
          ${{ saldoGlobal.tipoDeCambio | number: '.2' }} <span class="fecha-tc">al
            {{saldoGlobal.fechaTipoCambio}}</span></span>

        <span *ngIf="saldoGlobal == null || seObtuvoSaldoExito == false">TC no disp.</span>
      </div>

      <div fxFlex="100%">
        <app-fecha-hora></app-fecha-hora>
      </div>

    </div>
  </div>
</div>

<!--Saldos modo desktop-->
<div style="padding: 10px;" *ngIf="!esCelular">
  <table width="100%">
    <tr>
      <td style="width: 50%;">
        <app-saldo-cta-cte-aplicada-global-acobrar *ngIf="cargando == false" [seObtuvoSaldoExito]="seObtuvoSaldoExito"
                                                   [saldoGlobal]="saldoGlobal"></app-saldo-cta-cte-aplicada-global-acobrar>
      </td>
      <td style="width: 50%;">
        <app-saldo-cta-cte-aplicada-global-apagar *ngIf="cargando == false" [seObtuvoSaldoExito]="seObtuvoSaldoExito"
                                                  [saldoGlobal]="saldoGlobal"></app-saldo-cta-cte-aplicada-global-apagar>
      </td>
    </tr>
  </table>

  <!--Spinner-->
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="cargando" style="margin-top: 10px">
    <mat-spinner diameter="24"></mat-spinner>
  </div>
</div>
