<div class="movimiento-fila">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">

    <div fxFlex="38px">
      <img class="movimiento-icono" src="{{movimiento.especie | imagenEspecie}}" />
    </div>

    <div fxFlex="100px">
      <div fxLayout="column" fxLayoutAlign="space-between start">
        <div fxFlex="nogrow" class="especie-cosecha">
          {{movimiento.especieDescripcion}} {{movimiento.cosecha}}
        </div>

        <div fxFlex="nogrow" class="fecha">
          {{movimiento.fecha}}
        </div>
      </div>
    </div>

    <div fxFlex class="kg-netos" align="center">
      {{movimiento.kilos | kilosA: unidadMedida | number: '.0-0'}}
    </div>

    <!--Pesificadas-->
    <div fxFlex="nogrow" align="right" *ngIf="ventasPesificadas!=null && ventasPesificadas == true">
      <span *ngIf="movimiento.precioQQPesificado!=null"
        class="precio-qq">${{movimiento.precioQQPesificado | precioQQA: unidadMedida | number: '.0-0'}}</span>
      <span *ngIf="movimiento.precioQQPesificado==null && movimiento.moneda =='P'"
        class="precio-qq">${{movimiento.precioPorQuintal | precioQQA: unidadMedida | number: '.0-0'}}</span>
      <span class="moneda">{{'P' | moneda}}</span>
    </div>

    <!--Pendientes de pesificar-->
    <div fxFlex="nogrow" align="right" *ngIf="ventasPesificadas!=null && ventasPesificadas == false">
      <span class="precio-qq">${{movimiento.precioPorQuintal | precioQQA: unidadMedida | number: '.0-0'}}</span>
      <span class="moneda">{{movimiento.moneda | moneda}}</span>
    </div>

    <!--Todas-->
    <div fxFlex="nogrow" align="right" *ngIf="ventasPesificadas == null">

      <span *ngIf="movimiento.precioQQPesificado!=null"
        class="precio-qq">${{movimiento.precioQQPesificado | precioQQA: unidadMedida | number: '.0-0'}}</span>

      <span *ngIf="movimiento.precioQQPesificado==null"
        class="precio-qq">${{movimiento.precioPorQuintal | precioQQA: unidadMedida | number: '.0-0'}}</span>

      <span *ngIf="movimiento.precioQQPesificado!=null" class="moneda">{{'P' | moneda}}</span>
      <span *ngIf="movimiento.precioQQPesificado==null" class="moneda">{{movimiento.moneda | moneda}}</span>
    </div>

  </div>
</div>