<div *ngIf="esCelular">
  <div class="container">

    <div class="header">
      <div fxLayoutAlign="start center"><img class="logo" src="../../../../assets/varios/color.png"></div>
    </div>

    <div class="body">
      
      <div fxLayoutAlign="center center"><mat-icon style="color: #ffffff; width: 33px; height: 33px; margin-top: 128px;">check_circle_outline</mat-icon></div>

      <div class="title">Has completado todo el proceso de validación</div>
      <div class="subtitle">Desde ahora tienes acceso limitado a Gavigio digital. Recuerda subir la documentación legal faltante pronto.</div>

      <div fxLayoutAlign="start center">
        <button (click)="volverAIngresar()" mat-button class="button-start"><b>Ingresar a Gaviglio digital</b></button>
      </div>
    </div>
  </div>
</div>
