<mat-card class="card" fxFlex="50">

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="100%" class="contenedor-importe">
      <button mat-mini-fab color="primary">
        <mat-icon>info</mat-icon>
      </button>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="100%" class="titulo-card">Pagar</div>
  </div>

</mat-card>

<mat-card class="card" fxFlex="50">

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="100%" class="contenedor-importe">
      <button mat-mini-fab color="primary">
        <mat-icon>info</mat-icon>
      </button>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="100%" class="titulo-card">Cobrar</div>
  </div>

</mat-card>
