<mat-card class="card" fxFlex="50">

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="100%" class="contenedor-importe">
      <a routerLink="/pagar">
        <button mat-mini-fab class="button">
        <mat-icon>exit_to_app</mat-icon>
        </button>
      </a>
      
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="100%" class="titulo-card">Pagar</div>
  </div>

</mat-card>

<mat-card class="card" fxFlex="50">

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="100%" class="contenedor-importe">
      <a routerLink="/cobrar">
        <button mat-mini-fab class="button">
          <mat-icon>system_update_alt</mat-icon>
        </button>
      </a>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="100%" class="titulo-card">Cobrar</div>
  </div>

</mat-card>
