<h2 mat-dialog-title>Detalle</h2>

<mat-dialog-content class="mat-typography">

  <table class="tabla-movimiento">
    <tr>
      <td>Fecha</td>
      <td align="end">{{data.fecha}}</td>
    </tr>

    <tr>
      <td>Artículo</td>
      <td align="end">{{data.codArticulo}} {{data.descripcionArticulo}}</td>
    </tr>

    <tr>
      <td>Cantidad</td>
      <td align="end">{{data.cantidad | number: '.2'}}</td>
    </tr>

    <tr>
      <td>Cantidad pendiente</td>
      <td align="end">{{data.cantidadPendiente | number: '.2'}}</td>
    </tr>

    <tr>
      <td>Total</td>
      <td align="end">US$ {{data.totalUsd | number: '.2'}}</td>
    </tr>

    <tr>
      <td>Comprobante</td>
      <td align="end">{{data.tipoComprobante}} {{data.comprobante}}</td>
    </tr>
  </table>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>