<div fxLayout="row" fxLayoutAlign="center" class="encabezado-filtro">
  <div fxFlex="80%" class="texto-filtrar">
    Información sobre las deudas
  </div>

  <div fxFlex="20%">
    <button mat-icon-button class="boton-close" (click)="salir()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-divider></mat-divider>
<div class="titulo-card-1">
  Deuda total en cuenta
</div>
<div class="contenedor-importe"><span class="importe-cobrar">
  $7.000.564</span>
</div>
<div class="texto-card">
  Incluye el deuda por pagar y el deuda a pagar.
</div>
<br>
<div class="titulo-card-1">
  Deuda vencida
</div>
<div class="contenedor-importe"><span class="importe-cobrar">
  $123.000 </span>
</div>
<div class="texto-card">
  Es la deuda que ya vencio o esta por vencer.
</div>
<br>
<div class="titulo-card-1">
  Deuda a pagar
</div>
<div class="contenedor-importe"><span class="importe-cobrar">
  $123.000</span>
</div>
<div class="texto-card">
  Es la deuda disponible para pagar.
</div>