<div fxLayout="row" fxLayoutAlign="center" class="encabezado-filtro">
  <div fxFlex="20%">
    <button mat-icon-button class="boton-close" (click)="salir()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <div fxFlex="80%" class="texto-filtrar" fxLayoutAlign="space-between center">
    Comprobante
  </div>
</div>

<div style="margin-top: 10px;">
  <app-resumen-comprobante-cobros-info></app-resumen-comprobante-cobros-info>
  <app-resumen-resumen-cobros></app-resumen-resumen-cobros>
</div>

<div fxLayout="column">
  <div fxFlexFill fxLayout="row" fxLayoutALign="space-between center">
    <a routerLink="/billetera"><button mat-button style="background-color: green; color: white; margin-top: 10px; width: 325px;" (click)="salir()">Volver al inicio</button></a>
  </div>
  <div fxFlexFill fxLayout="row" fxLayoutALign="space-between center">
    <button mat-button style="background-color: white; color: green; border: solid 1px green; margin-top: 10px; width: 350px;">Realizar nuevo cobro</button>
  </div>
</div>