.boton-container {
    border: 1px solid #ECECEC;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #666666;
    font-family: Rubik;
    font-size: 14px;
    height: 40px;
}

.input-fecha {
    height: 32px;
    width: auto;
    padding-left: 10px;
    color: #666666;
    font-family: Rubik;
    font-size: 14px;
    border: none;
    margin-left: 2px;
    padding-bottom: 5px;
}

.activo {
    color: #23B950;
    font-family: Rubik;
    font-size: 14px;
    min-width: 200px;
    background-color: rgba(45, 164, 66, 0.1);
}

.inactivo {
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
    height: 48px;
    min-width: 200px;
}