<div fxLayout="row" fxLayoutAlign="space-around center" class="container">

  <!--Check de descarga-->
  <div fxFlex="28px">
    <mat-checkbox [(ngModel)]="mercPendEntregar.seleccionado"></mat-checkbox>
  </div>

  <div fxFlex (click)="notificarVerDetalle()">

    <div fxLayout="row" fxLayoutAlign="space-around center">

      <div fxFlex="100px">
        {{ mercPendEntregar.comprobante }}
      </div>

      <div fxFlex="100px">
        Fecha
      </div>

      <div fxFlex="100px">
        Artículo
      </div>

      <div fxFlex="100px">
        Descripción
      </div>

      <div fxFlex="100px">
        Cantidad
      </div>

      <div fxFlex="100px">
        Pendiente
      </div>

      <div fxFlex="100px">
        Total
      </div>

    </div>

  </div>

</div>
