<div class="contenedor-header">
  <app-contratos-resumen-header-item-desktop (cambioSeleccion)="seleccionarTodos($event)"></app-contratos-resumen-header-item-desktop>
</div>

<div class="contenedor-listado" fxLayout="column" fxLayoutWrap fxLayoutAlign="none" infiniteScroll
  [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false">

  <app-contratos-resumen-item-desktop *ngFor="let movimiento of (listadoContratos ? listadoContratos : [])"
     [resumen]="movimiento" [unidadMedida]="unidadMedida" (cambioSeleccion)="rearmarListaSeleccionados()" (verDetalle)="verDetalle($event)">
  </app-contratos-resumen-item-desktop>

  <!--Spinner-->
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="contratosDataSource.loading$ | async"
    style="margin-top: 10px">
    <mat-spinner diameter="24"></mat-spinner>
  </div>

</div>