<div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">
  <div fxFlex="100%">
    <mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Filtro
      </mat-expansion-panel-header>

      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">

        <div fxFlex="33%">
          <mat-form-field>
              <mat-select [(ngModel)]="cuenta" placeholder="Seleccione una cuenta" disableRipple>
                <mat-option *ngFor="let cuentaVinculada of (perfilBasico != null ? perfilBasico.entidadCodigos : [])" [value]="cuentaVinculada">
                  {{cuentaVinculada}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>

        <div fxFlex="33%">
          <mat-form-field>
            <input [(ngModel)]="fechaDesde" matInput [matDatepicker]="desde" placeholder="Fecha desde" readonly>
            <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
            <mat-datepicker touchUi #desde></mat-datepicker>
          </mat-form-field>
        </div>

        <div fxFlex="33%">
          <mat-form-field>
            <input [(ngModel)]="fechaHasta" matInput [matDatepicker]="hasta" placeholder="Fecha hasta" readonly>
            <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
            <mat-datepicker touchUi #hasta></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <mat-action-row>
        <button mat-button (click)="cargarListado()">Buscar</button>
      </mat-action-row>
    </mat-expansion-panel>

  </div>

  <div fxFlex="100%">
    <div *ngIf="saldosTotales" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">
      <div fxFlex="33%">
        <h3 mat-dialog-title align="center">Saldo en pesos</h3>
        <mat-dialog-content class="mat-typography">
          <p align="center">AR$ {{saldosTotales.saldoPesos | number: '.2'}}</p>
        </mat-dialog-content>
      </div>

      <div fxFlex="33%">
        <h3 mat-dialog-title align="center">Saldo en dólares</h3>
        <mat-dialog-content class="mat-typography">
          <p align="center">US$ {{saldosTotales.saldoDolares | number: '.2'}}</p>
        </mat-dialog-content>
      </div>

      <div fxFlex="33%">
        <h3 mat-dialog-title align="center">Saldo contable</h3>
        <mat-dialog-content class="mat-typography">
          <p align="center">AR$ {{saldosTotales.saldoContable | number: '.2'}}</p>
        </mat-dialog-content>
      </div>
    </div>
  </div>

  <div fxFlex="100%">
    <mat-card>
      <mat-card-title>Movimientos</mat-card-title>

      <mat-card-content>
        <mat-nav-list class="listadoCtaCte">

          <a mat-list-item *ngFor="let movimiento of (listadoCtaCte ? listadoCtaCte : [])" (click)="verDetalle(movimiento)">

            <table class="tabla-movimiento">
              <tr>
                <td class="concepto">{{movimiento.concepto}}</td>
                <td class="importe">AR$ {{movimiento.importeComprobantePesos | number: '.2'}} </td>
              </tr>
              <tr>
                <td class="fecha">{{movimiento.fechaVencimiento}}</td>
                <td class="importe">US$ {{movimiento.importeComprobanteDolares | number: '.2'}}</td>
              </tr>
            </table>

            <mat-divider></mat-divider>
          </a>

        </mat-nav-list>
      </mat-card-content>
    </mat-card>
  </div>

  <button mat-mini-fab class="custom-button" (click)="verOpcionesExtras()" *ngIf="listadoCtaCte != null">
    <mat-icon aria-label="Más opciones">add</mat-icon>
  </button>

</div>