<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">

  <div fxFlex="grow">

    <div fxLayout="column" fxLayoutAlign="space-between start" style="padding: 10px;">
      <div fxFlex>
        {{ concepto.moneda | moneda }}
        <span *ngIf="concepto.moneda == 'P'">{{ concepto.saldoPesos * (-1) | number }}</span>
        <span *ngIf="concepto.moneda != 'P'">{{ concepto.saldoDolares * (-1) | number }}</span>
      </div>

      <div fxFlex style="font-family: Rubik; font-size: 12px; color: #999;">
        {{ concepto.comprobanteAfectado }} - {{ (esVencido) ? 'Venció' : 'Vence' }}: {{ concepto.fechaVencimiento }}
      </div>
    </div>

  </div>

</div>