.listado-comp-pend-facturar a:hover {
    background-color: beige;
}
.tabla-movimiento {
    border: none;
    width: 100%;
    font-size: 10px;
}
.tabla-movimiento td {
    width: 50%;
    white-space: nowrap;
}
.importe {
    text-align: right;
    font-weight: bold;
}
.engris {
    color: dimgray;
}
.conceptos {
    font-weight: bold;
}
