<div *ngIf="esCelular">
  <div fxLayout="row">
    <h3>Total</h3>
  </div>
  <mat-card class="container" fxLayout="row">
    <div fxLayout="row">
      <p style="font-size: 20px;">$ {{total | number}}</p>
    </div>
  </mat-card>
  <div fxLayout="row" style="margin-left: 150px; margin-top: 20px;">
    <a style="margin-right: 10px">
      <button mat-stroked-button style="color: green; border: solid 1px green;" matStepperPrevious>Volver</button>
    </a>
    <button mat-flat-button style="background-color: green; color: white;">Siguiente</button>
  </div>
</div>

<div *ngIf="!esCelular" fxFlex="80%">
  <div fxLayout="row">
    <h3>Total</h3>
  </div>
  <mat-card class="container" fxLayout="row">
    <div fxLayout="row">
      <p style="font-size: 20px;">$ {{total | number}}</p>
    </div>
  </mat-card>
  <div fxLayout="row" style="margin-left: 620px; margin-top: 20px;">
    <a style="margin-right: 10px">
      <button mat-stroked-button style="color: green; border: solid 1px green;" matStepperPrevious>Volver</button>
    </a>
    <button mat-flat-button style="background-color: green; color: white;">Siguiente</button>
  </div>
</div>