<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="100%" class="titulo">
    CUENTA DE COLABORADORES
  </div>
</div>

<div class="contenedor-listado" fxLayout="column" fxLayoutWrap fxLayoutAlign="none" infiniteScroll
  [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false">

  <!--Registros-->
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px"
    *ngFor="let tercero of (listadoTerceros ? listadoTerceros : [])">

    <div fxFlex class="nombre">
      {{tercero.descripcion || tercero.credencial.username}}
    </div>

    <div fxFlex="100px;" align="end">
      <span class="indicador-activo">Activo</span>
      <mat-slide-toggle color="primary" [checked]="!tercero.credencial.baja" (change)="habilitacion(tercero, $event)">
      </mat-slide-toggle>
    </div>

    <div fxFlex="70px" align="end">
      <button mat-icon-button (click)="verEditar(tercero)">
        <img src="assets/toolbar/editar.png" class="img-editar" />
      </button>
    </div>

  </div>

  <!--Spinner-->
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="cargando == true">
    <mat-spinner diameter="24"></mat-spinner>
  </div>

</div>

<!--Leyenda si es vacio-->
<div *ngIf="(listadoTerceros == null || listadoTerceros.length == 0) && cargando == false" class="contenedor-leyenda-vacio">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex="100%" class="leyenda-vacio">
      Un “colaborador” es una persona a la que podés darle acceso parcial a tu cuenta
    </div>

    <div fxFlex="100%" class="leyenda-agregar-colaborador">
      Agrega una cuenta de colaborador <a class="boton-agregar-aqui" (click)="agregarTercero()">aquí</a>
    </div>
  </div>
</div>