.contenedor-desktop {
  height: 100%;
  padding-top: 100px;
}

.mat-stepper-horizontal {
  margin-top: 0px;
  background-color: rgb(247, 247, 247);
}
  
.mat-form-field {
  margin-top: 16px;
}

.tittle{
  margin-top: 15px;
  background-color: white;
}

.button{
  background-color: white;
}