<div fxLayout="row" fxLayoutAlign="space-around center" class="container">
  <div fxFlex="28px">
    <mat-checkbox (change)="notificarCambioSeleccion($event)"></mat-checkbox>
  </div>

  <div fxFlex>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div fxFlex="13%">Comprobante</div>

      <div fxFlex="100px">Fecha</div>

      <div fxFlex="200px">Artículo</div>

      <div fxFlex="8%">Cantidad</div>

      <div fxFlex="8%">Pendiente</div>

      <div fxFlex="30px">Mon.</div>

      <div fxFlex="12%">Total</div>
    </div>
  </div>
</div>
