.contenedor-avatar {
    width: 100%;
    height: 138px;
}

.perfil-avatar {
    float: right;
    height: 48px;
    width: 48px;
    margin-top: 50px;
    margin-right: 4px;
}

.contenedor-nombres {
    margin-top: 50px;
    white-space: pre-wrap;
    width: 100%;
}

.nombre {
    color: #333333;
    font-family: Rubik;
    font-size: 16px;
    line-height: 19px;
}

.nombre-fantasia {
    color: #666666;
    font-family: Rubik;
    font-size: 12px;
    line-height: 14px;
}