<div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
  <div fxFlex="100%" class="titulo-apartados">STOCK DE GRANOS NO LIQUIDADOS</div>
</div>

<div class="contenedor">

  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
    <div fxFlex="50px" class="subtitulo-apartados">Especie</div>
    <div fxFlex="50px" class="subtitulo-apartados">Cosecha</div>
    <div fxFlex class="subtitulo-apartados" align="end">{{unidadMedida | kilosTextoA}}.Netos</div>
    <div fxFlex class="subtitulo-apartados" align="end">{{unidadMedida | kilosTextoA}}.Pend.Cert.</div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center"
    *ngFor="let stock of tenenciaImpositiva.stocksGranosNoLiquidadosDTO" fxLayoutGap="5px">

    <div fxFlex="50px" class="valor">
      {{ stock.especie }}
    </div>

    <div fxFlex="50px" class="valor">
      {{ stock.cosecha }}
    </div>

    <div fxFlex class="valor" align="end">
      <span [ngClass]="{'signo-positivo': stock.kgNetos > 0, 'signo-negativo': stock.kgNetos < 0 }">
        {{ (stock.kgNetos < 0) ? '-' : (stock.kgNetos > 0) ? '+' : ''}}
      </span>
      {{ ((stock.kgNetos > 0) ? stock.kgNetos : stock.kgNetos * (-1)) | kilosA: unidadMedida | number: (unidadMedida == 'tn' ? '.0-1' : '.0-0')}}
    </div>

    <div fxFlex class="valor" align="end">
      <span [ngClass]="{'signo-positivo': stock.kgPendCertificar > 0, 'signo-negativo': stock.kgPendCertificar < 0 }">
        {{ (stock.kgPendCertificar < 0) ? '-' : (stock.kgPendCertificar > 0) ? '+' : ''}}
      </span>
      {{ ((stock.kgPendCertificar > 0) ? stock.kgPendCertificar : stock.kgPendCertificar * (-1)) | kilosA: unidadMedida | number: (unidadMedida == 'tn' ? '.0-1' : '.0-0')}}
    </div>
  </div>

</div>

<div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
  <div fxFlex="100%" class="titulo-apartados">SALDOS DE CUENTA CORRIENTE</div>
</div>

<div class="contenedor">

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex class="subtitulo-apartados">Saldo ARS</div>
    <div fxFlex class="subtitulo-apartados">Saldo USD</div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex class="monto">
      <span
        [ngClass]="{'signo-positivo': tenenciaImpositiva.saldoCtaCte.saldoPesos > 0, 'signo-negativo': tenenciaImpositiva.saldoCtaCte.saldoPesos < 0 }">
        {{ (tenenciaImpositiva.saldoCtaCte.saldoPesos < 0) ? '-' : (tenenciaImpositiva.saldoCtaCte.saldoPesos > 0) ? '+' : ''}}
      </span>
      {{ ((tenenciaImpositiva.saldoCtaCte.saldoPesos > 0) ? tenenciaImpositiva.saldoCtaCte.saldoPesos : tenenciaImpositiva.saldoCtaCte.saldoPesos * (-1)) | number: '.2'}}
      <span class="moneda">ARS</span>
    </div>
    <div fxFlex class="monto">
      <span
        [ngClass]="{'signo-positivo': tenenciaImpositiva.saldoCtaCte.saldoDolar > 0, 'signo-negativo': tenenciaImpositiva.saldoCtaCte.saldoDolar < 0 }">
        {{ (tenenciaImpositiva.saldoCtaCte.saldoDolar < 0) ? '-' : (tenenciaImpositiva.saldoCtaCte.saldoDolar > 0) ? '+' : ''}}
      </span>
      {{ ((tenenciaImpositiva.saldoCtaCte.saldoDolar > 0) ? tenenciaImpositiva.saldoCtaCte.saldoDolar : tenenciaImpositiva.saldoCtaCte.saldoDolar * (-1)) | number: '.2'}}
      <span class="moneda">USD</span>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 5px;">
    <div fxFlex class="subtitulo-apartados">Saldo Contable</div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center" class="monto">
    <div fxFlex class="dato-apartado">

      <span
        [ngClass]="{'signo-positivo': tenenciaImpositiva.saldoCtaCte.saldoContable > 0, 'signo-negativo': tenenciaImpositiva.saldoCtaCte.saldoContable < 0 }">
        {{ (tenenciaImpositiva.saldoCtaCte.saldoContable < 0) ? '-' : (tenenciaImpositiva.saldoCtaCte.saldoContable > 0) ? '+' : ''}}
      </span>
      {{ ((tenenciaImpositiva.saldoCtaCte.saldoContable > 0) ? tenenciaImpositiva.saldoCtaCte.saldoContable : tenenciaImpositiva.saldoCtaCte.saldoContable * (-1)) | number: '.2'}}
      <span class="moneda">ARS</span>
    </div>
  </div>

</div>
