.titulo-principal {
    padding-left: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
    letter-spacing: 1.2px;
}

.sub-titulo-principal {
    padding-left: 15px;
    margin-bottom: 12px;
    color: #666666;
    font-family: Rubik;
    font-size: 12px;
    letter-spacing: 1.2px;
}

.texto-filtro {
    color: #4e4e4e;
    font-family: Rubik;
    font-size: 10px;
}

.filtro-cosecha {
    padding-right: 6px;
}

/* active tab */

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: #00cb75;
}

/* ink bar tab */

:host ::ng-deep .mat-ink-bar {
    background-color: #00cb75 !important;
}