<div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="80%" class="titulo-principal">
        RESUMEN DE CONTRATOS <br /> <span *ngIf="cargando == false"
            class="texto-filtro">{{descripcionFiltroCosecha}}</span>
    </div>

    <div fxFlex="20%" class="filtro-cosecha" align="end">
        <button mat-icon-button *ngIf="cargandoFiltrosCosecha == false && filtrosEspecieCosecha != null"
            (click)="verFiltroCosecha()" [disabled]="cargando == true">
            <mat-icon aria-label="Filtro de cosechas">filter_list</mat-icon>
        </button>
    </div>
</div>

<app-contrato-indicador-swiper-entrega
    *ngIf="resumenDeContratos != null && resumenDeContratos.indicadoresEntregas != null && cargando == false"
    [indicadores]="resumenDeContratos.indicadoresEntregas" [unidadMedida]="unidadMedida">
</app-contrato-indicador-swiper-entrega>

<app-contrato-indicador-swiper-ventas
    *ngIf="resumenDeContratos != null && resumenDeContratos.indicadoresFijaciones != null && cargando == false"
    [indicadores]="resumenDeContratos.indicadoresFijaciones" [unidadMedida]="unidadMedida">
</app-contrato-indicador-swiper-ventas>