<mat-sidenav-container class="contenedor-filtro">
  <mat-sidenav #menuFiltro position="end" class="sidenav-filtro">
    <app-cereales-filtro [filtrosEspecieCosecha]="null" [cuenta]="cuenta" (botonCerrar)="menuFiltro.toggle()"
      (botonAplicar)="cargarListado($event)" [sePuedeFiltrarEspecieCosecha]="false"></app-cereales-filtro>
  </mat-sidenav>
  <section>
    <app-tool-bar-para-modal [titulo]="titulo" [urlImagenDerechoIzquierdo]="'assets/toolbar/embudo.png'"
      (botonSalirEjecutado)="salir()" (botonPersonalizadoDerechoEjecutado)="mostrarOcultarFiltros()">
    </app-tool-bar-para-modal>

    <app-ventas-lista-movil [observerFiltro$]="observerFiltro$" [filtrarPorPesificacion]="false"
      (seleccionMovimiento)="verDetalle($event)"></app-ventas-lista-movil>
  </section>
</mat-sidenav-container>