<mat-divider></mat-divider>

<div class="title">Responda las preguntas</div>
<div class="text">Con estas preguntas, conoceremos mas tu situación para que luego puedas acceder a tu crédito.</div>

<div class="form">
  <div class="subtitle">¿Posee algún seguro sobre la producción de cereales? Especificar cuales.</div>
  <p>
    <mat-form-field appearance="legacy">
      <input matInput>
    </mat-form-field>
  </p>
  <div class="subtitle">Cantidad de hectáreas de Tambo propias, alquiladas o en participación con terceros.</div>
  <p>
    <mat-form-field appearance="legacy">
      <input matInput>
    </mat-form-field>
  </p>
  <div class="subtitle">Si trabajas de ganadería, ¿Cuántas Cabezas de ganado tiene?</div>
  <p>
    <mat-form-field appearance="legacy">
      <input matInput>
    </mat-form-field>
  </p>
</div>

<div fxLayoutAlign="end center">
  <button mat-button matStepperNext class="button-start">Guardar</button>
</div>
