<mat-card class="tarjeta">
  
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card-title style="margin-bottom: 20px;">A cobrar</mat-card-title>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="100%" class="titulo-card-1">Dinero en cuenta
      <button mat-icon-button color="primary" class="indicador">
        <mat-icon>info</mat-icon>
      </button>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    
    <div fxFlex="100%" class="contenedor-importe"><span
        class="importe-cobrar"> 50.000 </span>
    </div>
    
  </div>
  <mat-divider></mat-divider>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="100%" class="titulo-card">Dinero disponible
      <button mat-icon-button class="indicador">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    
    <div fxFlex="100%" class="contenedor-importe"><span
        class="importe-cobrar"> 123.000 </span>
    </div>
    
  </div>
  <mat-divider></mat-divider>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="100%" class="titulo-card">Dinero por cobrar
      <button mat-icon-button class="indicador">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    
    <div fxFlex="100%" class="contenedor-importe"><span
        class="importe-cobrar"> 123.000 </span>
    </div>

  </div>
  <mat-divider></mat-divider>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="100%" class="titulo-card">Dinero retenido</div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    
    <div fxFlex="100%" class="contenedor-importe"><span
        class="importe-cobrar"> 23.000 </span>
    </div>
    
  </div>

</mat-card>

