.card-container{
    padding: 20px;
    padding-top: 0px;
    margin-top: 10px;
    background-color: white;
    border-radius: 4px;
}

.forms{
    width: 400px;
}

.title{
    text-align: left;
}

.button{
    text-align: right;
}

.cerrar{
    color: lightgray;
}

.monto{
    text-align: center;
}

.montot{
    text-align: center;
    color: rgb(109, 109, 109);
    margin-top: -10px;
}

.fecha{
    color: rgb(109, 109, 109);
    text-align: left;
    font-size: 16px;
}

.items{
    color: green;
    text-align: right;
    margin-top: -10px;
}

.button-info{
    cursor: pointer;
    color: #23B950;
    text-align: center;
}

.section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.margin {
    margin: 10px 10px;
}