.contenedor-listado {
    height: 78vh;
    overflow-y: scroll;
}

.info-sin-data-text {
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
    text-align: center;
}

.info-sin-data-img {
    width: 130px;
    margin-bottom: 15px;
}

.info-sin-data-container {
    margin: 50px;
}