<div [ngClass]="{'contenedor': esCelular, 'contenedor-desktop': !esCelular}" *ngIf="token">
  <div fxLayout="row" class="header">
    <div fxLayoutAlign="start center"><img class="logo" src="../../../../assets/varios/color.png"></div>
  </div>
  <mat-divider style="margin-top: 16px; margin-bottom: 20px; width: 100%;margin-left: -20px;"></mat-divider>

  <div fxLayout="row" fxLayoutAlign="center" *ngIf="!esCelular">
    <div fxFlex="nogrow">
      <mat-card class="card-base-desktop">
        <mat-card-content>

          <p class="titulo">Recupera tu contraseña</p>

          <p class="parrafo">Ingresa tu nueva contraseña y haz click en el botón actualizar</p>

          <form [formGroup]="frmRecup">

            <p class="label">NUEVA CONTRASEÑA</p>
            <input [ngClass]="{'input': esCelular, 'input-desktop': !esCelular}" matInput type="password"
              formControlName="password" required>

            <p class="label">CONFIRMACIÓN DE CONTRASEÑA</p>
            <input [ngClass]="{'input': esCelular, 'input-desktop': !esCelular}" matInput type="password"
              formControlName="confirmacionPassword" required>

          </form>

          <button [ngClass]="{'boton': esCelular, 'boton-desktop': !esCelular}" *ngIf="!passwordActualizado"
            type="button" (click)="guardar()" [disabled]="cargando">Actualizar</button>
          <button [ngClass]="{'boton': esCelular, 'boton-desktop': !esCelular}" *ngIf="passwordActualizado"
            type="button" (click)="volver()" [disabled]="cargando">Volver</button>

        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div *ngIf="esCelular" class="body-celular">
    <div fxLayoutAlign="start">
      <button mat-button class="boton-arrow" type="button" (click)="volver()" [disabled]="cargando">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>

    <p class="titulo">Nueva contraseña</p>

    <p class="parrafo">Recuerda cumplir con los requisitos de seguridad.</p>

    <form [formGroup]="frmRecup">

      <p class="label">NUEVA CONTRASEÑA</p>
      <input [ngClass]="{'input': esCelular, 'input-desktop': !esCelular}" matInput type="password"
        formControlName="password" required>
      <mat-icon class="passwordIcon-1" (click)="hidePasswordd = !hidePasswordd">
        {{hidePasswordd ? 'visibility_off' : 'visibility'}}</mat-icon>

      <!--progres bar validar contraseña-->
      <div fxLayout="row" style="margin-top: 15px; margin-bottom: 5px;">
        <div fxFlex="20%"><mat-progress-bar mode="determinate" [color]="warn" [value]="0"></mat-progress-bar></div>
        <div class="progress-bar" fxFlex="20%"><mat-progress-bar mode="determinate" [color]="warn" [value]="0"></mat-progress-bar></div>
        <div class="progress-bar" fxFlex="20%"><mat-progress-bar mode="determinate" [color]="warn" [value]="0"></mat-progress-bar></div>
        <div class="progress-bar" fxFlex="20%"><mat-progress-bar mode="determinate" [color]="warn" [value]="0"></mat-progress-bar></div>
      </div>

      <p class="text">Tu contraseña debe tener al menos:</p>
      <div fxLayout="row"><mat-icon class="check">check_circle</mat-icon><p class="text">8 caracteres.</p></div>
      <div fxLayout="row"><mat-icon class="check">check_circle</mat-icon><p class="text">Una letra mayúscula.</p></div>
      <div fxLayout="row"><mat-icon class="check">check_circle</mat-icon><p class="text">Un caracter especial: @#$%&*+-.</p></div>
      <div fxLayout="row"><mat-icon class="check">check_circle</mat-icon><p class="text">Un número.</p></div>

      <p class="label" style="margin-top: -20px;">CONFIRMACIÓN DE CONTRASEÑA</p>
      <input [ngClass]="{'input': esCelular, 'input-desktop': !esCelular}" matInput type="password"
        formControlName="confirmacionPassword" required>
      <mat-icon class="passwordIcon" (click)="hidePassword = !hidePassword">
        {{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>

    </form>

    <button class="boton" *ngIf="!passwordActualizado" (click)="guardar()" [disabled]="cargando">Continuar</button>
  </div>
</div>

<app-loading [cargando$]="cargando$"></app-loading>