<div [ngClass]="{'contenedor': esCelular, 'contenedor-desktop': !esCelular}" *ngIf="token">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex.xs="30%">
      <img src="assets/logo.png" mat-card-image class="logo" alt="Gaviglio" />
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="nogrow">
      <mat-card [ngClass]="{'card-base': esCelular, 'card-base-desktop': !esCelular}">
        <mat-card-content>

          <p class="titulo">Recupera tu contraseña</p>

          <p class="parrafo">Ingresa tu nueva contraseña y haz click en el botón actualizar</p>

          <form [formGroup]="frmRecup">

            <p class="label">NUEVA CONTRASEÑA</p>
            <input [ngClass]="{'input': esCelular, 'input-desktop': !esCelular}" matInput type="password" formControlName="password" required>

            <p class="label">CONFIRMACIÓN DE CONTRASEÑA</p>
            <input [ngClass]="{'input': esCelular, 'input-desktop': !esCelular}" matInput type="password" formControlName="confirmacionPassword" required>

          </form>

          <button [ngClass]="{'boton': esCelular, 'boton-desktop': !esCelular}" *ngIf="!passwordActualizado" type="button" (click)="guardar()"
            [disabled]="cargando">Actualizar</button>
          <button [ngClass]="{'boton': esCelular, 'boton-desktop': !esCelular}" *ngIf="passwordActualizado" type="button" (click)="volver()"
            [disabled]="cargando">Volver</button>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<app-loading [cargando$]="cargando$"></app-loading>