<div class="content" *ngIf="token">
  <mat-card>
    <img src="assets/logo.png" class="md-card-image" alt="image caption" />
    <mat-card-title>Restablecimiento de contraseña</mat-card-title>
    <mat-card-subtitle>Ingrese su nueva contraseña y haga click en el botón guardar</mat-card-subtitle>
    <mat-card-content>
      <form [formGroup]="frmRecup">
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Contraseña" formControlName="password" required>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Confirmación de la contraseña"
            formControlName="confirmacionPassword" required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="!passwordActualizado" type="button" mat-raised-button color="primary" (click)="guardar()"
        [disabled]="cargando">Guardar</button>
      <button *ngIf="passwordActualizado" type="button" mat-raised-button color="primary" (click)="volver()"
        [disabled]="cargando">Volver</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>