<div *ngIf="esCelular">
  <div style="margin-top: 30px;">
    <app-pagar-listado-card-pesos></app-pagar-listado-card-pesos>
    <div style="margin-top: 10px;">
      <app-pagar-listado-card-dolares></app-pagar-listado-card-dolares>
    </div>
  </div>
</div>

<div *ngIf="!esCelular">
  <div style="margin-top: 30px;">
    <app-pagar-listado-card-pesos></app-pagar-listado-card-pesos>
    <div style="margin-top: 10px;">
      <app-pagar-listado-card-dolares></app-pagar-listado-card-dolares>
    </div>
  </div>
</div>
