<div class="container">

  <div class="body">
      
    <div fxLayoutAlign="center center"><mat-icon style="color: #ffffff; width: 33px; height: 33px; margin-top: 128px;">check_circle_outline</mat-icon></div>

    <div class="title"><b>Tu información se envió correctamente, pronto nos comunicaremos contigo para informarte sobre tu crédito.</b></div>

    <div fxLayoutAlign="center center">
      <button mat-button (click)="salir()" class="button-start">Continuar</button>
    </div>
  </div>
</div>