<app-tool-bar-para-modal titulo="Perfil" (botonSalirEjecutado)="salir()"></app-tool-bar-para-modal>

<div fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex="100%" class="titulo">
    CAMBIÁ TU CONTRASEÑA
  </div>
</div>

<form [formGroup]="formGroup">

  <div fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="100%" class="etiqueta-input">
      ACTUAL
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" class="contenedor-control">
    <div fxFlex="100%">
      <input class="input" matInput type="password" formControlName="passwordActual">
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="100%" class="etiqueta-input">
      NUEVA
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" class="contenedor-control">
    <div fxFlex="100%">
      <input class="input" matInput type="password" formControlName="password">
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="100%" class="etiqueta-input">
      CONFIRMA TU NUEVA CONTRASEÑA
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" class="contenedor-control">
    <div fxFlex="100%">
      <input class="input" matInput type="password" formControlName="passwordConfirmacion">
    </div>
  </div>

</form>

<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="100%" class="contenedor-boton">
    <button class="boton-guardar" [disabled]="guardando" mat-raised-button (click)="guardar()">Guardar</button>
  </div>
</div>

<app-loading [cargando$]="guardando$"></app-loading>