<!--Modo movil-->
<mat-sidenav-container class="contenedor-filtro" *ngIf="esCelular != null && esCelular == true">
  <mat-sidenav #menuFiltro position="end" class="sidenav-filtro">
    <app-cereales-filtro [filtrosEspecieCosecha]="filtrosEspecieCosecha" [cuenta]="cuenta"
      (botonCerrar)="menuFiltro.toggle()" (botonAplicar)="cargarListado($event)"></app-cereales-filtro>
  </mat-sidenav>
  <section>
    <app-tool-bar-general [titulo]="'Entregas'" [disabled]="false"
      (botonPersonalizadoEjecutado)="mostrarOcultarFiltros()"
      [urlImagenAccionPersonalizada]="'assets/toolbar/embudo.png'"></app-tool-bar-general>

    <app-entregas-lista-movil *ngIf="esCelular===true" [observerFiltro$]="observerFiltro$"
      (seleccionMovimiento)="verDetalle($event)" (cargandoChange)="mostrarIndicadorLoading($event)">
    </app-entregas-lista-movil>

  </section>
</mat-sidenav-container>

<!--Modo desktop-->
<span [ngClass]="{'hide': modoDetalleDesktop}">

  <div fxLayout="row" fxLayoutAlign="space-between" class="contenedor-titulo-filtro" fxLayoutGap="20px"
    style="font-size: 130%;" *ngIf="esCelular != null && esCelular == false && aplicado == false">
    Entregas
  </div>

  <div fxLayout="row" *ngIf="esCelular != null && esCelular == false && aplicado == false"
    class="indicador-global-contenedor">
    <div fxFlex="100%">
      <app-entregas-indicador-global [observerFiltro$]="observerFiltro$"></app-entregas-indicador-global>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px"
    *ngIf="esCelular != null && esCelular == false">

    <div fxFlex="nogrow" style="padding-left: 13px;">
      Listado de entregas
    </div>

    <div fxFlex *ngIf="!identificadoresParaDescarga || identificadoresParaDescarga.length <= 0"
      style="padding-right: 13px;">
      <app-cereales-filtro-desktop [filtrosEspecieCosecha]="filtrosEspecieCosecha" [cuenta]="cuenta"
        (botonAplicar)="cargarListado($event)" [disabled]="(cargando$ | async) || cargandoFiltros">
      </app-cereales-filtro-desktop>
    </div>

    <div fxFlex *ngIf="identificadoresParaDescarga && identificadoresParaDescarga.length > 0"
      style="padding-right: 13px;">
      <app-tool-bar-descargas (descargarComprobanteChange)="descargarSeleccionados()"
        [botonesExtras]="botonesBarraDescargaExtras" [disabled]="descargandoArchivos"
        (botonPresionado)="exportarSegunOpcion($event)"></app-tool-bar-descargas>
    </div>

  </div>

  <mat-progress-bar *ngIf="descargandoArchivos" mode="indeterminate"></mat-progress-bar>

  <app-entregas-lista-desktop *ngIf="esCelular != null && esCelular == false" [observerFiltro$]="observerFiltro$"
    (seleccionMovimiento)="verDetalleDesktop($event)" (cargandoChange)="mostrarIndicadorLoading($event)"
    (entregasSeleccionados)="entregasSeleccionados($event)">
  </app-entregas-lista-desktop>

</span>

<span [ngClass]="{'hide': !modoDetalleDesktop}">
  <app-entregas-detalle-desktop (salir)="salirModoDetalleDesktop()"
    [modoDetalleDesktopMovimiento$]="modoDetalleDesktopMovimiento$" [aplicado]="aplicado">
  </app-entregas-detalle-desktop>
</span>