/*sidebar*/

.contenedor-filtro {
  height: 100%;
}

.sidenav-filtro {
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  width: 70%;
  max-width: 270px;
}

.hide {
  display: none;
}

.contenedor-titulo-filtro {
  overflow-x: hidden;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 132px;
  padding-bottom: 28px;
}

.titulo-seccion {
  color: #333333;
  font-family: Rubik;
  font-size: 20px;
}

.indicador-global-contenedor {
  width: 100%;
  padding-left: 13px;
  padding-bottom: 28px;
  overflow: hidden;
}

.indicador-global-contenedor:hover {
  overflow-x: auto;
}

.contenedor-saldo {
  border: 1px solid rgba(35, 185, 80, 0.08);
  border-radius: 4px;
  background-color: white;
  margin-top: 17px;
  padding: 17px;
  min-height: 79px;
}

.subtitulo-apartados {
  color: #999999;
  font-family: Rubik;
  font-size: 12px;
  letter-spacing: 1.2px;
  width: 80px;
}

.unidadMedida {
  color: #666666;
  font-family: Rubik;
  font-size: 13px;
}

.monto {
  color: #333333;
  font-family: Rubik;
  font-size: 14px;
}
