<div class="card-container" *ngFor="let item of cobros" style="margin-top: 10px;">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="cuenta-item">
    <div fxLayout="column" >
      <button mat-icon-button>
        <mat-icon class="button-info">monetization_on</mat-icon>
      </button>
    </div>
    <div fxFlex="grow" fxLayout="column" fxLayoutAlign="space-between" class="contenedor">
      <div class="monto">
        ${{ item.monto }}
      </div>
      
      <div class="detalle">
        Disponible desde el {{ item.fecha }}
      </div>
        
    </div>
  </div>
  <mat-divider></mat-divider>

  <div fxLayout="row" class="more-items">
    <div fxFlex="60%" class="items" align="end">
      <button mat-button class="link-ver-todas">Ver detalles </button>
    </div>
    <div fxFlex="40%" class="items" align="end">
      <button mat-button class="link-ver-todas">Programar cobro</button>
    </div>
    <button mat-icon-button>
      <mat-icon class="button-info">keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
