<div *ngIf="esCelular">
  <mat-card class="tarjeta">

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="100%" class="titulo-card-1">Deuda total en cuenta</div>
    </div>
  
    <div fxLayout="row" fxLayoutAlign="space-between center">
  
      <div fxFlex class="contenedor-importe"><span class="importe-cobrar">
          ${{ saldoGlobal.aPagarVencido + saldoGlobal.aPagarAVencer | number: '.0-0' }} </span>
        <button mat-icon-button color="primary" class="indicador" (click)="solicitarInfo()">
          <mat-icon>info</mat-icon>
        </button>
      </div>
  
    </div>
    <mat-divider></mat-divider>
    
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="15%">
        <div style="margin-left: -10px;">
          <div fxFlex="100%">
            <button mat-icon-button class="Bill-wave">
              <img src="../../../../../assets/varios/Bill-wave_time-disabled.png" alt="">
            </button>
          </div>
        </div>
      </div>
  
      <div fxFlex="75%">
        <div>
          <div fxFlex="100%" class="titulo-card">Deuda vencida</div>
        </div>
      
        <div>
          <div fxFlex="100%" class="contenedor-importe"><span class="importe-cobrar">
              ${{ saldoGlobal.aPagarVencido | number: '.0-0' }} </span>
          </div>
        </div>
      </div>

      <div fxFlex="10%">
        <button mat-icon-button>
          <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
  
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="15%">
        <div style="margin-left: -10px;">
          <div fxFlex="100%">
            <button mat-icon-button class="Bill-wave">
              <img src="../../../../../assets/varios/Bill-wave_time.png" alt="">
            </button>
          </div>
        </div>
      </div>
  
      <div fxFlex="75%">
        <div>
          <div fxFlex="100%" class="titulo-card">Deuda a pagar</div>
        </div>
      
        <div>
          <div fxFlex="100%" class="contenedor-importe"><span class="importe-cobrar">
              ${{ saldoGlobal.aPagarAVencer | number: '.0-0' }} </span>
          </div>
        </div>
      </div>

      <div fxFlex="10%">
        <button mat-icon-button>
          <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
  
  </mat-card>
</div>

<div *ngIf="!esCelular" >
  <mat-card class="tarjeta1">

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="100%" class="titulo-card-1">Deuda total en cuenta</div>
    </div>
  
    <div fxLayout="row" fxLayoutAlign="space-between center">
  
      <div fxFlex class="contenedor-importe"><span class="importe-cobrar">
          ${{ saldoGlobal.aPagarVencido + saldoGlobal.aPagarAVencer | number: '.0-0' }} </span>
        <button mat-icon-button color="primary" class="indicador-d" (click)="solicitarInfo()" *ngIf="!esCelular">
          <mat-icon>info</mat-icon>
        </button>
      </div>
  
    </div>
    <mat-divider></mat-divider>
    
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="15%">
        <div style="margin-left: 10px;">
          <div fxFlex="100%">
            <button mat-icon-button class="Bill-wave">
              <img src="../../../../../assets/varios/Bill-wave_time-disabled.png" alt="">
            </button>
          </div>
        </div>
      </div>
  
      <div fxFlex="75%">
        <div>
          <div fxFlex="100%" class="titulo-card">Deuda vencida</div>
        </div>
      
        <div>
          <div fxFlex="100%" class="contenedor-importe"><span class="importe-cobrar">
              ${{ saldoGlobal.aPagarVencido | number: '.0-0' }} </span>
          </div>
        </div>
      </div>

      <div fxFlex="10%">
        <button mat-icon-button>
          <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
  
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="15%">
        <div style="margin-left: 10px;">
          <div fxFlex="100%">
            <button mat-icon-button class="Bill-wave">
              <img src="../../../../../assets/varios/Bill-wave_time.png" alt="">
            </button>
          </div>
        </div>
      </div>
  
      <div fxFlex="75%">
        <div>
          <div fxFlex="100%" class="titulo-card">Deuda a pagar</div>
        </div>
      
        <div>
          <div fxFlex="100%" class="contenedor-importe"><span class="importe-cobrar">
              ${{ saldoGlobal.aPagarAVencer | number: '.0-0' }} </span>
          </div>
        </div>
      </div>

      <div fxFlex="10%">
        <button mat-icon-button>
          <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
  
  </mat-card>
</div>