/*sidebar*/

.contenedor-notificaciones {
    height: 100%;
    background: url("./../../../../assets/varios/fondo-verde.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.sidenav-notificaciones {
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
    width: 70%;
    max-width: 270px;
}