<div *ngIf="movimiento" class="contenedor-detalle">
  <mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>

  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" class="miga-container">
    <div fxflex="nogrow">
      <span (click)="cerrar()" class="boton-cerrar">Cuenta corriente</span>
    </div>

    <div fxflex="nogrow">
      <mat-icon class="flecha">keyboard_arrow_right</mat-icon>
    </div>

    <div fxflex="nogrow">
      <span class="numero-miga">Movimiento {{movimiento.comprobante}}</span>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="13px" class="movimiento-info-container">

    <!--Columna info movimiento-->
    <div fxFlex class="info-container">

      <!--Encabezado-->
      <div fxLayout="column" fxLayoutAlign="center start">

        <!--Icono y monto-->
        <div fxFlex="nogrow">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div fxFlex="40px">
              <img class="icono" *ngIf="movimiento.tipoMovimiento == 'C'" src="assets/varios/entrada24.png" />
              <img class="icono" *ngIf="movimiento.tipoMovimiento == 'D'" src="assets/varios/salida24.png" />
            </div>

            <div fxFlex class="encabezado-texto-importe">
              <!--Pesos-->
              <span *ngIf="movimiento.moneda == 'P'">
                <span
                  [ngClass]="{'signo-positivo': movimiento.importeComprobantePesos > 0, 'signo-negativo': movimiento.importeComprobantePesos < 0 }">
                  {{ (movimiento.importeComprobantePesos < 0) ? '-' : (movimiento.importeComprobantePesos > 0) ? '+' : ''}}
                </span>
                <span class="moneda">{{ movimiento.moneda | moneda }}</span>
                {{ ((movimiento.importeComprobantePesos > 0) ? movimiento.importeComprobantePesos : movimiento.importeComprobantePesos * (-1)) | number: '.2-2'}}
              </span>

              <!--Dolares-->
              <span *ngIf="movimiento.moneda != 'P'">
                <span
                  [ngClass]="{'signo-positivo': movimiento.importeComprobanteDolares > 0, 'signo-negativo': movimiento.importeComprobanteDolares < 0 }">
                  {{ (movimiento.importeComprobanteDolares < 0) ? '-' : (movimiento.importeComprobanteDolares > 0) ? '+' : ''}}
                </span>
                <span class="moneda">{{ movimiento.moneda | moneda }}</span>
                {{ ((movimiento.importeComprobanteDolares > 0) ? movimiento.importeComprobanteDolares : movimiento.importeComprobanteDolares * (-1)) | number: '.2-2'}}
              </span>
            </div>
          </div>
        </div>

        <!--Concepto del movimiento-->
        <div fxFlex="nogrow" class="concepto-movimiento">
          {{movimiento.concepto}}
        </div>

      </div>

      <!--Datos del movimiento-->
      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="100%" class="titulo-apartados">DATOS DEL MOVIMIENTO</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="subtitulo-apartados">MONEDA</div>
        <div fxFlex="50%" class="subtitulo-apartados">TASA DE CAMBIO</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="dato-apartado">{{ movimiento.moneda | moneda }}</div>
        <div fxFlex="50%" class="dato-apartado">AR${{tcHoy | number: '.2-2'}}</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="subtitulo-apartados">DÓLARES</div>
        <div fxFlex="50%" class="subtitulo-apartados">TCC</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="dato-apartado">
          {{ ((movimiento.importeComprobanteDolares > 0) ? movimiento.importeComprobanteDolares : movimiento.importeComprobanteDolares * (-1)) | number: '.2-2'}}
        </div>
        <div fxFlex="50%" class="dato-apartado" *ngIf="movimiento.tipoDeCambio != null">
          AR${{movimiento.tipoDeCambio | number: '.2-2'}}</div>
        <div fxFlex="50%" class="dato-apartado" *ngIf="movimiento.tipoDeCambio == null">-</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="subtitulo-apartados">IVA DIF. TC</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%">
          <div fxFlex="50%" class="dato-apartado">AR${{ivaDiff | number: '.2-2'}}</div>
        </div>
      </div>

    </div>

    <!--Columna botones exportar-->
    <div fxFlex="250px" class="info-container">

      <div fxLayout="column" fxLayoutAlign="center stretch">

        <div fxFlex>
          <button mat-button class="boton-descarga-comprobante" (click)="descargarComprobante()"
            [disabled]="cargando==true">
            <img src="assets/varios/pdf.png" />
            Descargar comprobante
          </button>
        </div>

        <div fxFlex>
          <button mat-button class="boton-descarga-comprobante-alt" (click)="exportarAExcel()"
            [disabled]="cargando==true">
            <img src="assets/varios/excel.svg" />
            Descargar Excel
          </button>
        </div>

        <div fxFlex>
          <button mat-button class="boton-descarga-comprobante-alt" (click)="exportarAPDF()"
            [disabled]="cargando==true">
            <img src="assets/varios/pdf-verde.svg" />
            Descargar PDF
          </button>
        </div>

      </div>

    </div>

  </div>
</div>