<div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
  fxLayoutAlign="space-around stretch">
  

  <div fxFlex="100%">
    <mat-card>

      <mat-card-content>

        <!-- Movimiento para panalla grandes -->
        <!-- Encabezado -->
        <div fxLayout="row" fxLayoutAlign="center space-between">
          <div fxFlex="6%" class="conceptoEncabezado">Fecha</div>
          <mat-divider [vertical]="true"></mat-divider>
          <div fxFlex="12%" class="conceptoEncabezado">Comprobante</div>
          <mat-divider [vertical]="true"></mat-divider>
          <div fxFlex="6%" class="conceptoEncabezado">Brutos</div>
          <mat-divider [vertical]="true"></mat-divider>

          <div fxFlex="6%">
            <div fxLayout="row" fxLayoutAlign="start space-between">
              <div fxFlex="100%" class="conceptoEncabezado">Humedad</div>
            </div>

            <div fxLayout="row" fxLayoutAlign="center space-between">
              <div fxFlex="50%" class="conceptoEncabezado">%</div>
              <mat-divider [vertical]="true"></mat-divider>
              <div fxFlex="50%" class="conceptoEncabezado">Kg.</div>
            </div>
          </div>

          <mat-divider [vertical]="true"></mat-divider>

          <div fxFlex="6%">
            <div fxLayout="row" fxLayoutAlign="start space-between">
              <div fxFlex="100%" class="conceptoEncabezado">Zarandeo</div>
            </div>

            <div fxLayout="row" fxLayoutAlign="center space-between">
              <div fxFlex="50%" class="conceptoEncabezado">%</div>
              <mat-divider [vertical]="true"></mat-divider>
              <div fxFlex="50%" class="conceptoEncabezado">Kg.</div>
            </div>
          </div>

          <mat-divider [vertical]="true"></mat-divider>

          <div fxFlex="6%">
            <div fxLayout="row" fxLayoutAlign="start space-between">
              <div fxFlex="100%" class="conceptoEncabezado">Volátil</div>
            </div>

            <div fxLayout="row" fxLayoutAlign="center space-between">
              <div fxFlex="50%" class="conceptoEncabezado">%</div>
              <mat-divider [vertical]="true"></mat-divider>
              <div fxFlex="50%" class="conceptoEncabezado">Kg.</div>
            </div>
          </div>

          <mat-divider [vertical]="true"></mat-divider>
          <div fxFlex="8%" class="conceptoEncabezado">Factor/Grado</div>
          <mat-divider [vertical]="true"></mat-divider>
          <div fxFlex="6%" class="conceptoEncabezado">Netos</div>
          <mat-divider [vertical]="true"></mat-divider>
          <div fxFlex="2%" class="conceptoEncabezado">Pla</div>
          <mat-divider [vertical]="true"></mat-divider>
          <div fxFlex="7%" class="conceptoEncabezado">N1116A</div>
          <mat-divider [vertical]="true"></mat-divider>
          <div fxFlex="5%" class="conceptoEncabezado">RM/CP</div>
          <mat-divider [vertical]="true"></mat-divider>
          <div fxFlex="6%" class="conceptoEncabezado">ACARREO</div>
          <mat-divider [vertical]="true"></mat-divider>
          <div fxFlex class="conceptoEncabezado">Empresa Transp.</div>
        </div>

        <!--Movimientos agrupados-->
        <span
          *ngFor="let movimientoAgrupado of (listadoEntregasAgrupadasPorCampo ? listadoEntregasAgrupadasPorCampo : [])">

          <!--Informacion del campo-->
          <div fxLayout="row" fxLayoutAlign="start none">
            <div fxFlex="6%"></div>
            <div fxFlex="94%" class="tituloCampo">{{movimientoAgrupado.campo}}</div>
          </div>

          <!--Listados de movimientos del campo-->
          <div fxLayout="row" fxLayoutAlign="center space-between" class="movimiento"
            *ngFor="let movimiento of movimientoAgrupado.listado; index as i" 
            [ngClass]="i%2 == 0 ? 'filaPar' : 'filaImpar'" fxLayoutGap="0.5%">

            <div fxFlex="6%" class="conceptoListaCompleta">{{movimiento.fecha}}</div>
            <div fxFlex="12%" class="conceptoListaCompleta">{{movimiento.comprobante}}</div>
            <div fxFlex="6%" class="importeListaCompleta">{{movimiento.kilosBrutos | number: '.0'}}</div>
            <div fxFlex="3%" class="importeListaCompleta">{{movimiento.porcentajeHumedad | number: '.2'}}</div>
            <div fxFlex="3%" class="importeListaCompleta">{{movimiento.kgMermaHumedad | number: '.0'}}</div>
            <div fxFlex="2%" class="importeListaCompleta">{{movimiento.porcentajeZarandeo | number: '.2'}}</div>
            <div fxFlex="2%" class="importeListaCompleta">{{movimiento.kgMermaZarandeo | number: '.0'}}</div>
            <div fxFlex="3%" class="importeListaCompleta">{{movimiento.porcentajeVolatil | number: '.2'}}</div>
            <div fxFlex="3%" class="importeListaCompleta">{{movimiento.kgMermaVolatil | number: '.0'}}</div>
            <div fxFlex="8%" class="importeListaCompleta">{{movimiento.factor}}/{{movimiento.grado}}</div>
            <div fxFlex="6%" class="importeListaCompleta">{{movimiento.kilosNetos | number: '.0'}}</div>
            <div fxFlex="2%" class="importeListaCompleta">{{movimiento.planta}}</div>
            <div fxFlex="7%" class="importeListaCompleta">{{movimiento.n1116A}}</div>
            <div fxFlex="5%" class="importeListaCompleta">{{movimiento.numeroComprobanteExterno}}</div>
            <div fxFlex="6%" class="conceptoListaCompleta">{{movimiento.acarreo}}</div>
            <div fxFlex class="conceptoListaCompleta">{{movimiento.empresaTransporte}}</div>

          </div>

          <!-- Total del campo -->
          <div fxLayout="row" fxLayoutAlign="start none">
            <div fxFlex="6%"></div>
            <div fxFlex="12%" class="tituloTotalCampo">TOTAL CAMPO:</div>
            <div fxFlex="6%" class="importeTotalCampo">{{movimientoAgrupado.totales.totalKgBrutos | number: '.0'}}</div>
            <div fxFlex="3%"></div>
            <div fxFlex="3%" class="importeTotalCampo">{{movimientoAgrupado.totales.totalKgHumedad | number: '.0'}}
            </div>
            <div fxFlex="3%"></div>
            <div fxFlex="3%" class="importeTotalCampo">{{movimientoAgrupado.totales.totalKgZarandeo | number: '.0'}}
            </div>
            <div fxFlex="3%"></div>
            <div fxFlex="3%" class="importeTotalCampo">{{movimientoAgrupado.totales.totalKgVolatil | number: '.0'}}
            </div>
            <div fxFlex="8%"></div>
            <div fxFlex="3%" class="importeTotalCampo">{{movimientoAgrupado.totales.totalKgNetos | number: '.0'}}</div>
            <div fxFlex="2%"></div>
            <div fxFlex="7%" class="tituloTotalCampo">ENTREGAS:</div>
            <div fxFlex="5%" class="importeTotalCampo">{{movimientoAgrupado.totales.cantidadEntregas | number: '.0'}}
            </div>
          </div>

          <mat-divider></mat-divider>
        </span>

      </mat-card-content>
    </mat-card>
  </div>

  <button [disabled]="cargando==true" mat-mini-fab class="custom-button" 
    >
    <mat-icon aria-label="Más opciones">list</mat-icon>
  </button>
</div>