<div class="contenedor-header" *ngIf="listadoEntregas && listadoEntregas.length > 0">
  <app-entregas-header-item-desktop [unidadMedida]="unidadMedida"></app-entregas-header-item-desktop>
</div>

<div class="contenedor-listado" fxLayout="column" fxLayoutWrap fxLayoutAlign="none" infiniteScroll
  [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false">

  <app-entregas-item-desktop *ngFor="let movimiento of listadoEntregas" (click)="verDetalle(movimiento)"
    [movimiento]="movimiento" [unidadMedida]="unidadMedida">
  </app-entregas-item-desktop>

  <!--Spinner-->
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="cargando" style="margin-top: 10px">
    <mat-spinner diameter="24"></mat-spinner>
  </div>

  <!--Si no hay datos a mostrar-->
  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="!cargando && listadoEntregas && listadoEntregas.length == 0" class="info-sin-data-container">
      <div fxFlex="nogrow">
          <img src="assets/varios/sin-data.png" class="info-sin-data-img"/>
      </div>

      <div fxFlex="nogrow" class="info-sin-data-text">
          Cuando tengamos información de tus entregas la podrás ver aquí.
      </div>
  </div>
</div>
