<mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>
<div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
  fxLayoutAlign="space-around stretch">

  <div fxFlex="100%">
    <div *ngIf="totales" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%"
      fxLayoutAlign="space-around stretch">
      <div fxFlex="16%">
        <h4 mat-dialog-title align="center">{{unidadMedida | kilosTextoA: 'largo'}} brutos</h4>
        <mat-dialog-content class="mat-typography">
          <p align="center">{{totales.totalKgBrutos | kilosA: unidadMedida | number: '.2'}}
            {{unidadMedida | kilosTextoA}}</p>
        </mat-dialog-content>
      </div>

      <div fxFlex="16%">
        <h4 mat-dialog-title align="center">{{unidadMedida | kilosTextoA: 'largo'}} humedad</h4>
        <mat-dialog-content class="mat-typography">
          <p align="center">{{totales.totalKgHumedad | kilosA: unidadMedida | number: '.2'}}
            {{unidadMedida | kilosTextoA}}</p>
        </mat-dialog-content>
      </div>

      <div fxFlex="16%">
        <h4 mat-dialog-title align="center">{{unidadMedida | kilosTextoA: 'largo'}} zarandeo</h4>
        <mat-dialog-content class="mat-typography">
          <p align="center">{{totales.totalKgZarandeo | kilosA: unidadMedida | number: '.2'}}
            {{unidadMedida | kilosTextoA}}</p>
        </mat-dialog-content>
      </div>

      <div fxFlex="16%">
        <h4 mat-dialog-title align="center">{{unidadMedida | kilosTextoA: 'largo'}} volátil</h4>
        <mat-dialog-content class="mat-typography">
          <p align="center">{{totales.totalKgVolatil | kilosA: unidadMedida | number: '.2'}}
            {{unidadMedida | kilosTextoA}}</p>
        </mat-dialog-content>
      </div>

      <div fxFlex="16%">
        <h4 mat-dialog-title align="center">{{unidadMedida | kilosTextoA: 'largo'}} netos</h4>
        <mat-dialog-content class="mat-typography">
          <p align="center">{{totales.totalKgNetos | kilosA: unidadMedida | number: '.2'}}
            {{unidadMedida | kilosTextoA}}</p>
        </mat-dialog-content>
      </div>

      <div fxFlex="16%">
        <h4 mat-dialog-title align="center">Entregas</h4>
        <mat-dialog-content class="mat-typography">
          <p align="center">{{ totales.cantidadEntregas }}</p>
        </mat-dialog-content>
      </div>
    </div>
  </div>

  <div fxFlex="100%">
    <mat-card>
      <mat-card-title>Entregas</mat-card-title>

      <mat-card-content>
        <!-- Encabezado -->
        <div fxLayout="row" fxLayoutAlign="center space-between">
          <div fxFlex="6%" class="conceptoEncabezado">Fecha</div>
          <mat-divider [vertical]="true"></mat-divider>
          <div fxFlex="12%" class="conceptoEncabezado">Comprobante</div>
          <mat-divider [vertical]="true"></mat-divider>
          <div fxFlex="6%" class="conceptoEncabezado">Brutos</div>
          <mat-divider [vertical]="true"></mat-divider>

          <div fxFlex="6%">
            <div fxLayout="row" fxLayoutAlign="start space-between">
              <div fxFlex="100%" class="conceptoEncabezado">Humedad</div>
            </div>

            <div fxLayout="row" fxLayoutAlign="center space-between">
              <div fxFlex="50%" class="conceptoEncabezado">%</div>
              <mat-divider [vertical]="true"></mat-divider>
              <div fxFlex="50%" class="conceptoEncabezado">{{unidadMedida | kilosTextoA}}</div>
            </div>
          </div>

          <mat-divider [vertical]="true"></mat-divider>

          <div fxFlex="6%">
            <div fxLayout="row" fxLayoutAlign="start space-between">
              <div fxFlex="100%" class="conceptoEncabezado">Zarandeo</div>
            </div>

            <div fxLayout="row" fxLayoutAlign="center space-between">
              <div fxFlex="50%" class="conceptoEncabezado">%</div>
              <mat-divider [vertical]="true"></mat-divider>
              <div fxFlex="50%" class="conceptoEncabezado">{{unidadMedida | kilosTextoA}}</div>
            </div>
          </div>

          <mat-divider [vertical]="true"></mat-divider>

          <div fxFlex="6%">
            <div fxLayout="row" fxLayoutAlign="start space-between">
              <div fxFlex="100%" class="conceptoEncabezado">Volátil</div>
            </div>

            <div fxLayout="row" fxLayoutAlign="center space-between">
              <div fxFlex="50%" class="conceptoEncabezado">%</div>
              <mat-divider [vertical]="true"></mat-divider>
              <div fxFlex="50%" class="conceptoEncabezado">{{unidadMedida | kilosTextoA}}</div>
            </div>
          </div>

          <mat-divider [vertical]="true"></mat-divider>
          <div fxFlex="8%" class="conceptoEncabezado">Factor/Grado</div>
          <mat-divider [vertical]="true"></mat-divider>
          <div fxFlex="6%" class="conceptoEncabezado">Netos</div>
          <mat-divider [vertical]="true"></mat-divider>
          <div fxFlex="2%" class="conceptoEncabezado">Pla</div>
          <mat-divider [vertical]="true"></mat-divider>
          <div fxFlex="7%" class="conceptoEncabezado">N1116A</div>
          <mat-divider [vertical]="true"></mat-divider>
          <div fxFlex="5%" class="conceptoEncabezado">RM/CP</div>
          <mat-divider [vertical]="true"></mat-divider>
          <div fxFlex="6%" class="conceptoEncabezado">ACARREO</div>
          <mat-divider [vertical]="true"></mat-divider>
          <div fxFlex class="conceptoEncabezado">Empresa Transp.</div>
        </div>

        <!--Movimientos agrupados-->
        <span
          *ngFor="let movimientoAgrupado of (listadoEntregasAgrupadasPorCampo ? listadoEntregasAgrupadasPorCampo : [])">

          <!--Informacion del campo-->
          <div fxLayout="row" fxLayoutAlign="start none">
            <div fxFlex="6%"></div>
            <div fxFlex="94%" class="tituloCampo">{{movimientoAgrupado.campo}}</div>
          </div>

          <!--Listados de movimientos del campo-->
          <div fxLayout="row" fxLayoutAlign="center space-between" class="movimiento"
            *ngFor="let movimiento of movimientoAgrupado.listado; index as i" (click)="verDetalle(movimiento)"
            [ngClass]="i%2 == 0 ? 'filaPar' : 'filaImpar'" fxLayoutGap="0.5%">

            <div fxFlex="6%" class="conceptoListaCompleta">{{movimiento.fecha}}</div>
            <div fxFlex="12%" class="conceptoListaCompleta">{{movimiento.comprobante}}</div>
            <div fxFlex="6%" class="importeListaCompleta">
              {{movimiento.kilosBrutos | kilosA: unidadMedida | number: '.0'}}
            </div>
            <div fxFlex="3%" class="importeListaCompleta">
              {{movimiento.porcentajeHumedad | number: '.2'}}</div>
            <div fxFlex="3%" class="importeListaCompleta">
              {{movimiento.kgMermaHumedad | kilosA: unidadMedida | number: '.0'}}
            </div>
            <div fxFlex="2%" class="importeListaCompleta">
              {{movimiento.porcentajeZarandeo | number: '.2'}}</div>
            <div fxFlex="2%" class="importeListaCompleta">
              {{movimiento.kgMermaZarandeo | kilosA: unidadMedida | number: '.0'}}
            </div>
            <div fxFlex="3%" class="importeListaCompleta">
              {{movimiento.porcentajeVolatil | number: '.2'}}</div>
            <div fxFlex="3%" class="importeListaCompleta">
              {{movimiento.kgMermaVolatil | kilosA: unidadMedida | number: '.0'}}
            </div>
            <div fxFlex="8%" class="importeListaCompleta">{{movimiento.factor}}/{{movimiento.grado}}
            </div>
            <div fxFlex="6%" class="importeListaCompleta">
              {{movimiento.kilosNetos | kilosA: unidadMedida | number: '.0'}}</div>
            <div fxFlex="2%" class="importeListaCompleta">{{movimiento.planta}}</div>
            <div fxFlex="7%" class="importeListaCompleta">{{movimiento.n1116A}}</div>
            <div fxFlex="5%" class="importeListaCompleta">{{movimiento.numeroComprobanteExterno}}</div>
            <div fxFlex="6%" class="conceptoListaCompleta">{{movimiento.acarreo}}</div>
            <div fxFlex class="conceptoListaCompleta">{{movimiento.empresaTransporte}}</div>

          </div>

          <!-- Total del campo -->
          <div fxLayout="row" fxLayoutAlign="start none">
            <div fxFlex="6%"></div>
            <div fxFlex="12%" class="tituloTotalCampo">TOTAL CAMPO:</div>
            <div fxFlex="6%" class="importeTotalCampo">
              {{movimientoAgrupado.totales.totalKgBrutos | kilosA: unidadMedida | number: '.0'}}
            </div>
            <div fxFlex="3%"></div>
            <div fxFlex="3%" class="importeTotalCampo">
              {{movimientoAgrupado.totales.totalKgHumedad | kilosA: unidadMedida | number: '.0'}}
            </div>
            <div fxFlex="3%"></div>
            <div fxFlex="3%" class="importeTotalCampo">
              {{movimientoAgrupado.totales.totalKgZarandeo | kilosA: unidadMedida | number: '.0'}}
            </div>
            <div fxFlex="3%"></div>
            <div fxFlex="3%" class="importeTotalCampo">
              {{movimientoAgrupado.totales.totalKgVolatil | kilosA: unidadMedida | number: '.0'}}
            </div>
            <div fxFlex="8%"></div>
            <div fxFlex="3%" class="importeTotalCampo">
              {{movimientoAgrupado.totales.totalKgNetos | kilosA: unidadMedida | number: '.0'}}
            </div>
            <div fxFlex="2%"></div>
            <div fxFlex="7%" class="tituloTotalCampo">ENTREGAS:</div>
            <div fxFlex="5%" class="importeTotalCampo">
              {{movimientoAgrupado.totales.cantidadEntregas | number: '.0'}}
            </div>
          </div>

          <mat-divider></mat-divider>
        </span>

      </mat-card-content>
    </mat-card>
  </div>

  <button [disabled]="cargando==true" mat-mini-fab class="custom-button" (click)="verOpcionesExtras()"
    *ngIf="listadoEntregasAgrupadasPorCampo != null">
    <mat-icon aria-label="Más opciones">list</mat-icon>
  </button>
</div>