<div fxLayout="row" fxLayoutAlign="center" class="encabezado-filtro">
  <div fxFlex="80%" class="texto-filtrar">
    FILTRAR
  </div>

  <div fxFlex="20%">
    <button mat-icon-button class="boton-close" (click)="cerrar()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<!--Productos-->
<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="100%" class="titulo-filtro">
    Producto
  </div>
</div>

<mat-button-toggle-group class="grupo-botones-rubro" [(ngModel)]="rubro">

  <div *ngFor="let rubro of (rubros ? rubros : [])" class="boton-rubro">
    <mat-button-toggle value="{{rubro.codigo}}">
      <img src="{{rubro.imagen}}" />
      <div class="texto-rubro">{{rubro.texto}}</div>
    </mat-button-toggle>
  </div>

</mat-button-toggle-group>

<mat-divider></mat-divider>

<!--Monedas-->
<span>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="100%" class="titulo-filtro" style="padding-top: 20px;">
      Moneda
    </div>
  </div>
  
  <div class="button" style="padding-top: 20px;">
    <mat-radio-group fxLayout="column" style="padding-left: 20px;">
      <mat-radio-button style="margin-top: 10px;" value="1">Dolares (USD)</mat-radio-button>
      <mat-radio-button style="margin-top: 10px; margin-bottom: 10px;" value="2">Pesos (ARS)</mat-radio-button>
    </mat-radio-group>
  </div>
  
</span>

<mat-divider></mat-divider>

<!--Vencimientos-->
<span>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="100%" class="titulo-filtro" style="padding-top: 20px;">
      Vencimiento
    </div>
  </div>
  
  <div class="button" style="padding-top: 20px;">
    <mat-radio-group fxLayout="column" style="padding-left: 20px;">
      <mat-radio-button style="margin-top: 10px;" value="1">Vencidos</mat-radio-button>
      <mat-radio-button style="margin-top: 10px; margin-bottom: 10px;" value="2">Por vencer</mat-radio-button>
    </mat-radio-group>
  </div>
</span>
