<mat-sidenav-container class="contenedor-filtro">
	<mat-sidenav #menuFiltro position="end" class="sidenav-filtro">
		<app-cereales-filtro [filtrosEspecieCosecha]="filtrosEspecieCosecha" [cuenta]="cuenta"
			(botonCerrar)="menuFiltro.toggle()" (botonAplicar)="cargarListado($event)"></app-cereales-filtro>
	</mat-sidenav>
	<section>
		<app-tool-bar-general [titulo]="'Ventas'" [disabled]="false"
			(botonPersonalizadoEjecutado)="mostrarOcultarFiltros()"
			[urlImagenAccionPersonalizada]="'assets/toolbar/embudo.png'"></app-tool-bar-general>

		<app-ventas-lista-movil [observerFiltroListadoMovil$]="observerFiltroListadoMovil$"
			(seleccionMovimiento)="verDetalle($event)" (cargandoChange)="mostrarIndicadorLoading($event)">
		</app-ventas-lista-movil>

		<!--<app-ventas-lista-desktop *ngIf="esCelular===false"
			[observerFiltroListadoDesktop$]="observerFiltroListadoDesktop$" (seleccionMovimiento)="verDetalle($event)">
		</app-ventas-lista-desktop>-->
	</section>
</mat-sidenav-container>

<!--<app-loading [cargando$]="cargando$"></app-loading>-->