/*sidebar*/

.contenedor-filtro {
  height: 100%;
}

.sidenav-filtro {
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  width: 70%;
  max-width: 270px;
}

.hide {
  display: none;
}

.contenedor-titulo-filtro {
  overflow-x: hidden;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 132px;
  padding-bottom: 28px;
}

.titulo-seccion {
  color: #333333;
  font-family: Rubik;
  font-size: 20px;
}