<!--Modo movil-->
<mat-sidenav-container class="contenedor-filtro" *ngIf="esCelular != null && esCelular == true">
	<mat-sidenav #menuFiltro position="end" class="sidenav-filtro">
		<app-cereales-filtro [filtrosEspecieCosecha]="filtrosEspecieCosecha" [cuenta]="cuenta"
			(botonCerrar)="menuFiltro.toggle()" (botonAplicar)="cargarListado($event)"></app-cereales-filtro>
	</mat-sidenav>
	<section>
		<app-tool-bar-general [titulo]="'Ventas'" [disabled]="false"
			(botonPersonalizadoEjecutado)="mostrarOcultarFiltros()"
			[urlImagenAccionPersonalizada]="'assets/toolbar/embudo.png'"></app-tool-bar-general>

		<app-ventas-lista-movil *ngIf="esCelular===true" [observerFiltro$]="observerFiltro$"
			(seleccionMovimiento)="verDetalle($event)" (cargandoChange)="mostrarIndicadorLoading($event)">
		</app-ventas-lista-movil>

	</section>
</mat-sidenav-container>

<!--Modo desktop-->
<span [ngClass]="{'hide': modoDetalleDesktop}">
	<div fxLayout="row" fxLayoutAlign="space-between center" class="contenedor-titulo-filtro" fxLayoutGap="20px"
		*ngIf="esCelular != null && esCelular == false">

		<div fxFlex="93px" class="titulo-seccion">
			Ventas
		</div>

		<div fxFlex>
			<app-cereales-filtro-desktop [filtrosEspecieCosecha]="filtrosEspecieCosecha" [cuenta]="cuenta"
				(botonAplicar)="cargarListado($event)" [disabled]="cargando || cargandoFiltros">
			</app-cereales-filtro-desktop>
		</div>

	</div>

	<app-ventas-lista-desktop *ngIf="esCelular===false" (seleccionMovimiento)="verDetalleDesktop($event)"
		(cargandoChange)="mostrarIndicadorLoading($event)" [observerFiltro$]="observerFiltro$"
		(seleccionMovimiento)="verDetalleDesktop($event)">
	</app-ventas-lista-desktop>

</span>

<span [ngClass]="{'hide': !modoDetalleDesktop}">
	<app-ventas-detalle-desktop (salir)="salirModoDetalleDesktop()"
		[modoDetalleDesktopMovimiento$]="modoDetalleDesktopMovimiento$">
	</app-ventas-detalle-desktop>
</span>