<div *ngIf="saldo != null && cargando == false" class="contenedor-saldo">

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex class="subtitulo-apartados">Saldo ARS</div>
    <div fxFlex class="subtitulo-apartados">Saldo USD</div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex class="monto">
      <span [ngClass]="{'signo-positivo': saldo.saldoPesos > 0, 'signo-negativo': saldo.saldoPesos < 0 }">
        {{ (saldo.saldoPesos < 0) ? '-' : (saldo.saldoPesos > 0) ? '+' : ''}}
      </span>
      {{ ((saldo.saldoPesos > 0) ? saldo.saldoPesos : saldo.saldoPesos * (-1)) | number: '.2'}}
      <span class="moneda">ARS</span>
    </div>
    <div fxFlex class="monto">
      <span [ngClass]="{'signo-positivo': saldo.saldoDolares > 0, 'signo-negativo': saldo.saldoDolares < 0 }">
        {{ (saldo.saldoDolares < 0) ? '-' : (saldo.saldoDolares > 0) ? '+' : ''}}
      </span>
      {{ ((saldo.saldoDolares > 0) ? saldo.saldoDolares : saldo.saldoDolares * (-1)) | number: '.2'}}
      <span class="moneda">USD</span>
    </div>
  </div>

</div>