<button mat-button [matMenuTriggerFor]="menu" class="boton-filtro">{{ leyendaFiltro() }} <mat-icon
    [ngStyle]="{'color': '#2DA442'}">
    keyboard_arrow_down</mat-icon></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="seleccionarSeccion(seccionComprobante.COMPROBANTES)"
    [ngClass]="{'activo': seccionComprobanteSeleccionado == seccionComprobante.COMPROBANTES, 'inactivo': seccionComprobanteSeleccionado != seccionComprobante.COMPROBANTES }">
    Comprobantes
  </button>

  <button mat-menu-item (click)="seleccionarSeccion(seccionComprobante.TENENCIAS_IMPOSITIVAS)"
    [ngClass]="{'activo': seccionComprobanteSeleccionado == seccionComprobante.TENENCIAS_IMPOSITIVAS, 'inactivo': seccionComprobanteSeleccionado != seccionComprobante.TENENCIAS_IMPOSITIVAS }">
    Tenencias impositivas
  </button>

</mat-menu>