<mat-sidenav-container [ngClass]="{'contenedor-solicitudes': esCelular, 'contenedor-desktop': !esCelular }">
  <mat-sidenav #menuSolicitudes position="end" class="sidenav-filtro">
    <app-inicio-filtro (botonCerrar)="menuSolicitudes.toggle()" [observerFiltro$]="observerFiltro$">
    </app-inicio-filtro>
  </mat-sidenav>

  <section>
    <div class="fondo-gris" [ngClass]="{'fondo-gris': esCelular, 'fondo-gris-desktop': !esCelular}">

      <app-tool-bar-general *ngIf="esCelular" [titulo]="'Gestión de solicitudes'" [disabled]="false">
      </app-tool-bar-general>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h3 class="titulo-card">Solicitudes de pago</h3>
        <button mat-button (click)="mostrarOcultarFiltros()">Filtrar</button>
      </div>

      <app-gestion-de-solicitudes-listado [observerFiltro$]="observerFiltro$"></app-gestion-de-solicitudes-listado>
    </div>
  </section>

</mat-sidenav-container>