<div fxLayout="row" fxLayoutAlign="space-around center" class="container">

  <div fxFlex="24px">
    <mat-checkbox></mat-checkbox>
  </div>

  <div fxFlex="100px">
    Fecha comp.
  </div>

  <div fxFlex="150px">
    Concepto
  </div>

  <div fxFlex="120px">
    Comprobante
  </div>

  <div fxFlex="100px">
    Fecha venc.
  </div>

  <div fxFlex="70px">
    Moneda
  </div>

  <div fxFlex="120px">
    Debe
  </div>

  <div fxFlex="120px">
    Haber
  </div>

  <div fxFlex="120px">
    Saldo en ARS
  </div>

  <div fxFlex="120px">
    Saldo en USD
  </div>

</div>