<div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" style="margin-right: 13px;">

  <!--Fecha desde-->
  <div fxFlex="nogrow" class="boton-container" style="overflow: hidden">
    <input readonly [(ngModel)]="fechaDesde" matInput [matDatepicker]="desde" class="input-fecha" placeholder="Desde">
    <mat-datepicker-toggle matSuffix [for]="desde" [disabled]="disabled"></mat-datepicker-toggle>
    <mat-datepicker touchUi #desde></mat-datepicker>
  </div>

  <!--Fecha hasta-->
  <div fxFlex="nogrow" class="boton-container" style="overflow: hidden">
    <input readonly [(ngModel)]="fechaHasta" matInput [matDatepicker]="hasta" class="input-fecha" placeholder="Hasta">
    <mat-datepicker-toggle matSuffix [for]="hasta" [disabled]="disabled"></mat-datepicker-toggle>
    <mat-datepicker touchUi #hasta></mat-datepicker>
  </div>

  <div fxFlex="nogrow">
    <button mat-button class="boton-blanco" (click)="limpiar()" [disabled]="disabled">Limpiar</button>
  </div>

  <div fxFlex="nogrow">
    <button mat-button class="boton-aplicar" (click)="aplicar()"
      [disabled]="disabled || esFechasValido">Aplicar</button>
  </div>

  <div fxFlex="nogrow">
    <button mat-button class="boton-blanco" (click)="descargarExcel()" [disabled]="disabled">Descargar
      XLSX</button>
  </div>

</div>