.contenedor-listado {
    height: 75vh;
    overflow-y: scroll;
    margin-top: 5px;
}

/* encabezado */

.encabezado-notificaciones {
    padding-top: 20px;
}

.encabezado-notificaciones-desktop {
    padding-top: 122px;
}

.texto-notificaciones {
    color: #999999;
    font-family: Rubik;
    font-size: 12px;
    letter-spacing: 1.2px;
    padding-left: 20px;
}

.boton-close {
    margin-top: -35px;
}