mat-form-field {
    width: 100%;
}

.custom-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.radio-group {
    display: inline-flex;
    flex-direction: column;
}

.radio-button {
    margin: 5px;
}

.ok {
    color: green !important;
}

.bad {
    color: red !important;
}