<div class="contenedor-listado" fxLayout="column" fxLayoutWrap fxLayoutAlign="none" infiniteScroll
	[infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false">

	<mat-selection-list (ngModelChange)="actualizarSeleccion($event)" [(ngModel)]="comprobantesSeleccionados">
		<mat-list-option *ngFor="let comprobante of comprobantes" [value]="comprobante" class="comprobante-fila" [disabled]="comprobante.existeArchivo == false">

			<div fxLayout="row" fxLayoutAlign="space-between center">

				<div fxFlex="24px">
					<mat-icon svgIcon="pdf"></mat-icon>
				</div>

				<div fxFlex class="identificacion-comprobante">
					{{comprobante.comprobante}}
				</div>

			</div>

			<div fxLayout="row" fxLayoutAlign="space-between center">
				<div fxFlexOffset="24px" fxFlex [ngClass]="(comprobante.existeArchivo)?'ok':'bad'">
					{{ comprobante.existeArchivo ? 'Disponible para su descarga' : 'No disponible para su descarga' }}
				</div>
			</div>
		</mat-list-option>
	</mat-selection-list>

	<!--Spinner-->
	<div fxLayout="row" fxLayoutAlign="center center" *ngIf="cargando == true" style="margin-top: 10px">
		<mat-spinner diameter="24"></mat-spinner>
	</div>

</div>

<!--Boton de descarga del comprobante-->
<div fxLayout="row" fxLayoutAlign="space-between center" class="botonera">
	<div fxFlex="100%">
		<button mat-button class="boton-descarga-comprobante" (click)="descargar()"
			[disabled]="cargando==true || comprobantesSeleccionados.length == 0 || comprobantes.length == 0">
			Descargar seleccionados
		</button>
	</div>
</div>