<mat-card class="card-container">

  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
    <div fxFlex="nogrow" (click)="verDetalle()">
      <img class="icono" src="{{disponible.especieCodigo | imagenEspecie}}" />
    </div>

    <div fxFlex class="titulo-principal">
      {{ disponible.especieDescripcion }}
    </div>

    <div fxFlex="nogrow" class="titulo-principal" align="end">
      <button mat-button class="link-ver-todas" (click)="solicitarInfo()">
        <mat-icon>info</mat-icon>Precio de {{ disponible.especieDescripcion | lowercase }}
      </button>
    </div>
  </div>

  <p style="color: #999;">Si quisieras pagar solo con
    {{ disponible.especieDescripcion | lowercase }}, tendrías que sumar 7,200 Tn de este cultivo.</p>

    



  <div class="card" fxLayoutAlign="space-between center">
    <div class="60%" fxLayout="column">
      <h5 style="margin-top: 5px;">Stock a fijar</h5>
      <h3 style="margin-top: -15px; margin-bottom: 3px;">Tn</h3>
      <mat-divider></mat-divider>
      <h6 style="margin-top: 3px;">Disponible:  Tn</h6>
    </div>
    <div class="40%" fxLayout="row" align="end">
      <button mat-button class="link-ver-todas">Definir boletos<mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
  </div>

  <div class="card" fxLayoutAlign="space-between center" *ngFor="let items of stockPesificar">
    <div class="60%" fxLayout="column">
      <h5 style="margin-top: 5px;">Stock a pesificar</h5>
      <h3 style="margin-top: -15px; margin-bottom: 3px;"> Tn</h3>
      <mat-divider></mat-divider>
      <h6 style="margin-top: 3px;">Disponible:  Tn</h6>
    </div>
    <div class="40%" fxLayout="row" align="end">
      <button mat-button class="link-ver-todas">Definir boletos<mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
  </div>

</mat-card>