<mat-card class="card">

  <div fxLayout="row" fxFlex="100%" style="padding: 5px;" fxLayoutAlign="space-between center">
    <div fxFlex="38px" (click)="verDetalle()">
      <img class="icono" src="{{disponible.especieCodigo | imagenEspecie}}" />
    </div>

    <div fxFlex class="titulo-principal">
      {{ disponible.especieDescripcion }}
    </div>

    <div fxFlex="40%" class="titulo-principal" align="end">
      <button mat-button class="link-ver-todas" (click)="solicitarInfo()">
        <mat-icon>info</mat-icon>Precio de {{ disponible.especieDescripcion | lowercase }}
      </button>
    </div>
  </div>

  <div fxLayout="row" fxFlex="100%" style="padding: 5px; padding-top: 10px;" fxLayoutAlign="space-between center">
    <p style="color: #999; margin-left: 10px;">Si quisieras pagar solo con
      {{ disponible.especieDescripcion | lowercase }}, tendrías que sumar 7,200 Tn de este cultivo.</p>
  </div>

  <div class="card" fxLayoutAlign="space-between center">
    <div class="60%" fxLayout="column">
      <h5 style="margin-top: 5px;">Stock a fijar</h5>
      <h3 style="margin-top: -15px; margin-bottom: 3px;">{{item.cantidadF}} Tn</h3>
      <mat-divider></mat-divider>
      <h6 style="margin-top: 3px;">Disponible: {{item.cantidadFDisponible}} Tn</h6>
    </div>
    <div class="40%" fxLayout="row" align="end">
      <button mat-button class="link-ver-todas">Definir boletos<mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
  </div>

  <div class="card" fxLayoutAlign="space-between center" *ngFor="let items of stockPesificar">
    <div class="60%" fxLayout="column">
      <h5 style="margin-top: 5px;">Stock a pesificar</h5>
      <h3 style="margin-top: -15px; margin-bottom: 3px;">{{items.cantidadP}} Tn</h3>
      <mat-divider></mat-divider>
      <h6 style="margin-top: 3px;">Disponible: {{items.cantidadPDisponible}} Tn</h6>
    </div>
    <div class="40%" fxLayout="row" align="end">
      <button mat-button class="link-ver-todas">Definir boletos<mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
  </div>

</mat-card>