<mat-card class="card-container">

  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
    <div fxFlex="nogrow">
      <img class="icono" src="{{disponible.especieCodigo | imagenEspecie}}" />
    </div>

    <div fxFlex class="titulo-principal">
      {{ disponible.especieDescripcion }}
    </div>

    <div fxFlex="nogrow" class="titulo-principal" align="end">
      <button mat-button class="link-ver-todas" (click)="mostrarPizarra()">
        <mat-icon>info</mat-icon>Precio de {{ disponible.especieDescripcion | lowercase }}
      </button>
    </div>
  </div>

  <!--Spinner-->
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="cargando == true" style="margin-top: 10px;">
    <mat-spinner diameter="24"></mat-spinner>
  </div>

  <p style="color: #999;" *ngIf="!cargando && cantidadNecesariaParaSaldarConCanje">Si quisieras pagar solo con
    {{ disponible.especieDescripcion | lowercase }}, tendrías que sumar
    {{ cantidadNecesariaParaSaldarConCanje | number: '.0-2' }} {{unidadMedida | kilosTextoA}} de este cultivo.</p>

  <mat-card>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px" style="margin-bottom: 10px;">

      <div fxFlex="55%">

        <div fxLayout="column" fxLayoutAlign="space-between start">
          <div fxFlex>Stock a fijar</div>
          <div fxFlex style="border-bottom: 1px solid #999999;" (change)="notificarImporteCalculado()"
            (keyup)="notificarImporteCalculado()"><input [(ngModel)]="stockAFijar" numeric numericType="decimal"
              style="border: none; width: 80px;" /> {{unidadMedida | kilosTextoA}}</div>
          <div fxFlex class="disponible-text">Disponible: {{ disponibleStockAFijar | number: '.0-2' }}
            {{unidadMedida | kilosTextoA}} </div>
        </div>

      </div>

      <div fxFlex="45%">
        <a routerLink="/definir-boletos"><button mat-button class="link-ver-todas">Definir boletos<mat-icon>keyboard_arrow_right</mat-icon></button></a>
      </div>

    </div>

    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px" style="margin-top: 20px;">

      <div fxFlex="55%">

        <div fxLayout="column" fxLayoutAlign="space-between start">
          <div fxFlex>Stock a pesificar</div>
          <div fxFlex style="border-bottom: 1px solid #999999;"><input [(ngModel)]="stockAPesificar" numeric
              numericType="decimal" style="border: none; width: 80px;" /> {{unidadMedida | kilosTextoA}} </div>
          <div fxFlex class="disponible-text">Disponible: {{ disponibleStockAPesificar | number: '.0-2' }}
            {{unidadMedida | kilosTextoA}} </div>
        </div>

      </div>

      <div fxFlex="45%">
        <a routerLink="/definir-boletos"><button mat-button class="link-ver-todas">Definir boletos<mat-icon>keyboard_arrow_right</mat-icon></button></a>
      </div>

    </div>

  </mat-card>

</mat-card>