<div fxLayout="row" fxLayoutAlign="center" class="encabezado-filtro">
  <div fxFlex="80%" class="texto-filtrar">
    FILTRAR
  </div>

  <div fxFlex="20%">
    <button mat-icon-button class="boton-close" (click)="cerrar()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<!--Productos-->
<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="100%" class="titulo-filtro">
    Rubro
  </div>
</div>

<mat-button-toggle-group class="grupo-botones-rubro" [(ngModel)]="rubro">

  <div *ngFor="let rubro of (rubros ? rubros : [])" class="boton-rubro">
    <mat-button-toggle value="{{rubro.codigo}}">
      <img src="{{rubro.imagen}}" />
      <div class="texto-rubro">{{rubro.texto}}</div>
    </mat-button-toggle>
  </div>

</mat-button-toggle-group>

<!--Rango de fechas-->
<span>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="100%" class="titulo-filtro">
      Fechas
    </div>
  </div>
  
  <div fxLayout="row" fxLayoutAlign="none" class="contenedores-input">
    <p class="input-label">DESDE</p>
  </div>
  
  <div fxLayout="row" fxLayoutAlign="none" class="contenedores-input">
    <input readonly [(ngModel)]="fechaDesde" matInput [matDatepicker]="desde"
      class="input-fecha">
    <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
    <mat-datepicker touchUi #desde></mat-datepicker>
  </div>
  
  <div fxLayout="row" fxLayoutAlign="none" class="contenedores-input">
    <p class="input-label">HASTA</p>
  </div>
  
  <div fxLayout="row" fxLayoutAlign="none" class="contenedores-input">
    <div fxFlex="100%">
      <input readonly [(ngModel)]="fechaHasta" matInput [matDatepicker]="hasta"
        class="input-fecha">
      <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
      <mat-datepicker touchUi #hasta></mat-datepicker>
    </div>
  </div>
</span>

<!--botones-->
<div fxLayout="row" fxLayoutAlign="space-between center" class="contenedor-botones">
  <div fxFlex="50%">
    <button mat-button class="boton-limpiar" (click)="limpiar()">Limpiar</button>
  </div>

  <div fxFlex="50%">
    <button mat-button class="boton-aplicar" (click)="aplicar()">Aplicar</button>
  </div>
</div>
