<mat-card class="card" fxFlex="50">

  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="contenedor">
      <a routerLink="/pagar" fxFlex="15%" fxLayoutAlign="center center">
        <button mat-mini-fab class="button">
          <mat-icon class="button-icon">exit_to_app</mat-icon>
        </button>
      </a>
    </div>
    <div class="titulo-card">Pagar</div>
  </div>

</mat-card>

<mat-card class="card" fxFlex="50">

  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="contenedor">
      <a routerLink="/cobrar" fxFlex="15%" fxLayoutAlign="center center">
        <button mat-mini-fab class="button">
          <mat-icon class="button-icon">system_update_alt</mat-icon>
        </button>
      </a>
    </div>
    <div class="titulo-card">Cobrar</div>
  </div>

</mat-card>
