<mat-card class="card" fxFlex="50">

  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="contenedor">
      <button mat-mini-fab class="button">
        <mat-icon class="button-icon">exit_to_app</mat-icon>
      </button>
    </div>
    <div class="titulo-card">Pagar</div>
  </div>

</mat-card>

<mat-card class="card" fxFlex="50">

  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="contenedor">
      <button mat-mini-fab class="button">
        <mat-icon class="button-icon">system_update_alt</mat-icon>
      </button>
    </div>
    <div class="titulo-card">Cobrar</div>
  </div>

</mat-card>
