<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async) && authService.esLogueado">
    <mat-toolbar color="background" *ngIf="authService.esLogueado"><img src="assets/logo.png" class="logo-sidebar" alt="image caption"/></mat-toolbar>
    <mat-nav-list *ngIf="authService.esLogueado">
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">Inicio</a>
      <a mat-list-item href="#"><span matBadge="4" matBadgeOverlap="false">Notificaciones</span></a>
      <a mat-list-item href="#">Entregas</a>
      <a mat-list-item href="#">Ventas</a>
      <a mat-list-item routerLink="/ctacte" routerLinkActive="active">Cuenta Corriente</a>
      <a mat-list-item routerLink="/ctacte-aplicada" routerLinkActive="active">Cta Cte Aplicada</a>
      <a mat-list-item href="#">Archivo de operaciones</a>
      <a mat-list-item href="#">Ayuda</a>
      <a mat-list-item href="#">Perfil</a>
      <a mat-list-item href="#">Contacto</a>
      <a mat-list-item routerLink="/login" routerLinkActive="active">Cerrar Sersión</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset$ | async) && authService.esLogueado">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Gaviglio Digital - Clientes</span>
    </mat-toolbar>

    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>