<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="titulo">
  <div fxFlex="nogrow">
    CUENTA DE COLABORADORES
  </div>

  <div fxFlex="nogrow">
    <img src="assets/toolbar/help.png" class="img-help" [matTooltip]="infoColaboradores" />
  </div>
</div>

<div class="contenedor-listado" fxLayout="column" fxLayoutWrap fxLayoutAlign="none" infiniteScroll
  [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false">

  <!--Registros-->
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="contenedor-item"
    *ngFor="let tercero of (listadoTerceros ? listadoTerceros : [])">

    <div fxFlex class="nombre">
      {{tercero.descripcion || tercero.credencial.username}}
    </div>

    <div fxFlex="100px;" align="end">
      <span class="indicador-activo">Activo</span>
      <mat-slide-toggle [checked]="!tercero.credencial.baja" (change)="habilitacion(tercero, $event)">
      </mat-slide-toggle>
    </div>

    <div fxFlex="40px" align="end">
      <button mat-icon-button (click)="verEditar(tercero)" matTooltip="Editar">
        <mat-icon svgIcon="cedit"></mat-icon>
      </button>
    </div>

    <div fxFlex="40px" align="end">
      <button mat-icon-button (click)="borrar(tercero)" matTooltip="Borrar">
        <mat-icon svgIcon="cdelete"></mat-icon>
      </button>
    </div>

  </div>

  <!--Spinner-->
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="cargando == true">
    <mat-spinner diameter="24"></mat-spinner>
  </div>

</div>

<a class="boton-agregar-aqui" (click)="agregarTercero()">Agregar colaborador</a>