.card-mobile{
    background-color: #FFFFFF;
    border-radius: 4px;
    border: solid 1px #ECECEC;
    margin: 20px;
    margin-top: -30px;
    margin-left: 10px;
}

.card-desktop{
    margin: 20px;
    margin-top: -30px;
    margin-left: 370px;
    box-sizing: border-box;
    width: 538px;
    border: 1px solid #ECECEC;
    border-radius: 4px;
    background-color: #FFFFFF;
}



.cobros{
    padding: 20px;
    margin-bottom: -25px;
    color: #6666;
    font-family: Rubik;
    text-align: left;
    font-size: 12px;
}

.total{
    padding: 20px;
}
