<mat-sidenav-container [ngClass]="{'contenedor-filtro': esCelular, 'contenedor-filtro-desktop': !esCelular}">
  <mat-sidenav #menuFiltro position="end"
    [ngClass]="{'sidenav-filtro': esCelular, 'sidenav-filtro-desktop': !esCelular}">
    <app-pagar-filtro [cuenta]="cuenta" (botonCerrar)="menuFiltro.toggle()" [observerFiltro$]="observerFiltro$">
    </app-pagar-filtro>
  </mat-sidenav>
  <section *ngIf="esCelular">
    <div *ngIf="esCelular && cuenta">
      <div class="title">
        <a routerLink="/billetera" fxFlex="25%" fxLayoutAlign="center center">
          <button mat-mini-fab class="button">
            <mat-icon style="color: green;">arrow_back</mat-icon>
          </button>
        </a>
        <h3 fxFlex="75%" style="margin-left: 20px; color: green;">Programar pago</h3>
      </div>

      <!-- VISTA MOVILE -->

      <div>
        <mat-horizontal-stepper fxLayout="column" labelPosition="bottom" #stepper>

          <!--step comprobantes-->
          <mat-step>
            <ng-template matStepLabel>Comprobantes</ng-template>
            <div fxFlex="row" class="">
              Comprobantes
              <button mat-button (click)="mostrarOcultarFiltros()">Filtrar</button>
            </div>
            <app-pagar-info></app-pagar-info>
            <app-pagar-listado [cuenta]="cuenta" [totalEvent$]="totalEvent$" [observerFiltro$]="observerFiltro$"
              [conceptosAPagarSeleccionados$]="conceptosAPagarSeleccionados$">
            </app-pagar-listado>
            <app-pagar-comprobantes-total [totalEvent$]="totalEvent$"></app-pagar-comprobantes-total>
          </mat-step>

          <!--step medio-->
          <mat-step>
            <ng-template matStepLabel>Medio</ng-template>
            <app-total-pagar-pagos [totalEvent$]="totalEvent$"></app-total-pagar-pagos>
            <p style="color: #999; padding: 0px; text-align: left; font-size: 14px;">Escoge la forma en la que se
              efectuará el pago.</p>
            <app-pagos-opciones></app-pagos-opciones>
          </mat-step>

          <!--step pago-->
          <mat-step>
            <ng-template matStepLabel>Pago</ng-template>
            <app-pago-con-canje *ngIf="unidadMedida" [totalEvent$]="totalEvent$" [cuenta]="cuenta"
              [unidadMedida]="unidadMedida" [disponiblesSeleccionados$]="disponiblesSeleccionados$">
            </app-pago-con-canje>
            <div fxFlexFill fxLayout="row" fxLayoutALign="space-between center">
              <button mat-button matStepperNext
                style="background-color: green; color: white; margin-top: 10px; width: 350px;">Siguiente</button>
            </div>
          </mat-step>

          <!--step resumen-->
          <mat-step>
            <ng-template matStepLabel>Resumen</ng-template>
            <app-resumen-pago [conceptosAPagarSeleccionados$]="conceptosAPagarSeleccionados$"
              [disponiblesSeleccionados$]="disponiblesSeleccionados$" [totalEvent$]="totalEvent$"></app-resumen-pago>

            <!--Spinner-->
            <div fxLayout="row" fxLayoutAlign="center center" *ngIf="guardando == true" style="margin-top: 10px;">
              <mat-spinner diameter="24"></mat-spinner>
            </div>

            <button mat-button [disabled]="guardando"
              style="background-color: green; color: white; margin-top: 10px; width: 100%;"
              (click)="guardar()">Pagar</button>

          </mat-step>

        </mat-horizontal-stepper>
      </div>
    </div>
  </section>

  <section *ngIf="!esCelular">
    <div *ngIf="!esCelular && cuenta" style="padding-right: 150px; padding-left: 150px;">
      <div class="title">
        <a routerLink="/billetera" fxFlex="25%" fxLayoutAlign="center center">
          <button mat-mini-fab class="button">
            <mat-icon style="color: green;">arrow_back</mat-icon>
          </button>
        </a>
        <h3 fxFlex="75%" style="margin-left: 20px; color: green;">Programar pago</h3>
      </div>

      <!-- VISTA DESKTOP -->

      <div>
        <mat-horizontal-stepper fxLayout="column" labelPosition="bottom" #stepper>

          <!--step comprobantes-->
          <mat-step>
            <ng-template matStepLabel>Comprobantes</ng-template>
            <div fxFlex="row" fxLayoutAlign="space-between center">
              <p style="font-size: 20px; font-family: Rubik;">Comprobantes</p>
              <button style="margin-left: 50px;" mat-button (click)="mostrarOcultarFiltros()"><img style="width: 20px;" src="assets/toolbar/embudo.png"></button>
            </div>
            <app-pagar-info></app-pagar-info>
            <app-pagar-listado [cuenta]="cuenta" [totalEvent$]="totalEvent$" [observerFiltro$]="observerFiltro$">
            </app-pagar-listado>
            <app-pagar-comprobantes-total [totalEvent$]="totalEvent$"></app-pagar-comprobantes-total>
          </mat-step>

          <!--step medio-->
          <mat-step>
            <ng-template matStepLabel>Medio</ng-template>
            <app-total-pagar-pagos [totalEvent$]="totalEvent$"></app-total-pagar-pagos>
            <p style="color: #999; padding: 0px; text-align: left; font-size: 14px;">Escoge la forma en la que se
              efectuará el pago.</p>
            <app-pagos-opciones></app-pagos-opciones>
          </mat-step>

          <!--step pago-->
          <mat-step>
            <ng-template matStepLabel>Pago</ng-template>
            <app-pago-con-canje *ngIf="unidadMedida" [totalEvent$]="totalEvent$" [cuenta]="cuenta"
              [unidadMedida]="unidadMedida"></app-pago-con-canje>
            <div fxFlexFill fxLayout="row" fxLayoutALign="space-between center">
              <button mat-button matStepperNext
                style="background-color: green; color: white; margin-top: 10px; width: 350px;">Siguiente</button>
            </div>
          </mat-step>

          <!--step resumen-->
          <mat-step>
            <ng-template matStepLabel>Resumen</ng-template>
            <app-resumen-pago></app-resumen-pago>
            <div fxFlexFill fxLayout="row" fxLayoutALign="space-between center">
              <button mat-button style="background-color: green; color: white; margin-top: 10px; width: 150px; margin-left: 800px;"
                (click)="guardar()">Pagar</button>
            </div>
          </mat-step>

        </mat-horizontal-stepper>
      </div>
    </div>
  </section>
</mat-sidenav-container>