.tarjeta {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 100%;
}

.img-indicador {
    float: right;
    margin-top: -5px;
}

.titulo-card {
    color: #666666;
    font-family: Rubik;
    font-size: 12px;
    letter-spacing: 1.2px;
    text-align: center;
}

.importe-cobrar {
    color: #23B950;
    font-family: RubikLight;
    font-size: 20px;
}

.ars {
    color: #666666;
    font-family: Rubik;
    font-size: 16px;
}

.contenedor-importe {
    text-align: center;
    margin-top: 12px;
}

.vencido-vencer {
    color: #666666;
    font-family: Rubik;
    font-size: 11px;
    text-align: center;
}