.contenedor-detalle {
    padding-top: 100px;
}

.info-container {
    border: 1px solid #ECECEC;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 20px;
}

.boton-miga {
    color: #666666;
    font-family: Rubik;
    font-size: 14px;
    cursor: pointer;
}

.flecha {
    color: #999999;
}

.numero-miga {
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
}

.miga-container {
    margin-left: 13px;
    margin-top: 20px;
    margin-bottom: -10px;
}

.data-info-container {
    width: 100%;
    padding: 13px;
}

.etiqueta-input {
    color: #333333;
    font-family: Rubik;
    font-size: 11px;
    letter-spacing: 1.2px;
}

.contenedor-control {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 26px;
}

.input {
    border: 1px solid rgba(45, 164, 66, 0.1);
    border-radius: 4px;
    color: #111111;
    font-family: Rubik;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.contenedor-boton {
    margin-top: 12px;
}

.boton-guardar {
    background-color: #2DA442;
    height: 40px;
    color: #FFFFFF;
    font-family: Rubik;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}