<mat-card>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="110px" class="especie">
      {{indicador.descEspecie}}
    </div>

    <div fxFlex="24px">
      <img class="especie-icono" src="{{indicador.codEspecie | imagenEspecie}}" />
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <ngx-gauge [value]="indicador.porcentajeKilosPesificados" [type]="'semi'" [cap]="'round'" [thick]="4"
      [thresholds]="thresholdConfig" [size]="90" class="manometro">
      <ngx-gauge-value><span class="porcentual">{{indicador.porcentajeKilosPesificados | number: '.2'}}%</span>
      </ngx-gauge-value>
    </ngx-gauge>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" class="contenedor-realizado">
    <div fxFlex="100%" class="realizado-titulo">Realizadas</div>
    <div fxFlex="100%" class="realizado-cantidad">
      {{indicador.pesificado | kilosA: unidadMedida | number: '.0-0'}}{{unidadMedida | kilosTextoA}}
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="50%" class="subtitulo">
      Pactadas
    </div>

    <div fxFlex="50%" class="subtitulo">
      Pendientes
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="50%" class="subtitulo-cantidad">
      {{indicador.kgPactadosUSD | kilosA: unidadMedida | number: '.0-0'}}{{unidadMedida | kilosTextoA}}
    </div>

    <div fxFlex="50%"
      [ngClass]="{'subtitulo-cantidad': indicador.kgAFijarTC == 0, 'subtitulo-cantidad-pendiente': indicador.kgAFijarTC != 0}">
      {{indicador.kgAFijarTC | kilosA: unidadMedida | number: '.0-0'}}{{unidadMedida | kilosTextoA}}
    </div>
  </div>
</mat-card>