.mat-dialog-container {
  max-width: none;
  width: 100vw;
  height: 100vh;
}

mat-form-field {
  width: 100%;
}

.titulo {
  color: #666666;
  font-family: Rubik;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 20px;
}

.etiqueta-input {
  margin-left: 17px;
  color: #333333;
  font-family: Rubik;
  font-size: 11px;
  letter-spacing: 1.2px;
}

.contenedor-control {
  margin-top: 10px;
  margin-left: 17px;
  margin-right: 25px;
  margin-bottom: 20px;
}

.input {
  width: 47.5vh;
  border: 2px solid rgba(45, 164, 66, 0.1);
  border-radius: 4px;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.5);
  padding-left: 10px;
  color: #333333;
  font-size: 14px;
  font-family: Rubik;
  padding: 10px;
}

.select {
  width: 47.5vh;
  border: 2px solid rgba(45, 164, 66, 0.1);
  border-radius: 4px;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.5);
  padding-left: 10px;
  color: #333333;
  font-size: 14px;
  font-family: Rubik;
  padding: 10px;
}

.contenedor-boton {
  margin-top: 20px;
  padding-left: 17px;
  padding-right: 17px;
}

.boton-guardar {
  background-color: #2DA442;
  width: 100%;
  height: 40px;
  color: #FFFFFF;
  font-family: Rubik;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}