<div class="contenedor-info">

  <!--Info contrato-->
  <div fxLayout="row" fxLayoutAlign="sart center" class="contenedor-encabezado">

    <div fxFlex="48px">
      <img class="movimiento-icono" src="{{resumen.especie | imagenEspecie}}" />
    </div>

    <div fxFlex="80%">
      <div fxLayout="column" fxLayoutAlign="none">
        <div fxFlex="100%" class="titulo-contrato-contenedor">
          <span class="contrato-y-numero">Contrato {{resumen.numeroComprobanteContrato}}</span>
          <div class="etiqueta" *ngIf="resumen.moneda != null">{{resumen.moneda=='P' ? 'En pesos' : 'En dólares'}}</div>
          <div class="etiqueta" *ngIf="resumen.tipoDescripcion != null">{{resumen.tipoNegocioDescripCorta}}</div>
        </div>
        <div fxFlex="100%" class="info-kg-pactados">{{resumen.kilosPactados | kilosA: unidadMedida | number: '.0-0'}}
          {{unidadMedida | kilosTextoA}}
          de {{resumen.especieDescripcion}}</div>
      </div>
    </div>

  </div>

  <div class="contenedor-indicadores">

    <!--Info entregas-->
    <div fxLayout="row" fxLayoutAlign="space-around center"
      [ngClass]="{'contenedor-entregas-fijaciones': resumen.porcentajeKilosEntregados < 100, 'contenedor-entregas-fijaciones-ok': resumen.porcentajeKilosEntregados == 100}">
      <div fxFlex="100%">
        <div fxLayout="column" fxLayoutAlign="none">
          <div fxFlex="100%" class="info-kilos-entregados-fijados">
            {{resumen.kilosPendientesEntregar | kilosA: unidadMedida | number: '.0-0'}} {{unidadMedida | kilosTextoA}}
            Pendientes de entrega
          </div>
          <div fxFlex="100%">
            <div fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="110px">
                <span
                  [ngClass]="{'texto-porcentual-alert': resumen.porcentajeKilosEntregados < 100, 'texto-porcentual-ok': resumen.porcentajeKilosEntregados == 100}">{{resumen.porcentajeKilosEntregados | number: '.2'}}%
                  Entregado</span>
              </div>
              <div fxFlex="50px"
                [ngClass]="{'barra-progreso-alert': resumen.porcentajeKilosEntregados < 100, 'barra-progreso-ok': resumen.porcentajeKilosEntregados == 100}">
                <mat-progress-bar mode="determinate" [value]="resumen.porcentajeKilosEntregados"></mat-progress-bar>
              </div>
            </div>
          </div>
          <div fxFlex="100%">
            <img src="assets/varios/calendario.png" class="icon-calendar"> <span class="rango-fecha">Del
              {{resumen.fechaEntregaDesde}} al {{resumen.fechaEntregaHasta}}</span>
          </div>
        </div>
      </div>
    </div>

    <!--Info fijaciones-->
    <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="resumen.aFijar==1"
      [ngClass]="{'contenedor-entregas-fijaciones': resumen.porcentajeKilosFijados < 100, 'contenedor-entregas-fijaciones-ok': resumen.porcentajeKilosFijados == 100}">
      <div fxFlex="100%">
        <div fxLayout="column" fxLayoutAlign="none">
          <div fxFlex="100%" class="info-kilos-entregados-fijados">
            {{resumen.kilosAFijar | kilosA: unidadMedida | number: '.0-0'}} {{unidadMedida | kilosTextoA}} Pendientes de
            fijación
          </div>
          <div fxFlex="100%">
            <div fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="110px">
                <span
                  [ngClass]="{'texto-porcentual-alert': resumen.porcentajeKilosFijados < 100, 'texto-porcentual-ok': resumen.porcentajeKilosFijados == 100}">{{resumen.porcentajeKilosFijados | number: '.2'}}%
                  Fijado</span>
              </div>
              <div fxFlex="50px"
                [ngClass]="{'barra-progreso-alert': resumen.porcentajeKilosFijados < 100, 'barra-progreso-ok': resumen.porcentajeKilosFijados == 100}">
                <mat-progress-bar mode="determinate" [value]="resumen.porcentajeKilosFijados"></mat-progress-bar>
              </div>
            </div>
          </div>
          <div fxFlex="100%">
            <div fxFlex="100%">
              <img src="assets/varios/calendario.png" class="icon-calendar">
              <span *ngIf="resumen.plazosFijacion != null && resumen.vencidoFijacion == false" class="rango-fecha">Del
                {{resumen.fechaDesdeFijacion}} al {{resumen.fechaHastaFijacion}}</span>
              <span *ngIf="resumen.plazosFijacion != null && resumen.vencidoFijacion == true"
                class="vencido">Vencido</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Info pesificaciones-->
    <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="resumen.moneda=='D'"
      [ngClass]="{'contenedor-entregas-fijaciones': resumen.porcentajeKilosPesificados < 100, 'contenedor-entregas-fijaciones-ok': resumen.porcentajeKilosPesificados == 100}">
      <div fxFlex="100%">
        <div fxLayout="column" fxLayoutAlign="none">
          <div fxFlex="100%" class="info-kilos-entregados-fijados">
            {{resumen.kilosPendientesPesificar | kilosA: unidadMedida | number: '.0-0'}} {{unidadMedida | kilosTextoA}}
            Pendientes de pesificar
          </div>
          <div fxFlex="100%">
            <div fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="110px">
                <span
                  [ngClass]="{'texto-porcentual-alert': resumen.porcentajeKilosPesificados < 100, 'texto-porcentual-ok': resumen.porcentajeKilosPesificados == 100}">{{resumen.porcentajeKilosPesificados | number: '.2'}}%
                  Pesificado</span>
              </div>
              <div fxFlex="50px"
                [ngClass]="{'barra-progreso-alert': resumen.porcentajeKilosPesificados < 100, 'barra-progreso-ok': resumen.porcentajeKilosPesificados == 100}">
                <mat-progress-bar mode="determinate" [value]="resumen.porcentajeKilosPesificados"></mat-progress-bar>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Info liquidaciones-->
    <div fxLayout="row" fxLayoutAlign="space-around center"
      [ngClass]="{'contenedor-entregas-fijaciones': resumen.porcentajeKilosFacturados < 100, 'contenedor-entregas-fijaciones-ok': resumen.porcentajeKilosFacturados == 100}">
      <div fxFlex="100%">
        <div fxLayout="column" fxLayoutAlign="none">
          <div fxFlex="100%" class="info-kilos-entregados-fijados">
            {{resumen.pendienteFacturar | kilosA: unidadMedida | number: '.0-0'}} {{unidadMedida | kilosTextoA}}
            Pendientes de liquidar
          </div>
          <div fxFlex="100%">
            <div fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="110px">
                <span
                  [ngClass]="{'texto-porcentual-alert': resumen.porcentajeKilosFacturados < 100, 'texto-porcentual-ok': resumen.porcentajeKilosFacturados == 100}">{{resumen.porcentajeKilosFacturados | number: '.2'}}%
                  Liquidado</span>
              </div>
              <div fxFlex="50px"
                [ngClass]="{'barra-progreso-alert': resumen.porcentajeKilosFacturados < 100, 'barra-progreso-ok': resumen.porcentajeKilosFacturados == 100}">
                <mat-progress-bar mode="determinate" [value]="resumen.porcentajeKilosFacturados"></mat-progress-bar>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>