.contenedor-info {
    border: 1px solid rgba(35, 185, 80, 0.08);
    border-radius: 4px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
}

.contenedor-indicadores {
    border-left: 4px solid #D8D8D8;
    margin-left: 23px;
    padding-left: 7px;
    margin-right: 10px;
}

.contenedor-encabezado {
    padding: 5px;
}

.contenedor-entregas-fijaciones {
    padding: 5px;
}

.contenedor-entregas-fijaciones-ok {
    padding: 5px;
    background-color: rgba(35, 185, 80, 0.1);
}

.movimiento-icono {
    height: 38px;
    width: 38px;
}

.manometro {
    margin-left: 24px;
    margin-top: 8px;
}

.contrato-y-numero {
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
}

.info-kg-pactados {
    color: #333333;
    font-family: RubikLight;
    font-size: 32px;
}

.texto-porcentual-alert {
    color: #FFBC00;
    font-family: Rubik;
    font-size: 11px;
}

.texto-porcentual-ok {
    color: #23B950;
    font-family: Rubik;
    font-size: 11px;
}

.info-kilos-entregados-fijados {
    color: #333333;
    font-family: Rubik;
    font-size: 16px;
}

.titulo-contrato-contenedor {
    width: 100%;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.etiqueta {
    display: inline-block;
    max-width: 50%;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    margin-left: 4px;
    padding: 3px;
    border-radius: 4px;
    background-color: #ECECEC;
    color: #666666;
    font-family: Rubik;
    font-size: 11px;
}

.rango-fecha {
    color: #666666;
    font-family: Rubik;
    font-size: 11px;
}

.icon-calendar {
    height: 12px;
    margin-right: 5px;
}

.vencido {
    color: #E8021D;
    font-family: Rubik;
    font-size: 11px;
    margin-left: 4px;
}

/* Barra de progreso alert */

::ng-deep .barra-progreso-alert .mat-progress-bar-fill::after {
    background-color: #fec300;
}

::ng-deep .barra-progreso-alert .mat-progress-bar-buffer {
    background: #ebebeb;
}

::ng-deep .barra-progreso-alert .mat-progress-bar {
    border-radius: 3px;
    height: 5px !important;
}

/* Barra de progreso ok */

::ng-deep .barra-progreso-ok .mat-progress-bar-fill::after {
    background-color: #00c850;
}

::ng-deep .barra-progreso-ok .mat-progress-bar-buffer {
    background: #ebebeb;
}

::ng-deep .barra-progreso-ok .mat-progress-bar {
    border-radius: 3px;
    height: 5px !important;
}