<div *ngIf="resumenContrato" class="contenedor-detalle">
  <mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>
  
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" class="miga-container">
    <div fxflex="nogrow">
      <span (click)="cerrar()" class="boton-contratos">Contratos</span>
    </div>

    <div fxflex="nogrow">
      <mat-icon class="flecha">keyboard_arrow_right</mat-icon>
    </div>

    <div fxflex="nogrow">
      <span class="contrato-numero-miga">Contrato {{resumenContrato.numeroComprobanteContrato}}</span>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="13px" class="resumen-info-container">

    <!--Columna info prod-->
    <div fxFlex class="info-container">

      <!--Encabezado-->
      <div fxLayout="row" fxLayoutAlign="space-between center">

        <!--Icono y tn-->
        <div fxFlex="nogrow">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div fxFlex="40px">
              <img class="icono-producto" src="{{resumenContrato.especie | imagenEspecie}}" />
            </div>

            <div fxFlex class="catidad-producto-encabezado">
              {{resumenContrato.kilosPactados | kilosA: unidadMedida | number: '.0-0'}}
              {{unidadMedida | kilosTextoA}}
              de {{resumenContrato.especieDescripcion}}
            </div>
          </div>
        </div>

        <!--leyendas moneda y tipo de negocio-->
        <div fxFlex="nogrow">
          <div *ngIf="resumenContrato.moneda != null" class="etiqueta">
            {{resumenContrato.moneda=='P' ? 'En pesos' : 'En dólares'}}
          </div>
          <div *ngIf="resumenContrato.tipoDescripcion != null" class="etiqueta">
            {{resumenContrato.tipoNegocioDescripCorta}}</div>
        </div>

      </div>

      <!--Titulo de indicadores-->
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="nogrow" class="titulo-indicadores">
          DE {{resumenContrato.kilosPactados | kilosA: unidadMedida | number: '.0-0'}}
          {{unidadMedida | kilosTextoA}} PACTADAS:
        </div>
      </div>

      <!--Indicadores entregas y fijaciones-->
      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="indicador-contenedor">
          <app-contrato-indicador-grafico-porcentual texto="{{resumenContrato.kilosEntregados | kilosA: unidadMedida | number: '.0-0'}}
          {{unidadMedida | kilosTextoA}} entregadas"
            subtexto="{{(100 - resumenContrato.porcentajeKilosEntregados) | number: '.2'}}% entregas pendientes"
            [porcentual]="100 - resumenContrato.porcentajeKilosEntregados">
          </app-contrato-indicador-grafico-porcentual>
        </div>
        <div fxFlex="50%" class="indicador-contenedor">
          <app-contrato-indicador-grafico-porcentual texto="{{resumenContrato.kilosFijados | kilosA: unidadMedida | number: '.0-0'}}
            {{unidadMedida | kilosTextoA}} fijadas"
            subtexto="{{(100 - resumenContrato.porcentajeKilosFijados) | number: '.2'}}% fijaciones pendientes"
            [porcentual]="100 - resumenContrato.porcentajeKilosFijados">
          </app-contrato-indicador-grafico-porcentual>
        </div>
      </div>

      <!--Indicadores pesificaciones y pagos-->
      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="indicador-contenedor">
          <app-contrato-indicador-grafico-porcentual texto="{{(resumenContrato.kilosPactados-resumenContrato.kilosPendientesPesificar) | kilosA: unidadMedida | number: '.0-0'}}
            {{unidadMedida | kilosTextoA}} pesificadas"
            subtexto="{{(100 - resumenContrato.porcentajeKilosPesificados) | number: '.2'}}% pesificaciones pendientes"
            [porcentual]="100 - resumenContrato.porcentajeKilosPesificados">
          </app-contrato-indicador-grafico-porcentual>
        </div>
        <div fxFlex="50%" class="indicador-contenedor">
          <app-contrato-indicador-grafico-porcentual texto="{{resumenContrato.kilosFacturados | kilosA: unidadMedida | number: '.0-0'}}
              {{unidadMedida | kilosTextoA}} pagadas"
            subtexto="{{(100 - resumenContrato.porcentajeKilosFacturados) | number: '.2'}}% pagos pendientes"
            [porcentual]="100 - resumenContrato.porcentajeKilosFacturados">
          </app-contrato-indicador-grafico-porcentual>
        </div>
      </div>

      <!--Datos del contrato-->
      <div fxLayout="row" fxLayoutAlign="space-between none">
        <div fxFlex="100%" class="titulo-apartados">DATOS DEL CONTRATO</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="subtitulo-apartados">FECHA DE CONTRATO</div>
        <div fxFlex="50%" class="subtitulo-apartados">N. DE CONTRATO</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="dato-apartado">{{boleto.encabezado.fechaOperacion}}</div>
        <div fxFlex="50%" class="dato-apartado">{{resumenContrato.numeroComprobanteContrato}}</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="subtitulo-apartados">VENDEDOR</div>
        <div fxFlex="50%" class="subtitulo-apartados">COMPRADOR</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="dato-apartado">{{boleto.encabezado.nombreProductor}}</div>
        <div fxFlex="50%" class="dato-apartado">Gaviglio</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="subtitulo-apartados">PRODUCTO</div>
        <div fxFlex="50%" class="subtitulo-apartados">COSECHA</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="dato-apartado">{{resumenContrato.especieDescripcion}}</div>
        <div fxFlex="50%" class="dato-apartado">{{resumenContrato.cosecha}}</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="subtitulo-apartados">CANTIDAD</div>
        <div fxFlex="50%" class="subtitulo-apartados">TIPO DE NEGOCIO</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="dato-apartado">
          {{resumenContrato.kilosPactados | kilosA: unidadMedida | number: '.0-0'}}</div>
        <div fxFlex="50%" class="dato-apartado">{{resumenContrato.tipoNegocioDescripCorta}}</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="subtitulo-apartados">PRECIO</div>
        <div fxFlex="50%" class="subtitulo-apartados">MONEDA</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="dato-apartado">
          Preguntar</div>
        <div fxFlex="50%" class="dato-apartado">{{boleto.encabezado.moneda}}</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="subtitulo-apartados">ORIGEN</div>
        <div fxFlex="50%" class="subtitulo-apartados">DESTINO</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="dato-apartado">{{boleto.encabezado.procedencia}}</div>
        <div fxFlex="50%" class="dato-apartado">{{boleto.encabezado.destino}}</div>
      </div>

      <!--Entregas-->
      <div fxLayout="row" fxLayoutAlign="space-between none">
        <div fxFlex="100%" class="titulo-apartados">ENTREGA</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="subtitulo-apartados">DESDE</div>
        <div fxFlex="50%" class="subtitulo-apartados">HASTA</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="dato-apartado">{{resumenContrato.fechaEntregaDesde}}</div>
        <div fxFlex="50%" class="dato-apartado">{{resumenContrato.fechaEntregaHasta}}</div>
      </div>

      <!--Fijacion-->
      <div fxLayout="row" fxLayoutAlign="space-between none">
        <div fxFlex="100%" class="titulo-apartados">FIJACIÓN</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="subtitulo-apartados">DESDE</div>
        <div fxFlex="50%" class="subtitulo-apartados">HASTA</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="dato-apartado">{{resumenContrato.fechaDesdeFijacion}}</div>
        <div fxFlex="50%" class="dato-apartado">{{resumenContrato.fechaHastaFijacion}}</div>
      </div>

      <!--Forma de pago-->
      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="subtitulo-apartados">FORMA DE PAGO</div>
        <div fxFlex="50%" class="subtitulo-apartados">REFERENCIA DE FIJACIÓN</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
        <div fxFlex="50%" class="dato-apartado">{{boleto.encabezado.condicionDePago}}</div>
        <div fxFlex="50%" class="dato-apartado">{{resumenContrato.tipoDescripcion}}</div>
      </div>

      <!--Observaciones-->
      <div fxLayout="row" fxLayoutAlign="space-between none">
        <div fxFlex="100%" class="titulo-apartados">OBSERVACIONES</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between none">
        <div fxFlex="100%" class="dato-apartado">{{boleto.encabezado.notas}}</div>
      </div>

    </div>

    <!--Columna botones exportar-->
    <div fxFlex="250px" class="info-container">
      <button mat-button class="boton-descarga-comprobante" (click)="descargarComprobante()"
        [disabled]="cargando==true">
        <img src="assets/varios/pdf.png" />
        Descargar comprobante
      </button>
    </div>

  </div>
</div>