<div fxLayout="row" fxLayoutAlign="space-around center">

    <div fxFlex="48px" *ngIf="mostrarBtnMostrarOcultarSidebar == true && esCelular">
        <button mat-icon-button class="boton-sandwich" (click)="mostrarOcultarSidebar()">
            <mat-icon [ngStyle]="{'color': colorIndicador}">menu</mat-icon>
        </button>
    </div>

    <div fxFlex="24px" *ngIf="mostrarBtnMostrarOcultarSidebar != true"></div>

    <div fxFlex="48px" class="selector-cuenta" *ngIf="esCelular">
        <app-combo-cuenta [colorIndicador]="colorIndicador" [disabled]="disabled == true"></app-combo-cuenta>
    </div>
    <div fxFlex>

        <div fxFlex>
            <div [ngClass]="{'titulo': urlImagenAccionPersonalizada != null, 'titulo-sin-boton-personalizado': urlImagenAccionPersonalizada == null}"
                [ngStyle]="{'color': colorIndicador}">
                {{titulo}}
            </div>
        </div>

        <div fxFlex="96px">
            <button mat-icon-button *ngIf="urlImagenAccionPersonalizada != null" class="botonPersonalizado"
                (click)="ejecutarBotonPersonalizado()">
                <img [src]="urlImagenAccionPersonalizada" class="imgAccionPersonalizada" />
            </button>
        </div>

    </div>
</div>