<!--Modo movil-->
<mat-sidenav-container class="contenedor-filtro" *ngIf="esCelular != null && esCelular == true">
	<mat-sidenav #menuFiltro position="end" class="sidenav-filtro">
		<app-cereales-filtro [filtrosEspecieCosecha]="filtrosEspecieCosecha" [cuenta]="cuenta"
			(botonCerrar)="menuFiltro.toggle()" (botonAplicar)="cargarListado($event)"></app-cereales-filtro>
	</mat-sidenav>
	<section>
		<app-tool-bar-general [titulo]="'Contratos'" [disabled]="false"
			(botonPersonalizadoEjecutado)="mostrarOcultarFiltros()"
			[urlImagenAccionPersonalizada]="'assets/toolbar/embudo.png'"></app-tool-bar-general>

		<app-contratos-lista-movil *ngIf="esCelular" [observerFiltro$]="observerFiltro$"
			(seleccionMovimiento)="verDetalle($event)" (cargandoChange)="mostrarIndicadorLoading($event)">
		</app-contratos-lista-movil>

	</section>
</mat-sidenav-container>

<!--Modo desktop-->
<span [ngClass]="{'hide': modoDetalleDesktop}">
	<div fxLayout="row" fxLayoutAlign="space-between center" class="contenedor-titulo-filtro" fxLayoutGap="20px"
		*ngIf="esCelular != null && esCelular == false">

		<div fxFlex="93px" class="titulo-seccion">
			Contratos
		</div>

		<div fxFlex *ngIf="!identificadoresParaDescarga || identificadoresParaDescarga.length <= 0">
			<app-cereales-filtro-desktop [filtrosEspecieCosecha]="filtrosEspecieCosecha" [cuenta]="cuenta"
				(botonAplicar)="cargarListado($event)" [disabled]="(cargando$ | async) || cargandoFiltros"
				[filtroPersonalizado]="filtroPersonalizado">
			</app-cereales-filtro-desktop>
		</div>

		<div fxFlex *ngIf="identificadoresParaDescarga && identificadoresParaDescarga.length > 0">
			<app-tool-bar-descargas (descargarComprobanteChange)="descargarSeleccionados()"
				[botonesExtras]="botonesBarraDescargaExtras" (botonPresionado)="exportarSegunOpcion($event)"
				[disabled]="descargandoArchivos"></app-tool-bar-descargas>
		</div>
	</div>
	<mat-progress-bar *ngIf="descargandoArchivos" mode="indeterminate"></mat-progress-bar>

	<app-contratos-lista-desktop *ngIf="esCelular != null && esCelular == false" [observerFiltro$]="observerFiltro$"
		(seleccionMovimiento)="verDetalleDesktop($event)" (cargandoChange)="mostrarIndicadorLoading($event)"
		(contratosSeleccionados)="contratosSeleccionados($event)">
	</app-contratos-lista-desktop>
</span>

<span [ngClass]="{'hide': !modoDetalleDesktop}">
	<app-contrato-detalle-desktop (salir)="salirModoDetalleDesktop()"
		[modoDetalleDesktopMovimiento$]="modoDetalleDesktopMovimiento$">
	</app-contrato-detalle-desktop>
</span>
