<div fxLayout="row" fxLayoutAlign="center" class="encabezado-filtro">
  <div fxFlex="80%" class="texto-filtrar">
    Precio de los granos
  </div>

  <div fxFlex="20%">
    <button mat-icon-button class="boton-close" (click)="salir()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-divider></mat-divider>

<div fxLayout="column">
  <div fxLayout="row">
    <p style="font-size: 15px; text-align: left; font-family: Rubik;">Las cantidades se multiplican automáticamente al precio del grano del día (x)</p>
  </div>
  <div fxLayout="column">
    <h5 style="margin-bottom: -20px; font-family: Rubik;">Kg de soja</h5>
    <h4>$100</h4>
  </div>
  <div fxLayout="column">
    <h5 style="margin-bottom: -20px; font-family: Rubik;">Kg de maíz</h5>
    <h4>$100</h4>
  </div>
  <div fxLayout="column">
    <h5 style="margin-bottom: -20px; font-family: Rubik;">Kg de trigo</h5>
    <h4>$100</h4>
  </div>
</div>
