<div *ngIf="esCelular">
  <div fxLayout="row" class="card-container" style="margin-bottom: 10px;" *ngFor="let item of pagoDolaresArray">
    <div style="margin-top: 20px;">
      <mat-checkbox></mat-checkbox>
    </div>
    <div fxLayout="column" style="margin-left: 10px;">
      <h4>USD {{item.monto}}</h4>
      <h6 style="margin-top: -25px;">{{item.tipopago}} [referencia] - Vence {{item.fecha}}</h6>
    </div>
  </div>
</div>

<div *ngIf="!esCelular">
  <div fxLayout="row" class="card-container" style="margin-bottom: 10px;" *ngFor="let item of pagoDolaresArray">
    <div style="margin-top: 20px;">
      <mat-checkbox></mat-checkbox>
    </div>
    <div fxLayout="column" style="margin-left: 10px;">
      <h4>USD {{item.monto}}</h4>
      <h6 style="margin-top: -25px;">{{item.tipopago}} [referencia] - Vence {{item.fecha}}</h6>
    </div>
  </div>
</div>
