<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="15%">
      <div>
        <div fxFlex="100%">
          <button mat-icon-button class="user-icon">
            <img src="../../../../../assets/varios/user.png" alt="">
          </button>
        </div>
      </div>
    </div>

    <div fxFlex="75%">
      <div>
        <div fxFlex="100%" class="titulo-card">Nuevo cliente productor</div>
      </div>
    
      <div>
        <div fxFlex="100%" class="contenedor-subtitle"><span class="subtitle">
            Te registraras como cliente Gaviglio</span>
        </div>
      </div>
    </div>

    <div fxFlex="10%">
      <button mat-icon-button>
        <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
