.contenedor-saldo {
    border: 1px solid rgba(35, 185, 80, 0.08);
    border-radius: 4px;
    background-color: white;
    margin-top: 17px;
    margin-left: 17px;
    margin-right: 17px;
    padding: 17px;
}

.subtitulo-apartados {
    color: #999999;
    font-family: Rubik;
    font-size: 12px;
    letter-spacing: 1.2px;
}

.signo-positivo {
    color: green;
    font-weight: bold;
}

.signo-negativo {
    color: red;
    font-weight: bold;
}

.moneda {
    color: #666666;
    font-family: Rubik;
    font-size: 11px;
}

.monto {
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
}