<div fxLayout="row" fxLayoutAlign="space-around center" class="container">
  <div fxFlex="28px">
    <mat-checkbox [(ngModel)]="seleccionado" (change)="notificarCambioSeleccion($event)"></mat-checkbox>
  </div>

  <div fxFlex (click)="notificarVerDetalle()">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div fxFlex="13%">{{ movimiento.comprobante }}</div>

      <div fxFlex="100px">{{ movimiento.fecha }}</div>

      <div fxFlex="200px" class="descripcionArticulo" [matTooltip]="movimiento.descripcionArticulo">{{ movimiento.codArticulo }} - {{ movimiento.descripcionArticulo }}</div>

      <div fxFlex="8%">{{ movimiento.cantidad }}</div>

      <div fxFlex="8%">{{ movimiento.cantidadPendiente }}</div>

      <div fxFlex="30px" class="moneda">{{ movimiento.moneda | moneda }}</div>

      <div fxFlex="12%">{{ movimiento.totalUsd | number: '0.2-2' }}</div>
    </div>
  </div>
</div>
