<div fxLayout="row">
  <h1 class="modal title-modal title-modal-count" mat-dialog-title fxFlex="50%">Seleccionados</h1>
</div>

<div class="modal container" *ngIf="data.comprobantesSeleccionados" cdkFocusInitial>
  <div fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let comprobante of data.comprobantesSeleccionados" class="fila">
    <div fxFlex="24px">
      <mat-icon svgIcon="pdf"></mat-icon>
    </div>

    <div fxFlex class="identificacion-comprobante">
      <div><span *ngIf="comprobante.fecha">{{comprobante.fecha}} - </span>{{comprobante.comprobante}}</div><div class="concepto-comprobante">{{ comprobante.concepto }}</div>
    </div>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="data.comprobantesSeleccionados" class="modal btn-modal">Descargar todos</button>

  <button mat-button mat-dialog-close class="btn-close">Cerrar</button>
</div>
