.titulos {
    color: #666666;
    font-family: Rubik;
    font-size: 14px;
    margin-top: 25px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 10px;
}

.contenedor-listado {
    height: 75vh;
    overflow-y: scroll;
}

.contenedor-listado-sin-alto {
    overflow-y: scroll;
}

.activo {
    color: #23B950;
    font-family: Rubik;
    font-size: 14px;
    min-width: 200px;
    background-color: rgba(45, 164, 66, 0.1);
}

.inactivo {
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
    height: 48px;
    min-width: 200px;
}

.boton-aplicadas-filtro {
    color: rgba(51, 51, 51, 1);
    font-family: Rubik;
    font-size: 14px;
    letter-spacing: 1.2px;
}

.info-sin-data-text {
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
    text-align: center;
}

.info-sin-data-img {
    width: 130px;
    margin-bottom: 15px;
}

.info-sin-data-container {
    margin: 50px;
}

.download-section {
  width: 100%;
}

.boton-extra {
  height: 40px;
  width: 45%;
  background-color: white;
  border: 1px solid #2DA442;
  border-radius: 4px;
  color: #2DA442;
  font-family: Rubik;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 12px;
}

.boton-extra img {
  height: 20px;
}
