<!--
<button mat-button *ngIf="filtrarPorAplicacion" [matMenuTriggerFor]="menu" [disabled]="cargando"
  class="boton-aplicadas-filtro">{{ leyendaFiltroAplicacion() }} <mat-icon [ngStyle]="{'color': '#2DA442'}">
    keyboard_arrow_down</mat-icon></button>
<mat-menu #menu="matMenu">
  <button *ngIf="filtro != null" mat-menu-item (click)="seleccionarFiltroAplicacion(null)"
    [ngClass]="{'activo': filtro.aplicado === null, 'inactivo': filtro.aplicado !== null }">
    Todas
  </button>

  <button *ngIf="filtro != null" mat-menu-item (click)="seleccionarFiltroAplicacion(false)"
    [ngClass]="{'activo': filtro.aplicado === false, 'inactivo': filtro.aplicado !== false }">
    Pendientes de aplicar
  </button>

  <button *ngIf="filtro != null" mat-menu-item (click)="seleccionarFiltroAplicacion(true)"
    [ngClass]="{'activo': filtro.aplicado === true, 'inactivo': filtro.aplicado !== true }">
    Aplicadas
  </button>
</mat-menu>
-->

<div fxLayout="row" fxLayoutAlign="space-between center" class="titulos">
  <div fxFlex="140px">Entrega</div>
  <div fxFlex="60px" align="end">RM/CP</div>
  <div fxFlex align="end">{{unidadMedida | kilosTextoA}} {{unidadMedida | netasA }}</div>
</div>

<div fxLayout="column" fxLayoutWrap fxLayoutAlign="none" infiniteScroll [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false"
  [ngClass]="{'contenedor-listado' : cargarOnScroll == true, 'contenedor-listado-sin-alto' : cargarOnScroll == false}">

  <div fxLayout="row" fxLayoutAlign="space-between center"
    *ngFor="let movimiento of (listadoEntregas ? listadoEntregas : [])" class="movimiento-fila"
    (click)="verDetalle(movimiento)">

    <div fxFlex="40px">
      <img class="movimiento-icono" src="{{movimiento.especie | imagenEspecie}}" />
    </div>

    <div fxFlex="100px">
      <p class="especie-cosecha">{{movimiento.especieDescripcion}} {{movimiento.cosecha}}</p>
      <p class="fecha">{{movimiento.fecha}}</p>
    </div>

    <div fxFlex="20px" class="cp">
      {{movimiento.numeroComprobanteExterno}}
    </div>

    <div fxFlex class="kg-netos" align="end">
      {{movimiento.kilosNetos | kilosA: unidadMedida | number: '.0-0'}}
    </div>
  </div>

  <!--Spinner-->
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="cargando == true" style="margin-top: 10px">
    <mat-spinner diameter="24"></mat-spinner>
  </div>

  <!--Si no hay datos a mostrar-->
  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="!cargando && listadoEntregas && listadoEntregas.length == 0" class="info-sin-data-container">
      <div fxFlex="nogrow">
          <img src="assets/varios/sin-data.png" class="info-sin-data-img"/>
      </div>

      <div fxFlex="nogrow" class="info-sin-data-text">
          Cuando tengamos información de tus entregas la podrás ver aquí.
      </div>
  </div>
</div>
