<div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">
	<div fxFlex="100%">
		<mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>

		<mat-expansion-panel>
			<mat-expansion-panel-header>
				Filtro
			</mat-expansion-panel-header>

			<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">

				<div fxFlex="25%">
					<app-combo-cuenta [disabled]="cargando==true" (change)="seleccionarCuenta($event)"></app-combo-cuenta>
				</div>

				<div fxFlex="25%">
					<mat-form-field>
						<input [disabled]="cargando==true" [(ngModel)]="fechaDesde" matInput [matDatepicker]="desde" placeholder="Fecha desde"
						 readonly>
						<mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
						<mat-datepicker touchUi #desde></mat-datepicker>
					</mat-form-field>
				</div>

				<div fxFlex="25%">
					<mat-form-field>
						<input [disabled]="cargando==true" [(ngModel)]="fechaHasta" matInput [matDatepicker]="hasta" placeholder="Fecha hasta"
						 readonly>
						<mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
						<mat-datepicker touchUi #hasta></mat-datepicker>
					</mat-form-field>
				</div>

				<div fxFlex="25%">
					<mat-form-field>
						<mat-select [disabled]="cargando==true || cargandoFiltros==true" [(ngModel)]="filtroEspecieCosechaSeleccionado"
						 placeholder="Producto" disableRipple>
							<mat-option>
								Quitar filtro
							</mat-option>
							<mat-option *ngFor="let filtro of (filtrosEspecieCosecha != null ? filtrosEspecieCosecha : [])" [value]="filtro">
								{{filtro.descripcion}}
							</mat-option>
						</mat-select>
						<mat-progress-bar *ngIf="cargandoFiltros==true" mode="buffer"></mat-progress-bar>
					</mat-form-field>
				</div>
			</div>

			<mat-action-row>
				<button [disabled]="cargando==true || cargandoFiltros==true" mat-button (click)="cargarListado()">Buscar</button>
			</mat-action-row>
		</mat-expansion-panel>

	</div>

	<div fxFlex="100%">
		<div *ngIf="totales" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">

			<div fxFlex="50%">
				<h4 mat-dialog-title align="center">Entrada</h4>
				<mat-dialog-content class="mat-typography">
					<p align="center">{{totales.totalKgEntradas | number: '.2'}} Kg</p>
				</mat-dialog-content>
			</div>

			<div fxFlex="50%">
				<h4 mat-dialog-title align="center">Salida</h4>
				<mat-dialog-content class="mat-typography">
					<p align="center">{{totales.totalKgSalidas | number: '.2'}} Kg</p>
				</mat-dialog-content>
			</div>

		</div>
	</div>

	<div fxFlex="100%">
		<mat-card>
			<mat-card-title>Otros movimientos</mat-card-title>

			<mat-card-content>

				<!-- Movimiento para panalla chicas -->
				<div fxHide.lg fxHide.md class="movimiento" *ngFor="let movimiento of (listado ? listado : [])" (click)="verDetalle(movimiento)">

					<div fxLayout="row" fxLayoutAlign="center space-between">
						<div fxFlex="50%" class="concepto">{{movimiento.especie}} {{movimiento.cosecha}}</div>
						<div fxFlex="25%" class="importe" align="right">{{movimiento.kgEntradas | number: '.0'}}</div>
						<div fxFlex="25%" class="importe" align="right">{{movimiento.kgSalidas | number: '.0'}}</div>
					</div>
					<div fxLayout="row" fxLayoutAlign="center space-between">
						<div fxFlex="50%" class="fecha">{{movimiento.fechaComprobante}}</div>
						<div fxFlex="25%" class="engris" align="right">Kg Entrada</div>
						<div fxFlex="25%" class="engris" align="right">Kg Salida</div>
					</div>

					<mat-divider></mat-divider>
				</div>

				<!-- Movimiento para panalla grandes -->
				<span fxHide.xs fxHide.sm>
					<!-- Encabezado -->
					<div fxLayout="row" fxLayoutAlign="center space-between">
						<div fxFlex="6%" class="conceptoEncabezado">Fecha</div>
						<mat-divider [vertical]="true"></mat-divider>
						<div fxFlex="12%" class="conceptoEncabezado">Comprobante</div>
						<mat-divider [vertical]="true"></mat-divider>
						<div fxFlex="20%" class="conceptoEncabezado">Productor/Receptor</div>
						<mat-divider [vertical]="true"></mat-divider>
						<div fxFlex="12%" class="conceptoEncabezado">Comprobante Origen</div>
						<mat-divider [vertical]="true"></mat-divider>
						<div fxFlex="6%" class="conceptoEncabezado"></div>
						<mat-divider [vertical]="true"></mat-divider>
						<div fxFlex="12%" class="conceptoEncabezado">Entradas</div>
						<mat-divider [vertical]="true"></mat-divider>
						<div fxFlex="12%" class="conceptoEncabezado">Salidas</div>
						<mat-divider [vertical]="true"></mat-divider>
						<div fxFlex class="conceptoEncabezado">Observaciones</div>
					</div>

					<!--Movimientos-->
					<div fxLayout="row" fxLayoutAlign="center space-between" class="movimiento" *ngFor="let movimiento of (listado ? listado : []); index as i"
					 (click)="verDetalle(movimiento)" [ngClass]="i%2 == 0 ? 'filaPar' : 'filaImpar'">

						<div fxFlex="6%" class="conceptoListaCompleta">{{movimiento.fechaComprobante}}</div>
						<div fxFlex="12%" class="conceptoListaCompleta">{{movimiento.comprobante}}</div>
						<div fxFlex="20%" class="conceptoListaCompleta">{{movimiento.productorReceptor}}</div>
						<div fxFlex="12%" class="conceptoListaCompleta">{{movimiento.comprobanteOrigen}}</div>
						<div fxFlex="6%" class="conceptoListaCompleta">{{movimiento.fechaComprobanteOrigen}}</div>
						<div fxFlex="12%" class="importeListaCompleta">{{movimiento.kgEntradas | number: '.0'}}</div>
						<div fxFlex="12%" class="importeListaCompleta">{{movimiento.kgSalidas | number: '.0'}}</div>
						<div fxFlex class="conceptoListaCompleta">{{movimiento.observaciones}}</div>

					</div>

				</span>

			</mat-card-content>
		</mat-card>
	</div>

	<button [disabled]="cargando==true" mat-mini-fab class="custom-button" (click)="verOpcionesExtras()" *ngIf="listado != null">
		<mat-icon aria-label="Más opciones">list</mat-icon>
	</button>
</div>