<div fxLayout="row" fxLayoutAlign="space-around center" class="container">

  <!--Check de descarga-->
  <div fxFlex="28px">
    <mat-checkbox [(ngModel)]="seleccionado" (change)="notificarCambioSeleccion($event)"></mat-checkbox>
  </div>

  <div fxFlex (click)="notificarVerDetalle()">

    <div fxLayout="row" fxLayoutAlign="space-around center" >

      <div fxFlex="100px">
        <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="8px">

          <div fxFlex="24px">
            <img class="movimiento-icono" src="{{movimiento.especie | imagenEspecie}}" />
          </div>

          <div fxFlex>
            {{ movimiento.especieDescripcion }}
          </div>

        </div>
      </div>

      <div fxFlex="100px">
        {{movimiento.fecha}}
      </div>

      <div fxFlex="100px">
        {{movimiento.kilosBrutos | kilosA: unidadMedida | number: '.0-0'}}
      </div>

      <div fxFlex="100px">
        {{movimiento.porcentajeHumedad | number: '.2'}}%
      </div>

      <div fxFlex="100px">
        {{movimiento.porcentajeZarandeo | number: '.2'}}%
      </div>

      <div fxFlex="100px">
        {{movimiento.porcentajeVolatil | number: '.2'}}%
      </div>

      <div fxFlex="100px">
        {{movimiento.factor ? movimiento.factor : '-'}}/{{movimiento.grado ? movimiento.grado : '-'}}
      </div>

      <div fxFlex="100px">
        {{movimiento.kilosNetos | kilosA: unidadMedida | number: '.0-0'}}
      </div>

      <div fxFlex="100px">
        {{movimiento.numeroComprobanteExterno}}
      </div>

    </div>

  </div>

</div>