<mat-card class="tarjeta">

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="100%" class="titulo-card">A PAGAR <img src="assets/varios/salida.png" class="img-indicador" /></div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center"
    *ngIf="saldoGlobal && seObtuvoSaldoExito && (saldoGlobal.aPagarVencido != 0 || saldoGlobal.aPagarAVencer != 0)">
    <div fxFlex="50%" class="contenedor-importe" *ngIf="saldoGlobal != null && seObtuvoSaldoExito == true"><span
        class="importe-pagar">{{ saldoGlobal.aPagarVencido | number: '.0-0' }}</span> <span class="ars">ARS</span>
    </div>
    <div fxFlex="50%" class="contenedor-importe" *ngIf="saldoGlobal != null && seObtuvoSaldoExito == true"><span
        class="importe-pagar">{{ saldoGlobal.aPagarAVencer | number: '.0-0' }}</span> <span class="ars">ARS</span>
    </div>

    <div fxFlex="50%" class="contenedor-importe" *ngIf="seObtuvoSaldoExito == false"><span
        class="importe-pagar">-</span> <span class="ars">ARS</span>
    </div>
    <div fxFlex="50%" class="contenedor-importe" *ngIf="seObtuvoSaldoExito == false"><span
        class="importe-pagar">-</span> <span class="ars">ARS</span>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center"
    *ngIf="saldoGlobal && seObtuvoSaldoExito && (saldoGlobal.aPagarVencido != 0 || saldoGlobal.aPagarAVencer != 0)">
    <div fxFlex="50%" class="vencido-vencer">Vencido</div>
    <div fxFlex="50%" class="vencido-vencer">Por vencer</div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center"
    *ngIf="saldoGlobal?.aPagarVencido == 0 && saldoGlobal?.aPagarAVencer == 0">
    <div fxFlex="100%" class="vencido-vencer" style="margin-top: 15px;">No tienes nada para pagar.</div>
  </div>

</mat-card>