<div [ngClass]="{'contenedor': esCelular, 'contenedor-desktop': !esCelular}">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex.xs="30%">
      <img src="assets/logo.png" mat-card-image class="logo" alt="Gaviglio" />
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="nogrow">
      <mat-card [ngClass]="{'card-base': esCelular, 'card-base-desktop': !esCelular}">
        <mat-card-content>
          <form [formGroup]="frmLogin" #formLogin="ngForm">

            <p class="correo-o-usuario">USUARIO</p>
            <input [ngClass]="{'username': esCelular, 'username-desktop': !esCelular}" matInput
              formControlName="username" required #inputUsername [value]="inputUsername.value.toLowerCase()">

            <p class="password-lbl">CONTRASEÑA</p>

            <input [ngClass]="{'password': esCelular, 'password-desktop': !esCelular}" id="password" matInput
              showHideInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
            <mat-icon class="passwordIcon" (click)="hidePassword = !hidePassword">
              {{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>

            <div fxLayout="row" fxLayoutAlign="center center" class="recuerdameContenedor">
              <div fxFlex="50%">
                <mat-checkbox formControlName="recuerdame">Recuérdame</mat-checkbox>
              </div>
              <div fxFlex="50%" align="right">
                <a routerLink="/recuperacion-password">¿Olvidó su contraseña?</a>
              </div>
            </div>
          </form>

          <button
            [ngClass]="{'botonEntrar': !formLogin.valid && esCelular, 'botonEntrarHot': formLogin.valid && esCelular, 'botonEntrar-desktop': !formLogin.valid && !esCelular, 'botonEntrarHot-desktop': formLogin.valid && !esCelular}"
            [disabled]="logueando || !formLogin.valid" type="button" (click)="login()">Entrar</button>

        </mat-card-content>
      </mat-card>

      <p class="version">v{{ version }}</p>

      <a *ngIf="esCelular && !inPhonegap" href="https://play.google.com/store/apps/details?id=com.gaviglio.digital"
        target="_blank" class="google-play">
        <img src="assets/google-play/google-play.png" alt="Play Store" width="150" height="50" />
      </a>

    </div>
  </div>
</div>

<app-loading [cargando$]="cargando$"></app-loading>