<div fxLayout="row" fxLayoutAlign="center" class="encabezado-filtro">
  <div fxFlex="80%" class="texto-filtrar">
    FILTRAR
  </div>

  <div fxFlex="20%">
    <button mat-icon-button class="boton-close" (click)="cerrar()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<mat-divider></mat-divider>

<!--Cosecha-->
<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="100%" class="titulo-filtro" style="padding-top: 20px;">
    Cosecha
  </div>
</div>

<div>
  <mat-button-toggle-group class="grupo-botones-cosecha" [(ngModel)]="cosecha">

    <div fxLayout="row" *ngFor="let estado of estadoOptions" class="boton-cosecha">
      <mat-button-toggle [value]="estado.value">
        <div class="texto-campania">{{estado.descripcion}}</div>
      </mat-button-toggle>
    </div>

  </mat-button-toggle-group>
</div>

<mat-divider></mat-divider>

<!--Productor-->
<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="100%" class="titulo-filtro">
    Fecha de fijación
  </div>
</div>

<div style="padding: 10px;">
  <mat-form-field appearance="fill">
    <mat-label>Fija una fecha</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>  
</div>

<mat-divider></mat-divider>

<!--Destino de mercadería-->
<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="100%" class="titulo-filtro" style="padding-top: 20px;">
    Destino de mercadería
  </div>
</div>

<div >
  <span>
    <ul>
      <li *ngFor="let metodo of metodoOptions" class="checkbox">
        <mat-checkbox [(ngModel)]="metodoSeleccionado" [value]="metodo.value">
          {{metodo.descripcion}}
        </mat-checkbox>
      </li>
    </ul>
  </span>
</div>

<!--botones-->
<div fxLayout="row" fxLayoutAlign="space-between center" class="contenedor-botones">
  <div fxFlex="50%">
    <button mat-button class="boton-limpiar" (click)="limpiar()">Limpiar</button>
  </div>

  <div fxFlex="50%">
    <button mat-button class="boton-aplicar" (click)="aplicar()">Aplicar</button>
  </div>
</div>

