.boton-container {
  border: 1px solid #ECECEC;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #666666;
  font-family: Rubik;
  font-size: 14px;
  height: 40px;
  overflow: hidden;
}

.input-fecha {
  height: 32px;
  width: 85px;
  padding-left: 10px;
  color: #666666;
  font-family: Rubik;
  font-size: 14px;
  border: none;
  margin-left: 2px;
  padding-bottom: 5px;
}

.boton-limpiar {
  height: 40px;
  width: 90px;
  border: 1px solid #2DA442;
  border-radius: 4px;
  color: #2DA442;
  font-family: Rubik;
  font-size: 14px;
}

.boton-aplicar {
  height: 40px;
  width: 90px;
  background-color: #2DA442;
  border: 1px solid #2DA442;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: Rubik;
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}
