<div class="contenedor-header">
  <app-ventas-header-item-desktop (cambioSeleccion)="seleccionarTodos($event)" [unidadMedida]="unidadMedida">
  </app-ventas-header-item-desktop>
</div>

<div class="contenedor-listado" fxLayout="column" fxLayoutWrap fxLayoutAlign="none" infiniteScroll
  [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false">

  <app-ventas-item-desktop *ngFor="let movimiento of listadoVentas" [movimiento]="movimiento"
    [unidadMedida]="unidadMedida" (cambioSeleccion)="rearmarListaSeleccionados()" (verDetalle)="verDetalle($event)">
  </app-ventas-item-desktop>

  <!--Spinner-->
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="cargando" style="margin-top: 10px">
    <mat-spinner diameter="24"></mat-spinner>
  </div>

</div>