<div fxLayout="row" fxLayoutAlign="space-around center" class="container">

  <!--Seleccion-->
  <div fxFlex="24px">
    <mat-checkbox></mat-checkbox>
  </div>

  <!--Identificacion del contrato-->
  <div fxFlex="318px">
    Contrato
  </div>

  <!--Entregado-->
  <div fxFlex="147px">
    Entregado
  </div>

  <!--Fijado-->
  <div fxFlex="147px">
    Fijado
  </div>

  <!--Pesificado-->
  <div fxFlex="147px">
    Pesificado
  </div>

  <!--Liquidado-->
  <div fxFlex="147px">
    Liquidado
  </div>

  <!--Pagado ????-->
</div>