<div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">
  <div fxFlex="100%">
    <mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Filtro
      </mat-expansion-panel-header>

      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">

        <div fxFlex="33%">
          <mat-form-field>
            <mat-select [(ngModel)]="cuenta" placeholder="Seleccione una cuenta" disableRipple>
              <mat-option value="484">484</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="33%">
          <mat-form-field>
            <input [(ngModel)]="fechaDesde" matInput [matDatepicker]="desde" placeholder="Fecha desde" readonly>
            <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
            <mat-datepicker touchUi #desde></mat-datepicker>
          </mat-form-field>
        </div>

        <div fxFlex="33%">
          <mat-form-field>
            <input [(ngModel)]="fechaHasta" matInput [matDatepicker]="hasta" placeholder="Fecha hasta" readonly>
            <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
            <mat-datepicker touchUi #hasta></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <mat-action-row>
        <button mat-button (click)="cargarListado()">Buscar</button>
      </mat-action-row>
    </mat-expansion-panel>

  </div>

  <div fxFlex="100%">
    <div *ngIf="totales" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">
      <div fxFlex="33%">
        <h4 mat-dialog-title align="center">Cantidad</h4>
        <mat-dialog-content class="mat-typography">
          <p align="center">{{totales.totalCantidad | number: '.2'}} Kg</p>
        </mat-dialog-content>
      </div>

      <div fxFlex="33%">
        <h4 mat-dialog-title align="center">Pendiente</h4>
        <mat-dialog-content class="mat-typography">
          <p align="center">{{totales.totalCantidadPendiente | number: '.2'}} Kg</p>
        </mat-dialog-content>
      </div>

      <div fxFlex="33%">
        <h4 mat-dialog-title align="center">Total</h4>
        <mat-dialog-content class="mat-typography">
          <p align="center">US$ {{totales.totalTotal | number: '.2'}}</p>
        </mat-dialog-content>
      </div>
    </div>
  </div>

  <div fxFlex="100%">
    <mat-card>
      <mat-card-title>Movimientos</mat-card-title>

      <mat-card-content>
        <mat-nav-list class="listado-merc-pend-entregar">

          <a mat-list-item *ngFor="let movimiento of (listadoMercPendEntregar ? listadoMercPendEntregar : [])" (click)="verDetalle(movimiento)">

            <table class="tabla-movimiento">
              <tr>
                <td class="conceptos" align="start">{{movimiento.descripcionArticulo}}</td>
                <td class="conceptos" align="center">{{movimiento.cantidad | number: '.0'}}</td>
                <td class="conceptos" align="center">{{movimiento.cantidadPendiente | number: '.0'}}</td>
              </tr>
              <tr>
                <td class="engris" align="start">{{movimiento.fecha}} </td>
                <td class="engris" align="center">Cantidad</td>
                <td class="engris" align="center">Cant. Pend.</td>
              </tr>
            </table>

            <mat-divider></mat-divider>
          </a>

        </mat-nav-list>
      </mat-card-content>
    </mat-card>
  </div>

  <button mat-mini-fab class="custom-button" (click)="verOpcionesExtras()" *ngIf="listadoMercPendEntregar != null">
    <mat-icon aria-label="Más opciones">add</mat-icon>
  </button>
</div>