mat-nav-list {
  padding-left: .5em;
  padding-right: .5em;
}
mat-nav-list:hover {
  background-color: beige;
}

.tabla-listado {
  border: none;
  width: 100%;
  font-size: 10px;
}

.tabla-listado td {
  width: 50%;
}

.engris {
  color: dimgray;
}

.conceptos {
  font-weight: bold;
}

.tabla-totales {
  border: none;
  width: 100%;
  font-size: 9px;
  text-align: right;
}

.custom-button {
  position: fixed;
  right: 30px;
  bottom: 60px;
}

mat-form-field {
  width: 100%;
}