

.link-ver-todas {
    color: #23B950;
    font-family: Rubik;
    font-size: 16px;
    text-align: right;
}

.titulo-principal {
    margin-left: 15px;
    color: #333333;
    font-family: Rubik;
    font-size: 18px;
    letter-spacing: 1.2px;
    margin-bottom: -25px;
}
