<div *ngIf="esCelular">
  <div fxLayout="row" style="padding: 20px;" fxLayoutAlign="space-between center">
    <div fxFlex="70%" class="titulo-principal" style="text-align: left;">
      Operaciones Recientes
    </div>
  
    <div fxFlex="30%" class="titulo-principal" align="end">
      <button mat-button class="link-ver-todas" (click)="mostrarInfo()">Más Información</button>
    </div>
  
  </div>
  
</div>

<div *ngIf="!esCelular">
  <div fxLayout="row" style="padding: 20px;" fxLayoutAlign="space-between center">
    <div fxFlex="70%" class="titulo-principal" style="text-align: left;">
      Operaciones Recientes
    </div>
  
    <div fxFlex="30%" class="titulo-principal" align="end">
      <button mat-button class="link-ver-todas" (click)="mostrarInfo()">Más Información</button>
    </div>
  
  </div>
  
</div>