<div *ngIf="esCelular">
  <div fxLayout="row" class="card" fxLayoutAlign="space-between center">
    <div fxFlex="15%">
      <button mat-icon-button>
        <mat-icon style="color: green;">info</mat-icon>
      </button>
    </div>
    <div fxFlex="85%"><p style="font-size: 10px;">La operación estará sujeta al precio de cada grano y al ajuste de calidad de entregas.</p></div>
  </div>
</div>

<div *ngIf="!esCelular">
  <div fxLayout="row" class="card" fxLayoutAlign="space-between center">
    <div fxFlex="15%">
      <button mat-icon-button>
        <mat-icon style="color: green;">info</mat-icon>
      </button>
    </div>
    <div fxFlex="85%"><p style="font-size: 14px; text-align: left;">La operación estará sujeta al precio de cada grano y al ajuste de calidad de entregas.</p></div>
  </div>
</div>