<div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">
	<div fxFlex="100%">
		<mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>

		<mat-expansion-panel [expanded]="true">
			<mat-expansion-panel-header>
				Filtro
			</mat-expansion-panel-header>

			<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">
				<div fxFlex="100%">
					<app-combo-cuenta [disabled]="cargando==true" (change)="seleccionarCuenta($event)"></app-combo-cuenta>
				</div>
			</div>

			<mat-action-row>
				<button mat-button (click)="cargarDetalle()" [disabled]="cargando==true">Buscar</button>
			</mat-action-row>
		</mat-expansion-panel>

	</div>

	<!-- Informacion del perfil activo (seleccionado) -->
	<mat-card>
		<mat-card-title>Información del perfil activo / seleccionado</mat-card-title>

		<mat-card-content *ngIf="perfilBasico">
			<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">
				<div fxFlex="50%">
					<strong>Usuario</strong>
				</div>
				<div fxFlex="50%">
					{{perfilBasico.credencial.username}}
				</div>
			</div>

			<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">
				<div fxFlex="50%">
					<strong>Rol</strong>
				</div>
				<div fxFlex="50%">
					{{perfilBasico.rol.denominacion}}
				</div>
			</div>

			<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">
				<div fxFlex="50%">
					<strong>Nombre</strong>
				</div>
				<div fxFlex="50%">
					{{perfilBasico.informacionPersonal.nombre}}
				</div>
			</div>

			<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">
				<div fxFlex="50%">
					<strong>Email</strong>
				</div>
				<div fxFlex="50%">
					{{perfilBasico.informacionPersonal.email}}
				</div>
			</div>

			<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">
				<div fxFlex="50%">
					<strong>Cuentas vinculadas</strong>
				</div>
				<div fxFlex="50%">
					{{(perfilBasico.entidadCodigos || []).toString()}}
				</div>
			</div>
		</mat-card-content>
	</mat-card>

	<!-- Informacion de la cuenta seleccionada -->
	<mat-card>
		<mat-card-title>Información de la cuenta seleccionada</mat-card-title>

		<mat-card-content *ngIf="detalleCuenta">
			<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">
				<div fxFlex="50%">
					<strong>Cuenta</strong>
				</div>
				<div fxFlex="50%">
					{{cuenta}}
				</div>
			</div>

			<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">
				<div fxFlex="50%">
					<strong>Productor</strong>
				</div>
				<div fxFlex="50%">
					{{detalleCuenta.nombre}}
				</div>
			</div>

			<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">
				<div fxFlex="50%">
					<strong>Domicilio</strong>
				</div>
				<div fxFlex="50%">
					{{detalleCuenta.domicilioCalle}} {{detalleCuenta.domicilioNro}} {{detalleCuenta.domicilioPiso}}
					{{detalleCuenta.domicilioDepto}} {{detalleCuenta.localidad.localidad}}
					{{detalleCuenta.localidad.departamento.provincia.nombre}}
				</div>
			</div>

			<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">
				<div fxFlex="50%">
					<strong>Teléfono</strong>
				</div>
				<div fxFlex="50%">
					{{detalleCuenta.telefonos}}
				</div>
			</div>

			<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">
				<div fxFlex="50%">
					<strong>Email</strong>
				</div>
				<div fxFlex="50%">
					{{detalleCuenta.email}}
				</div>
			</div>

			<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">
				<div fxFlex="50%">
					<strong>CUIT</strong>
				</div>
				<div fxFlex="50%">
					{{detalleCuenta.cuit}}
				</div>
			</div>

			<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">
				<div fxFlex="50%">
					<strong>CBU</strong>
				</div>
				<div fxFlex="50%">
					{{detalleCuenta.cbu}}
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>