<app-tool-bar-general titulo="Perfil" [disabled]="false" (botonPersonalizadoEjecutado)="editar()"
	[urlImagenAccionPersonalizada]="'assets/toolbar/editar.png'"></app-tool-bar-general>

<!--Foto de perfil-->
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="avatar != null" class="contenedor-avatar">
	<div fxFlex="96px">
		<img [src]="avatar" class="avatar" />
	</div>
</div>

<!--Datos personales-->
<div *ngIf="perfilBasico != null" class="contenedor-datos-personales">

	<div fxLayout="column" fxLayoutAlign="space-between center">
		<div fxFlex="100%" class="titulo-apartado">
			EMPRESA
		</div>

		<div fxFlex="100%" class="info-apartado">
			{{perfilBasico.informacionPersonal.nombre}}
		</div>
	</div>

	<div fxLayout="column" fxLayoutAlign="space-between center" style="margin-top: 20px;">
		<div fxFlex="100%" class="titulo-apartado">
			E-MAIL
		</div>

		<div fxFlex="100%" class="info-apartado">
			{{perfilBasico.informacionPersonal.email}}
		</div>
	</div>

</div>

<!--Menu-->
<div fxLayout="row" fxLayoutAlign="space-between center" class="contenedor-boton-menu">
	<div fxFlex="100%" class="titulo-apartado">
		<button mat-button class="boton-menu" (click)="accesoATerceros()">Acceso a terceros</button>
	</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center" class="contenedor-boton-menu">
	<div fxFlex="100%" class="titulo-apartado">
		<button mat-button class="boton-menu" (click)="cambiarPassword()">Cambiar contraseña</button>
	</div>
</div>

<!--Selector de cantidades-->
<div class="contenedor-selector-cantidades">
	<div fxLayout="row" fxLayoutAlign="space-between center">
		<div fxFlex="100%" class="titulo-apartado">
			MOSTRAR CANTIDADES EN:
		</div>
	</div>

	<div fxLayout="row" fxLayoutAlign="space-between center">
		<div fxFlex="100%">
			<mat-radio-group aria-labelledby="unidad-medida-label" class="radio-group"
				[(ngModel)]="unidadMedidaPesoSeleccionado" [disabled]="cargando==true">

				<mat-radio-button class="radio-button" [value]="'kg'" (click)="actualizarUnidadDeMedidaPeso('kg')">
					Kilogramos
				</mat-radio-button>

				<mat-radio-button class="radio-button" [value]="'tn'" (click)="actualizarUnidadDeMedidaPeso('tn')">
					Toneladas
				</mat-radio-button>

				<mat-radio-button class="radio-button" [value]="'qq'" (click)="actualizarUnidadDeMedidaPeso('qq')">
					Quintales
				</mat-radio-button>

			</mat-radio-group>
		</div>
	</div>
</div>

<app-loading [cargando$]="cargando$"></app-loading>