/*sidebar*/

.contenedor-filtro {
    height: 100%;
}

.sidenav-filtro {
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
    width: 70%;
    max-width: 270px;
}

/* active tab */

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: #00cb75;
}

/* ink bar tab */

:host ::ng-deep .mat-ink-bar {
    background-color: #00cb75 !important;
}

/* tab otros*/

:host ::ng-deep .container-modo-desktop .mat-tab-header {
    border: none !important;
}

.container-modo-desktop {
    padding-top: 22px;
}