<!--Modo movil-->
<mat-sidenav-container class="contenedor-filtro" *ngIf="esCelular == true">
	<mat-sidenav #menuFiltro position="end" class="sidenav-filtro">
		<app-cta-cte-filtro [cuenta]="cuenta" (botonCerrar)="menuFiltro.toggle()"
			(botonAplicar)="cargarListado($event, false)" [ctacteInfoActivo$]="ctacteInfoActivo$"></app-cta-cte-filtro>
	</mat-sidenav>
	<section>
		<app-tool-bar-general [titulo]="'Cuenta Corriente'" [disabled]="false"
			(botonPersonalizadoEjecutado)="mostrarOcultarFiltros()"
			[urlImagenAccionPersonalizada]="'assets/toolbar/embudo.png'"></app-tool-bar-general>

		<mat-tab-group mat-align-tabs="center" (selectedTabChange)="seleccionTab($event)">
			<mat-tab label="CTA CTE APLICADA">
				<app-cuenta-corriente-aplicada-saldo [observerFiltro$]="observerFiltroCtaCteAplicada$">
				</app-cuenta-corriente-aplicada-saldo>
				<app-cuenta-corriente-aplicada-lista [observerFiltro$]="observerFiltroCtaCteAplicada$"
					(seEncuentraCargando)="cambiarEstadoCargandoCtaCteAplicado($event)"
					(seleccionMovimiento)="verDetalleAplicado($event)">
				</app-cuenta-corriente-aplicada-lista>
			</mat-tab>
			<mat-tab label="CTA CORRIENTE">
				<app-cuenta-corriente-saldos [observerFiltro$]="observerFiltroCtaCte$"></app-cuenta-corriente-saldos>
				<app-cuenta-corriente-lista [observerFiltro$]="observerFiltroCtaCte$"
					(seEncuentraCargando)="cambiarEstadoCargandoCtaCte($event)"
					(seleccionMovimiento)="verDetalle($event)"></app-cuenta-corriente-lista>
			</mat-tab>
		</mat-tab-group>

	</section>
</mat-sidenav-container>

<!--Modo desktop-->
<div *ngIf="esCelular == false" class="container-modo-desktop">
	<mat-tab-group mat-align-tabs="left" (selectedTabChange)="seleccionTab($event)">

		<mat-tab label="Cuenta corriente">
			<app-cuenta-corriente-lista-desktop [cuenta]="cuenta" (seleccionMovimiento)="verDetalle($event)">
			</app-cuenta-corriente-lista-desktop>
		</mat-tab>

		<mat-tab label="Cuenta corriente aplicada">
			<app-cuenta-corriente-aplicada-lista-desktop></app-cuenta-corriente-aplicada-lista-desktop>
		</mat-tab>

	</mat-tab-group>
</div>