<mat-sidenav-container class="contenedor-filtro">
	<mat-sidenav #menuFiltro position="end" class="sidenav-filtro">
		<app-cta-cte-filtro [cuenta]="cuenta" (botonCerrar)="menuFiltro.toggle()"
			(botonAplicar)="cargarListado($event)"></app-cta-cte-filtro>
	</mat-sidenav>
	<section>
		<app-tool-bar-general [titulo]="'Cuenta Corrientes'" [disabled]="false"
			(botonPersonalizadoEjecutado)="mostrarOcultarFiltros()"
			[urlImagenAccionPersonalizada]="'assets/toolbar/embudo.png'"></app-tool-bar-general>

		<mat-tab-group mat-align-tabs="center">
			<mat-tab label="CTA CORRIENTE">
				<app-cuenta-corriente-lista [observerFiltro$]="observerFiltro$"
					(seleccionMovimiento)="cargarListado($event)"></app-cuenta-corriente-lista>
			</mat-tab>
			<mat-tab label="CTA CTE APLICADA">Content 2</mat-tab>
		</mat-tab-group>

	</section>
</mat-sidenav-container>