<div fxLayout="row" fxLayoutAlign="none" class="contenedores-input">
  <p class="input-label">Fecha</p>
</div>

<div fxLayout="row" fxLayoutAlign="none" class="contenedores-input">
  <input readonly [(ngModel)]="fecha" matInput [matDatepicker]="fechaReporte" class="input-fecha">
  <mat-datepicker-toggle matSuffix [for]="fechaReporte"></mat-datepicker-toggle>
  <mat-datepicker touchUi #fechaReporte></mat-datepicker>
</div>

<app-tenencia-impositiva-detalle *ngIf="tenenciaImpositiva != null" [tenenciaImpositiva]="tenenciaImpositiva"
  [unidadMedida]="unidadMedida">
</app-tenencia-impositiva-detalle>

<!--Boton de descarga del comprobante-->
<div fxLayout="row" fxLayoutAlign="space-between center" class="botonera">
  <div fxFlex="100%">
    <button mat-button class="boton" (click)="generar()" [disabled]="cargando==true">
      Generar
    </button>
    <button mat-button *ngIf="tenenciaImpositiva != null" class="boton" (click)="descargarExcel()"
      [disabled]="cargando==true">
      Descargar archivo de Excel
    </button>
    <button mat-button *ngIf="tenenciaImpositiva != null" class="boton" (click)="descargarPDF()"
      [disabled]="cargando==true">
      Descargar archivo PDF
    </button>
  </div>
</div>

<app-loading [cargando$]="cargando$"></app-loading>