.input-fecha {
    height: 40px;
    width: 100%;
    border: 1px solid #2DA442;
    border-radius: 4px;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
    margin-bottom: 30px;
}

.input-label {
    height: 13px;
    width: 42px;
    color: #333333;
    font-family: Rubik;
    font-size: 11px;
    letter-spacing: 1.2px;
    line-height: 13px;
}

.contenedores-input {
    margin-left: 20px;
}

.boton {
    height: 40px;
    width: 100%;
    background-color: #2DA442;
    border: 1px solid #2DA442;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: Rubik;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.botonera {
    width: 100%;
    padding-left: 17px;
    padding-right: 17px;
}