<!--Spinner-->
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="cargando == true" style="margin-top: 10px; width: 100%;">
  <mat-spinner diameter="24"></mat-spinner>
</div>

<div *ngIf="!cargando">
  <mat-card *ngFor="let prevision of ultimasPrevisiones" style="margin: 10px">

    <div fxLayout="row" fxLayoutAlign="space-between center">

      <div fxFlex="nogrow">
        <mat-icon>system_update_alt</mat-icon>
      </div>

      <div fxFlex="" style="padding-left: 20px;">
        <div fxLayout="column" fxLayoutAlign="space-between start">
          <div fxFlex>Cobro programado </div>
          <div fxFlex>{{ prevision.fechaDeCobro }}</div>
        </div>
      </div>

      <div fxFlex="nogrow">
        <div fxLayout="column" fxLayoutAlign="space-between end">
          <div fxFlex>$ {{ prevision.importeACobrarPesos | number }}</div>
          <div fxFlex>
            <mat-chip>{{ prevision.estado }}</mat-chip>
          </div>
        </div>
      </div>

    </div>

  </mat-card>
</div>