<div class="container">
    <div class="body">
        <div class="title">Progreso</div>
        <div class="text">Cuando completes al 100% de tu documentación podrás operar normalmente tu cuenta.</div>

        <div class="progress-bar">
            <mat-progress-bar [ngClass]="{'pb-amarillo': porcentual < 100, 'pb-verde': porcentual == 100 }"
                mode="determinate" [value]="porcentual"></mat-progress-bar>
            <div class="porcent" fxLayout="row">
                <div fxFlex="50%" fxLayoutAlign="start center" class="porcent-0">0%</div>
                <div fxFlex="50%" fxLayoutAlign="end center" class="porcent-100">100%</div>
            </div>
        </div>

        <div fxLayout="row" class="informacion" fxLayoutAlign="start center">
            <div fxFlex="10">
                <mat-icon class="info">info</mat-icon>
            </div>
            <div fxFlex="90" class="text-info">Quedan {{ documentosPorCargar }} documentos por cargar</div>
        </div>
    </div>
</div>