<div class="container">
  <div class="header">
    <a fxFlex="25%" fxLayoutAlign="center center">
      <button mat-button class="button">
        <mat-icon style="color: #666666">arrow_back</mat-icon>
      </button>
    </a>
    <div fxFlex="75%" class="title-header">Documentación</div>
  </div>

  <div class="body" fxLayout="column">
    <div class="title">Apertura de legajo</div>
    <div class="text">Con esta documentación respaldaremos tu cuenta y aumentaremos su seguridad.</div>

    <div><app-progress-upload-files></app-progress-upload-files></div>

    <div fxLayout="row" class="files">
      <div fxFlex="50" fxLayoutAlign="start center" class="title-files">Foto de DNI</div>
      <div fxFlex="50" fxLayoutAlign="end center" class="upload">
        <button mat-button fxLayoutAlign="center center" class="button-upload">
          <img class="icon-upload" src="../../../../../assets/varios/upload.png">
          Subir
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" class="files">
      <div fxFlex="50" fxLayoutAlign="start center" class="title-files">Constancia CBU</div>
      <div fxFlex="50" fxLayoutAlign="end center" class="upload">
        <button mat-button fxLayoutAlign="center center" class="button-upload">
          <img class="icon-upload" src="../../../../../assets/varios/upload.png">
          Subir
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" class="files">
      <div fxFlex="50" fxLayoutAlign="start center" class="title-files">Extención IVA</div>
      <div fxFlex="50" fxLayoutAlign="end center" class="upload">
        <button mat-button fxLayoutAlign="center center" class="button-upload">
          <img class="icon-upload" src="../../../../../assets/varios/upload.png">
          Subir
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" class="files">
      <div fxFlex="50" fxLayoutAlign="start center" class="title-files">Extención de ingresos brutos</div>
      <div fxFlex="50" fxLayoutAlign="end center" class="upload">
        <button mat-button fxLayoutAlign="center center" class="button-upload">
          <img class="icon-upload" src="../../../../../assets/varios/upload.png">
          Subir
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" class="files">
      <div fxFlex="50" fxLayoutAlign="start center" class="title-files">Formulario F1276 WEB</div>
      <div fxFlex="50" fxLayoutAlign="end center" class="upload">
        <button mat-button fxLayoutAlign="center center" class="button-upload">
          <img class="icon-upload" src="../../../../../assets/varios/upload.png">
          Subir
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" class="files">
      <div fxFlex="50" fxLayoutAlign="start center" class="title-files">DNI del administrador o sucesor</div>
      <div fxFlex="50" fxLayoutAlign="end center" class="upload">
        <button mat-button fxLayoutAlign="center center" class="button-upload">
          <img class="icon-upload" src="../../../../../assets/varios/upload.png">
          Subir
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" class="files">
      <div fxFlex="50" fxLayoutAlign="start center" class="title-files">Poder de administración</div>
      <div fxFlex="50" fxLayoutAlign="end center" class="upload">
        <button mat-button fxLayoutAlign="center center" class="button-upload">
          <img class="icon-upload" src="../../../../../assets/varios/upload.png">
          Subir
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div fxLayoutAlign="center center">
      <button mat-button class="button-save">Guardar</button>
    </div>
  </div>
</div>
