.ng-autocomplete {
    width: 100%;
    background-color: white;
}

:host ::ng-deep .ng-autocomplete .autocomplete-container .input-container input {
    width: 90% !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Nunito !important;
    font-size: 12px !important;
    color: #333333 !important;
}

.item-list {
    font-family: Nunito !important;
    font-size: 12px !important;
    color: #333333 !important;
}