.titulos {
    color: #666666;
    font-family: Rubik;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 10px;
}

.movimiento-fila {
    border: 1px solid rgba(35, 185, 80, 0.08);
    border-radius: 4px;
    margin-bottom: 3px;
    background-color: white;
    margin-top: 3px;
    padding-left: 9px;
    padding-right: 9px;
    margin-left: 17px;
    margin-right: 17px;
}

.movimiento-icono {
    height: 38px;
    width: 38px;
}

.especie-cosecha {
    height: 19px;
    color: #333333;
    font-family: Rubik;
    font-size: 16px;
    line-height: 30px;
}

.fecha {
    height: 13px;
    color: #666666;
    font-family: Rubik;
    font-size: 11px;
    line-height: 0px;
}

.kg-netos {
    height: 17px;
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
    line-height: 17px;
}

.precio-qq {
    height: 17px;
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
    line-height: 17px;
}

.moneda {
    height: 13px;
    color: #666666;
    font-family: Rubik;
    font-size: 11px;
    line-height: 13px;
}

.contenedor-listado {
    height: 78vh;
    overflow-y: scroll;
}

.contenedor-listado-sin-alto {
    overflow-y: scroll;
    margin-bottom: 20px;
}

.activo {
    color: #23B950;
    font-family: Rubik;
    font-size: 14px;
    min-width: 200px;
    background-color: rgba(45, 164, 66, 0.1);
}

.inactivo {
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
    height: 48px;
    min-width: 200px;
}

.boton-pesificacion-filtro {
    color: rgba(51, 51, 51, 1);
    font-family: Rubik;
    font-size: 14px;
    letter-spacing: 1.2px;
}