<button mat-button *ngIf="filtrarPorPesificacion" [matMenuTriggerFor]="menu" [disabled]="cargando"
  class="boton-pesificacion-filtro">{{ leyendaFiltroPesificacion() }} <mat-icon [ngStyle]="{'color': '#2DA442'}">
    keyboard_arrow_down</mat-icon></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="seleccionarFiltroPesificacion(null)"
    [ngClass]="{'activo': ventasPesificadas === null, 'inactivo': ventasPesificadas !== null }">
    Todas
  </button>

  <button mat-menu-item (click)="seleccionarFiltroPesificacion(true)"
    [ngClass]="{'activo': ventasPesificadas === true, 'inactivo': ventasPesificadas !== true }">
    Pesificado
  </button>

  <button mat-menu-item (click)="seleccionarFiltroPesificacion(false)"
    [ngClass]="{'activo': ventasPesificadas === false, 'inactivo': ventasPesificadas !== false }">
    Pendientes de pesificar
  </button>

</mat-menu>

<div fxLayout="row" fxLayoutAlign="space-between center" class="titulos">
  <div fxFlex="nogrow">Venta</div>
  <div fxFlex="nogrow">{{unidadMedida | kilosTextoA}} {{unidadMedida | netasA }}</div>
  <div fxFlex="nogrow">$/{{unidadMedida | kilosTextoA}}</div>
</div>

<div fxLayout="column" fxLayoutWrap fxLayoutAlign="none" infiniteScroll [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false"
  [ngClass]="{'contenedor-listado' : cargarOnScroll == true, 'contenedor-listado-sin-alto' : cargarOnScroll == false}">

  <app-ventas-item-movil *ngFor="let movimiento of (listado ? listado : [])" [movimiento]="movimiento"
    [unidadMedida]="unidadMedida" [ventasPesificadas]="ventasPesificadas" (click)="verDetalle(movimiento)">
  </app-ventas-item-movil>

  <!--Spinner-->
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="cargando == true" style="margin-top: 10px">
    <mat-spinner diameter="24"></mat-spinner>
  </div>

  <!--Si no hay datos a mostrar-->
  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="!cargando && listado && listado.length == 0" class="info-sin-data-container">
      <div fxFlex="nogrow">
          <img src="assets/varios/sin-data.png" class="info-sin-data-img"/>
      </div>

      <div fxFlex="nogrow" class="info-sin-data-text">
          Cuando tengamos información de tus ventas la podrás ver aquí.
      </div>
  </div>
</div>
