.titulo {
    color: #666666;
    font-family: Rubik;
    font-size: 12px;
    letter-spacing: 1.2px;
    margin-bottom: 16px;
}

.radio-text {
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
}