<div class="card">
  <div fxLayout="row" fxLayoutAling="space-between center">
    <div fxFlex="10%" fxLayoutAlign="center center">
      <button mat-button style="background-color: transparent;"><mat-icon style="color: green;">info</mat-icon></button>
    </div>
    <div>
      <p style="color: black; font-family: Rubik; font-size: 12px;">La suma de los boletos se fija automáticamente al cambio del día del pago incluye el IVA correspondiente. 
        Además, la operación definición sujeta al precio de cada grano.
      </p>
    </div>
  </div>
</div>