<div class="card">
  <div fxLayout="column" fxLayoutALign="space-between center">

    <div fxLayout="row"><p style="font-family: Rubik; font-size: 12px; color: #999;">Boleto #86.963</p></div>

    <div fxLayout="column">
      <h3 style="font-family: Rubik; margin-top: 0px;">500 Tn</h3>
      <mat-radio-group style="font-family: Rubik; padding: 10px;">
        <mat-radio-button style="margin-bottom: 20px;" value="1">Fijación parcial: <input style="width: 50%;" type="number" placeholder="200"></mat-radio-button>
        <mat-radio-button value="2">Fijación total</mat-radio-button>
      </mat-radio-group>
      <p style="font-family: Rubik; font-size: 12px; color: #999;">Saldo del boleto: 300 Tn</p>
      <mat-radio-group style="font-family: Rubik; padding: 10px;">
        <mat-radio-button style="margin-bottom: 20px;" value="1">Precio de pizarra</mat-radio-button>
        <mat-radio-button value="2">Precio del día:  <input style="width: 50%;" type="number" placeholder="$0"></mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
