<app-tool-bar-para-modal [titulo]="'Detalle'" [urlImagenDerechoIzquierdo]="'assets/toolbar/exportar.png'"
  (botonSalirEjecutado)="salir()"></app-tool-bar-para-modal>

<!--Encabezado-->
<div fxLayout="row" fxLayoutAlign="space-around center" class="encabezado-entrega">
  <div fxFlex="10%" class="encabezado-imagen-especie">
    <img src="{{data.especie | imagenEspecie}}" />
  </div>
  <div fxFlex="90%">
    <div fxLayout="column" fxLayoutAlign="none">
      <div fxFlex="100%" class="encabezado-texto-entrega">
        Entrega
      </div>

      <div fxFlex="100%" class="encabezado-texto-cantidad-producto">
        {{data.kilosNetos | kilosA: unidadMedida | number: '.0'}} {{unidadMedida | kilosTextoA}} de
        {{data.especie}}
      </div>

      <div fxFlex="100%" class="encabezado-fecha">
        {{data.fecha}}
      </div>
    </div>
  </div>
</div>


<mat-dialog-content class="mat-typography">

  <table class="tabla-movimiento">
    <tr>
      <td>Fecha</td>
      <td align="end">{{data.fecha}}</td>
    </tr>

    <tr>
      <td>Producto</td>
      <td align="end">{{data.especie}}</td>
    </tr>

    <tr>
      <td>Campaña</td>
      <td align="end">{{data.cosecha}}</td>
    </tr>

    <tr>
      <td>Campo</td>
      <td align="end">{{data.campo}}</td>
    </tr>

    <tr>
      <td>{{unidadMedida | kilosTextoA: 'largo'}} Brutos</td>
      <td align="end">{{data.kilosBrutos | kilosA: unidadMedida | number: '.0'}}</td>
    </tr>

    <tr>
      <td>Humedad</td>
      <td align="end">{{data.porcentajeHumedad | number: '.2'}} %
        {{data.kgMermaHumedad | kilosA: unidadMedida | number: '.2'}} {{unidadMedida | kilosTextoA}}</td>
    </tr>

    <tr>
      <td>Zarandeo</td>
      <td align="end">{{data.porcentajeZarandeo | number: '.2'}} %
        {{data.kgMermaZarandeo | kilosA: unidadMedida | number: '.2'}} {{unidadMedida | kilosTextoA}}</td>
    </tr>

    <tr>
      <td>Volátil</td>
      <td align="end">{{data.porcentajeVolatil | number: '.2'}} %
        {{data.kgMermaVolatil | kilosA: unidadMedida | number: '.2'}} {{unidadMedida | kilosTextoA}}</td>
    </tr>

    <tr>
      <td>{{unidadMedida | kilosTextoA: 'largo'}} Netos</td>
      <td align="end">{{data.kilosNetos | kilosA: unidadMedida | number: '.0'}}</td>
    </tr>

    <tr>
      <td>Ticket</td>
      <td align="end">{{data.comprobante}}</td>
    </tr>

    <tr>
      <td>RM/CP</td>
      <td align="end">{{data.numeroComprobanteExterno}}</td>
    </tr>
  </table>

</mat-dialog-content>