/*encabezado*/

.encabezado-entrega {
    margin-top: 30px;
    margin-bottom: 10px;
}

.encabezado-texto-entrega {
    height: 17px;
    width: 87px;
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
}

.encabezado-texto-cantidad-producto {
    height: 38px;
    width: 219px;
    color: #333333;
    font-family: RubikLight;
    font-size: 32px;
    line-height: 38px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.encabezado-fecha {
    height: 17px;
    width: 184px;
    color: #666666;
    font-family: Rubik;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
}

.encabezado-imagen-especie {
    margin-right: 20px;
}

.encabezado-imagen-especie img {
    height: 38px;
    width: 38px;
}

/*botones*/

.boton-descarga-excel {
    height: 40px;
    width: 145px;
    border: 1px solid #2DA442;
    border-radius: 4px;
    color: #2DA442;
    font-family: Rubik;
    font-size: 14px;
}

.boton-descarga-pdf {
    height: 40px;
    width: 145px;
    background-color: #2DA442;
    border: 1px solid #2DA442;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: Rubik;
    font-size: 14px;
    font-weight: bold;
    float: right;
}

.botonera {
    width: 100%;
}

.boton-descarga-comprobante {
    height: 40px;
    width: 100%;
    background-color: #2DA442;
    border: 1px solid #2DA442;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: Rubik;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

/* detalle */

.titulo-apartados {
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
    letter-spacing: 1.2px;
    line-height: 17px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.subtitulo-apartados {
    color: #999999;
    font-family: Rubik;
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 14px;
    margin-top: 10px;
}

.dato-apartado {
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
    line-height: 17px;
}

.dato-apartado-elipsis {
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
    line-height: 17px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.kilos-titulo {
    color: #333333;
    font-family: RubikLight;
    font-size: 14px;
    line-height: 17px;
}

.kilos-datos {
    color: #333333;
    font-family: Rubik;
    font-size: 20px;
    line-height: 24px;
}

.boton-contrato {
    color: rgba(45, 164, 66, 1);
    font-family: Rubik;
    font-size: 14px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}