<div *ngIf="esCelular">
  <div class="container">
    
    <div class="header">
      <div fxLayoutAlign="start center" fxFlex="50%"><img class="logo" src="../../../../assets/varios/color.png"></div>
      <div fxLayoutAlign="end center" fxFlex="50%" fxLayout="row">
        <button routerLink="/login" fxLayoutAlign="center center" class="button-ingreso">
          <img class="icon-user" src="../../../../assets/varios/user.png">
          Ingresar
        </button>
      </div>
    </div>
    <mat-divider style="margin-top: 16px; margin-bottom: 20px; width: 112.5%;margin-left: -20px;"></mat-divider>
    <div class="body">
      <div fxLayout="column" class="title-subtitle">
        <div fxLayoutAlign="start center"><p class="title">Regístrate</p></div>
        <div fxLayoutAlign="start center"><p class="subtitle">Tené en cuenta que vas a necesitar tener a la mano tu DNI.</p></div>

        <!--form-->
        <div class="form" fxLayout="column">
          <p style="color: #2da442; font-size: 14px; font-family: Rubik;">Datos del usuario</p>
          <div style="margin-top: -10px;">
            <label>
              <p class="title-form">NOMBRE COMPLETO</p>
              <input class="entrada-datos" type="text" placeholder="Ej: David Pérez" [formControl]="name">
            </label>
          </div>
          <div>
            <label>
              <p class="title-form">DNI</p>
              <input class="entrada-datos" type="number" placeholder="12.345.678" [formControl]="dni">
            </label>
          </div>
          <div>
            <label>
              <p class="title-form">TELÉFONO CELULAR</p>
              <input class="entrada-datos" type="number" placeholder="342 555 55-55" [formControl]="celular">
            </label>
          </div>
          <div>
            <label>
              <p class="title-form">MAIL</p>
              <input class="entrada-datos" type="mail" placeholder="ejemplo@gmail.com" [formControl]="email">
            </label>
          </div>
          <div style="margin-top: 10px;">
            <p style="color: #2da442; font-size: 14px; font-family: Rubik;">Datos de la cuenta</p>
          </div>
          <div style="font-family: Rubik;">
            <mat-radio-group>
              <p class="title-form">TIPO DE CUENTA</p>
              <mat-radio-button value="1">Persona física</mat-radio-button>
              <mat-radio-button style="margin-left: 20px;" value="2">Persona jurídica</mat-radio-button>
            </mat-radio-group>
          </div>
          <div>
            <label>
              <p class="title-form">CUIT</p>
              <input class="entrada-datos" type="number" placeholder="20-12345678-9" [formControl]="cuit">
            </label>
          </div>
        </div>
      </div>
    </div>

    <div fxLayoutAlign="space-between center">
      <button routerLink="/confirmacion-mail" class="button-success">Continuar</button>
    </div>

  </div>
</div>

<div *ngIf="!esCelular">
  <div class="container-desktop">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex.xs="30%">
        <img src="assets/logo.png" mat-card-image class="logo-desktop" alt="Gaviglio" />
      </div>
    </div>
  </div>
  
  <div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="nogrow">
      <mat-card class="card-base-desktop">
        <mat-card-content>
          <div fxLayoutAlign="start center"><p class="title">Regístrate</p></div>
          <div fxLayoutAlign="start center"><p class="subtitle">Tené en cuenta que vas a necesitar tener a la mano tu DNI.</p></div>
          <form class="form" fxLayaut="column">
            <p style="color: #2da442; font-size: 14px; font-family: Rubik;">Datos del usuario</p>
            <div>
              <div fxFlex="50%">
                <label>
                  <p class="title-form">NOMBRE COMPLETO</p>
                  <input class="entrada-datos-desktop" type="text" placeholder="Ej: David Pérez" [formControl]="name">
                </label>
              </div>
              <div fxFlex="50%">
                <label>
                  <p class="title-form">DNI</p>
                  <input class="entrada-datos-desktop" type="number" placeholder="12.345.678" [formControl]="dni">
                </label>
              </div>
            </div>
            <div>
              <div fxFlex="50%">
                <label>
                  <p class="title-form">TELÉFONO CELULAR</p>
                  <input class="entrada-datos-desktop" type="number" placeholder="342 555 55-55" [formControl]="celular">
                </label>
              </div>
              <div fxFlex="50%">
                <label>
                  <p class="title-form">MAIL</p>
                  <input class="entrada-datos-desktop" type="mail" placeholder="ejemplo@gmail.com" [formControl]="email">
                </label>
              </div>
            </div>
            <div style="margin-top: 10px;">
              <p style="color: #2da442; font-size: 14px; font-family: Rubik;">Datos de la cuenta</p>
            </div>
            <div>
              <div style="font-family: Rubik;" fxFlex="50%">
                <mat-radio-group>
                  <p class="title-form">TIPO DE CUENTA</p>
                  <mat-radio-button value="1">Persona física</mat-radio-button>
                  <mat-radio-button style="margin-left: 20px;" value="2">Persona jurídica</mat-radio-button>
                </mat-radio-group>
              </div>
              <div fxFlex="50%" style="margin-top: -10px;">
                <label>
                  <p class="title-form">CUIT</p>
                  <input class="entrada-datos-desktop" type="number" placeholder="20-12345678-9" [formControl]="cuit">
                </label>
              </div>
            </div>
            <div fxLayoutAlign="space-between center">
              <button routerLink="/confirmacion-mail" class="button-success">Continuar</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>