<div fxLayout="row" fxLayoutAlign="space-around center" class="container">

  <!--Check de descarga-->
  <div fxFlex="28px">
    <mat-checkbox (change)="notificarCambioSeleccion($event)"></mat-checkbox>
  </div>

  <div fxFlex>
    <div fxLayout="row" fxLayoutAlign="space-around center">

      <div fxFlex="200px">
        Producto
      </div>

      <div fxFlex="150px">
        Fecha
      </div>

      <div fxFlex="200px">
        Comprobante
      </div>

      <div fxFlex="150px">
        {{unidadMedida | kilosTextoA}} fijados
      </div>

      <div fxFlex="150px">
        Precio
      </div>

      <div fxFlex="100px">
        Moneda
      </div>

    </div>
  </div>

</div>