.container {
    width: 100%;
    border: 1px solid #ECECEC;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 13px;
    margin: 2px;
}

.container:hover {
    cursor: pointer;
    width: 100%;
    border: 1px solid #ECECEC;
    border-radius: 4px;
    background-color: #C8E8DC;
    padding: 13px;
    margin: 2px;
}

.contrato-y-numero {
    color: #666666;
    font-family: Rubik;
    font-size: 14px;
}

.etiqueta {
    display: inline-block;
    margin-left: 4px;
    padding-right: 5px;
    border-radius: 200px 0px 0px 200px;
    -moz-border-radius: 200px 0px 0px 200px;
    -webkit-border-radius: 200px 0px 0px 200px;
    border: 1px solid #ECECEC;
    background-color: #F7F8F8;
    color: #666666;
    font-family: Rubik;
    font-size: 11px;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.titulo-contrato-contenedor {
    width: 100%;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.info-kg-pactados {
    color: #333333;
    font-family: Rubik;
    font-size: 20px;
}

/* Barra de progreso alert */

::ng-deep .barra-progreso-alert .mat-progress-bar-fill::after {
    background-color: #fec300;
}

::ng-deep .barra-progreso-alert .mat-progress-bar-buffer {
    background: #ebebeb;
}

::ng-deep .barra-progreso-alert .mat-progress-bar {
    border-radius: 3px;
    height: 5px !important;
}

/* Barra de progreso ok */

::ng-deep .barra-progreso-ok .mat-progress-bar-fill::after {
    background-color: #00c850;
}

::ng-deep .barra-progreso-ok .mat-progress-bar-buffer {
    background: #ebebeb;
}

::ng-deep .barra-progreso-ok .mat-progress-bar {
    border-radius: 3px;
    height: 5px !important;
}

/* indicadores */

.porcentual-text {
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
    margin-right: 4px;
}

.fecha-rango-text {
    color: #666666;
    font-family: Rubik;
    font-size: 11px;
}