.movimiento-fila {
    border: 1px solid rgba(35, 185, 80, 0.08);
    border-radius: 4px;
    margin-bottom: 3px;
    background-color: white;
    margin-top: 3px;
    padding-left: 9px;
    padding-right: 9px;
    margin-left: 17px;
    margin-right: 17px;
}

.concepto {
    height: 17px;
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.fecha {
    height: 14px;
    color: #666666;
    font-family: Rubik;
    font-size: 12px;
    margin-top: -10px;
}

.comprobante {
    height: 14px;
    color: #666666;
    font-family: Rubik;
    font-size: 12px;
    margin-top: -10px;
}

.monto {
    height: 17px;
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
    text-align: right;
}

.moneda {
    height: 13px;
    color: #666666;
    font-family: Rubik;
    font-size: 11px;
    line-height: 13px;
}

.signo-positivo {
    color: green;
    font-weight: bold;
}

.signo-negativo {
    color: red;
    font-weight: bold;
}