<div *ngIf="esCelular" class="card-container">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="50%">
      <div fxLayout="column" fxLayoutAlign="space-between start">
        <div fxFlex>Total</div>
        <div fxFlex class="monto">$ {{ total | number }}</div>
      </div>
    </div>
    <div fxFlex="50%"><button mat-raised-button matStepperNext class="btn">Siguiente</button></div>
  </div>
</div>

<div *ngIf="!esCelular" class="card-container">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="grow" class="title">
      <h6>Total</h6>
      <div class="monto">$ {{ total | number }}</div>
    </div>
    <div fxFlex="row" class="button-desk" fxLayoutAlign="center end">
      <button mat-stroked-button matStepperPrevious style="color: green; border: solid 1px green;"
        class="btn-desk">Volver</button>
      <button mat-flat-button matStepperNext style="background-color: green; color: white;"
        class="btn-desk">Siguiente</button>
    </div>
  </div>
</div>

