<div [ngClass]="{'contenedor': esCelular, 'contenedor-desktop': !esCelular}">
  <div fxLayout="row" class="header">
    <div fxLayoutAlign="start center"><img class="logo" src="../../../../assets/varios/color.png"></div>
  </div>
  <mat-divider style="margin-top: 16px; margin-bottom: 20px; width: 100%;margin-left: -20px;"></mat-divider>

  <div fxLayout="row" fxLayoutAlign="center" *ngIf="!esCelular">
    <div fxFlex="nogrow">
      <mat-card [ngClass]="{'card-base-desktop': !esCelular}">
        <mat-card-content>

          <p class="titulo">Recupera tu contraseña</p>

          <p class="parrafo">Ingresa tu correo electrónico y te enviaremos un mensaje para que recuperes tu clave</p>

          <form [formGroup]="frmRecup">

            <p class="correo-o-usuario">CORREO</p>
            <input [ngClass]="{'email-desktop': !esCelular}" matInput formControlName="email" required #inputEmail
              [value]="inputEmail.value.toLowerCase()">

          </form>

          <div fxLayout="row" fxLayoutAlign="center">
            <button fxFlex="45%" [ngClass]="{'boton-desktop': !esCelular}" type="button" (click)="volver()"
              [disabled]="cargando" style="background-color: lightgreen">Volver</button>
            <button fxFlex="45%" [ngClass]="{'boton-desktop': !esCelular}" *ngIf="!solicitudEnviada" type="button"
              (click)="solicitarLink()" [disabled]="cargando">Enviar</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div *ngIf="esCelular">
    <div style="padding: 20px;">
      <div fxLayoutAlign="start">
        <button mat-button class="boton-arrow" type="button"
          (click)="volver()" [disabled]="cargando"><mat-icon>arrow_back</mat-icon></button>
      </div>

      <p class="titulo">Recupera tu contraseña</p>

      <p class="parrafo">Ingresa tu correo electrónico o tu nombre de usuario y te enviaremos un mensaje para que
        recuperes tu clave.</p>

      <form [formGroup]="frmRecup">

        <p class="correo-o-usuario">EMAIL O USUARIO</p>
        <input class="email" matInput formControlName="email" required
          #inputEmail [value]="inputEmail.value.toLowerCase()">
        
        <div *ngIf="falloEnvioEmail" style="margin-top: 30px;">
          <app-fallo-recuperacion-password-card></app-fallo-recuperacion-password-card>
        </div>
      </form>

      <div fxLayout="row" fxLayoutAlign="center">
        <button routerLink="/restablecer-password/:token" class="boton" *ngIf="!solicitudEnviada"
          type="button" (click)="solicitarLink()" [disabled]="cargando">Enviar</button>
      </div>
    </div>
  </div>
</div>

<app-loading [cargando$]="cargando$"></app-loading>