<div [ngClass]="{'contenedor': esCelular, 'contenedor-desktop': !esCelular}">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex.xs="30%">
      <img src="assets/logo.png" mat-card-image class="logo" alt="Gaviglio" />
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="nogrow">
      <mat-card [ngClass]="{'card-base': esCelular, 'card-base-desktop': !esCelular}">
        <mat-card-content>

          <p class="titulo">Recupera tu contraseña</p>

          <p class="parrafo">Ingresa tu correo electrónico y te enviaremos un mensaje para que recuperes tu clave</p>

          <form [formGroup]="frmRecup">

            <p class="correo-o-usuario">CORREO</p>
            <input [ngClass]="{'email': esCelular, 'email-desktop': !esCelular}" matInput formControlName="email" required #inputEmail
              [value]="inputEmail.value.toLowerCase()">

          </form>

          <div fxLayout="row" fxLayoutAlign="center">
            <button fxFlex="45%" [ngClass]="{'boton': esCelular, 'boton-desktop': !esCelular}" *ngIf="!solicitudEnviada" type="button" (click)="volver()"
              [disabled]="cargando" style="background-color: lightgreen">Volver</button>
            <button fxFlex="45%" [ngClass]="{'boton': esCelular, 'boton-desktop': !esCelular}" *ngIf="!solicitudEnviada" type="button" (click)="solicitarLink()"
              [disabled]="cargando">Enviar</button>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<app-loading [cargando$]="cargando$"></app-loading>
