<div class="contenedor">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex.xs="30%">
      <img src="assets/logo.png" mat-card-image class="logo" alt="Gaviglio" />
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex.xs="91.67%">
      <mat-card class="card-base">
        <mat-card-content>

          <p class="titulo">Recupera tu contraseña</p>

          <p class="parrafo">Ingresa tu correo electrónico y te enviaremos un mensaje para que recuperes tu clave</p>

          <form [formGroup]="frmRecup">

            <p class="correo-o-usuario">CORREO</p>
            <input class="email" matInput formControlName="email" required #inputEmail
              [value]="inputEmail.value.toLowerCase()">

          </form>

          <button class="boton" *ngIf="!solicitudEnviada" type="button" (click)="solicitarLink()"
            [disabled]="cargando">Enviar</button>
          <button class="boton" *ngIf="solicitudEnviada" type="button" (click)="volver()"
            [disabled]="cargando">Volver</button>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<app-loading [cargando$]="cargando$"></app-loading>