<div [ngClass]="{'container-desktop': !esCelular}">
  <h3 class="title-center">Reportes</h3>

  <mat-select placeholder="Seleccione el reporte que desea visualizar" [(ngModel)]="reportId" class="select-report">
    <mat-option [value]="1">
      TENENCIAS IMPOSITIVAS
    </mat-option>

    <mat-option [value]="2">
      INSUMOS PENDIENTES
    </mat-option>

    <mat-option [value]="3">
      COMPRABANTES PENDIENTES DE FACTURAR
    </mat-option>
  </mat-select>

  <app-tenencias-impositivas *ngIf="cuenta != null && reportId == 1" [cuenta]="cuenta.id.codigo"></app-tenencias-impositivas>

  <app-merc-pend-entregar *ngIf="cuenta != null && reportId == 2" [cuenta]="cuenta.id.codigo"></app-merc-pend-entregar>

  <app-comprobantes-pend-facturar *ngIf="cuenta != null && reportId == 3" [cuenta]="cuenta.id.codigo"></app-comprobantes-pend-facturar>
</div>
