<div *ngIf="esCelular">
  <div class="container">

    <div class="header">
      <div fxLayoutAlign="start center"><img class="logo" src="../../../../assets/varios/color.png"></div>
    </div>
    <mat-divider style="margin-top: 16px; margin-bottom: 20px; width: 112.5%;margin-left: -20px;"></mat-divider>

    <div class="body">
      <div class="title" style="margin-top: 30px;">Cuéntanos de tu situación</div>
      <div class="form">
        <mat-checkbox class="subtitle" labelPosition="before">Estoy exento/a de IVA</mat-checkbox>
        <div class="text">Having used discount toner cartridges fot twenty years.</div>
        <mat-checkbox class="subtitle" labelPosition="before">Estoy exento/a de impuesto a las ganancias</mat-checkbox>
        <div class="text">Having used discount toner cartridges fot twenty years.</div>
        <mat-checkbox class="subtitle" labelPosition="before">Estoy exento/a de IIBB</mat-checkbox>
        <div class="text">Having used discount toner cartridges fot twenty years.</div>
        <mat-checkbox class="subtitle" labelPosition="before">Ninguna de las Anteriores</mat-checkbox>
      </div>
      <div fxLayoutAlign="start center">
        <button mat-button class="button-start" (click)="salir()">Continuar</button>
      </div>
    </div>
  </div>
</div>
