<button mat-button [matMenuTriggerFor]="menu" class="boton-ver" [disabled]="cargando == true">Ver <mat-icon
    [ngStyle]="{'color': '#2DA442'}">keyboard_arrow_down</mat-icon></button>
<mat-menu #menu="matMenu" (closed)="cargarListado(true)">
  <mat-checkbox [(ngModel)]="aCobrar" class="mat-menu-item" (click)="$event.stopPropagation();">A cobrar</mat-checkbox>
  <mat-checkbox [(ngModel)]="aPagar" class="mat-menu-item" (click)="$event.stopPropagation();">A pagar</mat-checkbox>
  <mat-checkbox [(ngModel)]="vencido" class="mat-menu-item" (click)="$event.stopPropagation();">Vencido</mat-checkbox>
  <mat-checkbox [(ngModel)]="AVencer" class="mat-menu-item" (click)="$event.stopPropagation();">A Vencer</mat-checkbox>
</mat-menu>

<div fxLayout="row" fxLayoutAlign="space-around center" class="titulos">
  <div fxFlex="60%">Concepto y fecha</div>
  <div fxFlex></div>
  <div fxFlex="35%">Monto</div>
</div>

<div class="contenedor-listado" fxLayout="column" fxLayoutWrap fxLayoutAlign="none" infiniteScroll
  [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false">

  <div fxLayout="row" fxLayoutAlign="space-around center" *ngFor="let movimiento of (listado ? listado : [])"
    class="movimiento-fila" (click)="verDetalle(movimiento)">

    <div fxFlex="60%">
      <p class="concepto">{{movimiento.concepto}}</p>
      <p class="fecha">{{movimiento.fechaCtaCte}}</p>
    </div>

    <div fxFlex></div>

    <div fxFlex="35%" class="monto">

      <!--Pesos-->
      <span *ngIf="movimiento.moneda == 'P'">
        <span
          [ngClass]="{'signo-positivo': movimiento.importeComprobantePesos > 0, 'signo-negativo': movimiento.importeComprobantePesos < 0 }">
          {{ (movimiento.importeComprobantePesos < 0) ? '-' : (movimiento.importeComprobantePesos > 0) ? '+' : ''}}
        </span>
        {{ ((movimiento.importeComprobantePesos > 0) ? movimiento.importeComprobantePesos : movimiento.importeComprobantePesos * (-1)) | number: '.2'}}
      </span>

      <!--Dolares-->
      <span *ngIf="movimiento.moneda != 'P'">
        <span
          [ngClass]="{'signo-positivo': movimiento.importeComprobanteDolares > 0, 'signo-negativo': movimiento.importeComprobanteDolares < 0 }">
          {{ (movimiento.importeComprobanteDolares < 0) ? '-' : (movimiento.importeComprobanteDolares > 0) ? '+' : ''}}
        </span>
        {{ ((movimiento.importeComprobanteDolares > 0) ? movimiento.importeComprobanteDolares : movimiento.importeComprobanteDolares * (-1)) | number: '.2'}}
      </span>

      <span class="moneda">{{ movimiento.moneda | moneda }}</span>
    </div>
  </div>

  <!--Spinner-->
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="cargando == true" style="margin-top: 10px">
    <mat-spinner diameter="24"></mat-spinner>
  </div>
  
</div>