.titulos {
    color: #666666;
    font-family: Rubik;
    font-size: 14px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 5px;
}

.contenedor-listado {
    height: 55vh;
    overflow-y: scroll;
}

.boton-ver {
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
    letter-spacing: 1.2px;
    margin-top: 15px;
}