<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" *ngIf="indicadorGlobal && !cargando">

  <!--Indicador pactadas-->
  <div fxFlex="250px">
    <app-contrato-indicador-grafico-porcentual [mostrarPorcentual]="false" title="Pactadas" texto="{{indicadorGlobal.indicadoresFijaciones.kgPactados | kilosA: unidadMedida | number: (unidadMedida == 'tn' ? '.0-1' : '.0-0')}}
      {{unidadMedida | kilosTextoA}}">
    </app-contrato-indicador-grafico-porcentual>
  </div>

  <!--Indicador fijadas-->
  <div fxFlex="250px">
    <app-contrato-indicador-grafico-porcentual title="Fijadas" texto="{{indicadorGlobal.indicadoresFijaciones.kgFijados | kilosA: unidadMedida | number: (unidadMedida == 'tn' ? '.0-1' : '.0-0')}}
    {{unidadMedida | kilosTextoA}}"
      subtexto="{{(100 - indicadorGlobal.indicadoresFijaciones.porcentajeKilosFijados) | number: '.2'}}% entregas pendientes de fijar"
      [porcentual]="100 - indicadorGlobal.indicadoresFijaciones.porcentajeKilosFijados">
    </app-contrato-indicador-grafico-porcentual>
  </div>

  <!--Indicador pesificadas-->
  <div fxFlex="250px">
    <app-contrato-indicador-grafico-porcentual title="Pesificadas" texto="{{indicadorGlobal.indicadoresPesificacion.pesificado | kilosA: unidadMedida | number: (unidadMedida == 'tn' ? '.0-1' : '.0-0')}}
    {{unidadMedida | kilosTextoA}}"
      subtexto="{{(100 - indicadorGlobal.indicadoresPesificacion.porcentajeKilosPesificados) | number: '.2'}}% entregas pendientes de pesificar"
      [porcentual]="100 - indicadorGlobal.indicadoresPesificacion.porcentajeKilosPesificados">
    </app-contrato-indicador-grafico-porcentual>
  </div>

  <!--Indicador liquidadas-->
  <div fxFlex="250px">
    <app-contrato-indicador-grafico-porcentual title="Liquidadas" texto="{{indicadorGlobal.indicadoresLiquidacion.kgFacturados | kilosA: unidadMedida | number: (unidadMedida == 'tn' ? '.0-1' : '.0-0')}}
    {{unidadMedida | kilosTextoA}}"
      subtexto="{{(100 - indicadorGlobal.indicadoresLiquidacion.porcentajeKilosFacturados) | number: '.2'}}% entregas pendientes de liquidar"
      [porcentual]="100 - indicadorGlobal.indicadoresLiquidacion.porcentajeKilosFacturados">
    </app-contrato-indicador-grafico-porcentual>
  </div>

  <!--Indicador pagadas-->
  <div fxFlex="250px">
    <app-contrato-indicador-grafico-porcentual title="Pagadas" texto="{{indicadorGlobal.indicadoresPagos.kgPagados | kilosA: unidadMedida | number: (unidadMedida == 'tn' ? '.0-1' : '.0-0')}}
    {{unidadMedida | kilosTextoA}}"
      subtexto="{{(100 - indicadorGlobal.indicadoresPagos.porcentajeKilosPagados) | number: '.2'}}% entregas pendientes de pagar"
      [porcentual]="100 - indicadorGlobal.indicadoresPagos.porcentajeKilosPagados">
    </app-contrato-indicador-grafico-porcentual>
  </div>

</div>

<!--Spinner-->
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="cargando" style="margin-top: 10px">
  <mat-spinner diameter="24"></mat-spinner>
</div>
