<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="50%">
    FILTRAR
  </div>

  <div fxFlex="50%">
    <button mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="100%">
    Producto
  </div>
</div>

<mat-button-toggle-group #group="matButtonToggleGroup" class="grupo-botones-especie">
  
    <div 
      *ngFor="let especie of ((filtrosEspecieCosecha && filtrosEspecieCosecha.especies) ? filtrosEspecieCosecha.especies : [])"
      class="boton-especie">
      <mat-button-toggle value="especie.codigoEspecie">
        <img src="{{especie.codigoEspecie | imagenEspecie}}" />
        {{especie.especieDescripcion}}
      </mat-button-toggle>
    </div>

</mat-button-toggle-group>


<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="100%">
    Campaña
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-button-toggle-group #group="matButtonToggleGroup">

    <div fxFlex="33%"
      *ngFor="let cosecha of ((filtrosEspecieCosecha && filtrosEspecieCosecha.cosechas) ? filtrosEspecieCosecha.cosechas : [])">
      <mat-button-toggle value="cosecha.cosecha">
        {{cosecha.cosechaDescripcion}}
      </mat-button-toggle>
    </div>

  </mat-button-toggle-group>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="100%">
    Fechas
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-form-field>
    <input [disabled]="cargando==true" [(ngModel)]="fechaDesde" matInput [matDatepicker]="desde"
      placeholder="Fecha desde" readonly>
    <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
    <mat-datepicker touchUi #desde></mat-datepicker>
  </mat-form-field>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-form-field>
    <input [disabled]="cargando==true" [(ngModel)]="fechaHasta" matInput [matDatepicker]="hasta"
      placeholder="Fecha hasta" readonly>
    <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
    <mat-datepicker touchUi #hasta></mat-datepicker>
  </mat-form-field>
</div>