.card-desktop{
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    height: 70px;
}

.card-mobile{
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    height: 70px;
}