<mat-card class="notificacion-container" (click)="verDetalle()" [ngClass]="{'notificacion-container-no-leido': notificacion.estado == estadoNotificacion.NO_LEIDO, 'notificacion-container-leido': notificacion.estado == estadoNotificacion.LEIDO }">

  <div fxLayout="row" fxLayoutAlign="space-around center">

    <div fxFlex="24px">
    </div>

    <div fxFlex>

      <div fxLayout="column" fxLayoutAlign="center">
        <div fxFlex="100%" class="titulo">
          {{notificacion.asunto | uppercase}}
        </div>
        <div fxFlex="100%" class="mensaje" [innerHTML]="notificacion.cuerpoMensaje">
        </div>
        <div fxFlex="100%" class="tiempo">
          {{notificacion.haceCuanto ? notificacion.haceCuanto : notificacion.fechaHora}}
        </div>
      </div>

    </div>

  </div>

</mat-card>