<div *ngIf="esCelular">
  <div fxLayout="row" class="card-mobile" fxLayoutAlign="space-between center">
    <div fxFlex="10%">
      <button mat-icon-button style="margin-top: -3px; margin-left: -3px;">
        <mat-icon style="color: green;">info</mat-icon>
      </button>
    </div>
    <div fxFlex="90%"><p style="height: 32px; color: #333333; font-family: Rubik;
      font-size: 11px; letter-spacing: 0; line-height: 16px; padding-bottom: 10px;">La suma de tus comprobantes se pesifica automáticamente al cambio del día e incluye el IVA correspondiente.</p></div>
  </div>
</div>

<div *ngIf="!esCelular">
  <div fxLayout="row" class="card" fxLayoutAlign="space-between center">
    <div fxFlex="15%">
      <button mat-icon-button>
        <mat-icon style="color: green;">info</mat-icon>
      </button>
    </div>
    <div fxFlex="85%"><p style="font-size: 14px;">La suma de tus comprobantes se pesifica automáticamente al cambio del día e incluye el IVA correspondiente.</p></div>
  </div>
</div>
