.card-desktop{
    height: 56px;
    border-radius: 4px;
    background-color: #ECECEC;
}

.card-mobile{
    height: 56px;
    border-radius: 4px;
    background-color: #ECECEC;
    margin-bottom: 10px;
}