.card {
    background-color: white;
    margin-bottom: 3px;
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 3px;
}

.img-perfil {
    margin-left: 10px;
    width: 50px;
    border-radius: 50px;
}