.sidenav-container {
  height: 100%;
  font-family: Rubik;
}

.sidenav {
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.mat-nav-list a {
  color: #666666;;
}

.mat-nav-list a.active {
  border-left: 8px solid#23B950;
  background-color: rgba(35,185,80,0.1);
  color: #23B950;
}

.mat-nav-list a:hover {
  background-color: rgba(35,185,80,0.1);
  color: #23B950;
}

.relleno {
  flex: 1 1 auto;
}

.contenedorBuzonAcceso {
  padding-right: 1em;
}

mat-nav-list {
  overflow-x: hidden;
}
