<mat-toolbar class="main-toolbar" *ngIf="!esCelular">
	<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
		*ngIf="(isHandset$ | async)">
		<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
	</button>

	<span>
		<img src="assets/logo.png" class="logo" alt="Gaviglio" />
	</span>

	<span class="relleno"></span>

	<span class="relleno"
		*ngIf="authService.esAdmin || authService.esRol('SUB_ADMINISTRADOR') || authService.esRol('COMERCIAL')">
		<app-selector-cuentas></app-selector-cuentas>
	</span>

	<span class="notificaciones-container">
		<button mat-icon-button (click)="mostrarOcultarNotificaciones()">
			<app-acceso-buzon></app-acceso-buzon>
		</button>
	</span>

	<span class="info-perfil-container">
		<a href="" routerLink="/informacion-de-perfil-desktop" style="text-decoration: none">
			<app-info-perfil modoParaToolbar="true"></app-info-perfil>
		</a>
	</span>

	<span class="selector-combo-container">
		<app-combo-cuenta [showAvatar]="false" sizeArrow="36px"></app-combo-cuenta>
	</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">

	<mat-sidenav #menuNotificaciones position="end" class="sidenav-notificaciones" *ngIf="!esCelular">
		<app-panel-notificaciones (botonCerrar)="menuNotificaciones.toggle()"></app-panel-notificaciones>
	</mat-sidenav>

	<mat-sidenav (click)="isPantallaPequena && drawer.toggle()" #drawer
		[ngClass]="{'sidenav': esCelular, 'sidenav-desktop': !esCelular}" fixedInViewport="true"
		[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
		[opened]="!(isHandset$ | async)">

		<p class="menu-text" *ngIf="authService.esAdmin || authService.esRol('SUB_ADMINISTRADOR') || authService.esRol('COMERCIAL')">ADMINISTRADOR</p>

		<mat-nav-list *ngIf="authService.esAdmin || authService.esRol('SUB_ADMINISTRADOR') || authService.esRol('COMERCIAL')">

			<div *ngFor="let link of Adminlinks">
				<app-link-menu [link]="link" *ngIf="!(link.ocultarDesktop == true && !esCelular)"></app-link-menu>
			</div>

		</mat-nav-list>

		<app-info-perfil *ngIf="esCelular"></app-info-perfil>

		<p class="menu-text" *ngIf="!esCelular">MENÚ</p>

		<mat-nav-list>

			<div *ngFor="let link of links">
				<app-link-menu [link]="link" *ngIf="!(link.ocultarDesktop == true && !esCelular)"></app-link-menu>
			</div>

		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content>
		
		<ng-content></ng-content>

	</mat-sidenav-content>
</mat-sidenav-container>