.sidenav-container {
  height: 100%;
  font-family: Rubik;
  overflow-y: auto;
}

.sidenav {
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  width: 80%;
  max-width: 288px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.relleno {
  flex: 1 1 auto;
}

.contenedorBuzonAcceso {
  padding-right: 1em;
}

mat-nav-list {
  overflow-x: hidden;
}
