<mat-sidenav-container class="sidenav-container">

	<mat-sidenav (click)="isPantallaPequena && drawer.toggle()" #drawer class="sidenav" fixedInViewport="true"
		[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
		[opened]="!(isHandset$ | async) && authService.esLogueado">

		<app-info-perfil></app-info-perfil>

		<mat-nav-list *ngIf="authService.esLogueado">

			<div *ngFor="let link of links">
				<a *ngIf="link.permitido == true" mat-list-item routerLink="{{link.rutaLink}}"
					routerLinkActive="active" #rla="routerLinkActive">
					<img src="{{rla.isActive ? link.imagenActiva : link.imagen }}" alt="{{link.nombre}}" />
					{{link.nombre}}
				</a>
			</div>

		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content>
		<mat-toolbar color="primary" *ngIf="authService.esLogueado">
			<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
				*ngIf="(isHandset$ | async) && authService.esLogueado">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<span>Gaviglio Digital - Clientes</span>

			<span class="relleno"></span>

			<span class="relleno"
				*ngIf="authService.esAdmin || authService.esRol('SUB_ADMINISTRADOR') || authService.esRol('COMERCIAL')">
				<app-selector-cuentas></app-selector-cuentas>
			</span>

			<span class="contenedorBuzonAcceso" *ngIf="authService.esLogueado">
				<app-acceso-buzon></app-acceso-buzon>
			</span>
		</mat-toolbar>

		<ng-content></ng-content>

	</mat-sidenav-content>
</mat-sidenav-container>