<div fxLayout="row" fxLayoutAlign="space-around center" class="movimiento-fila">

  <div fxFlex="60%">
    <p class="concepto">{{movimiento.concepto}}</p>
    <p class="fecha">{{movimiento.fechaCtaCte}}</p>
  </div>

  <div fxFlex></div>

  <div fxFlex="35%" class="monto">

    <!--Pesos-->
    <span *ngIf="movimiento.moneda == 'P'">
      <span
        [ngClass]="{'signo-positivo': movimiento.importeComprobantePesos > 0, 'signo-negativo': movimiento.importeComprobantePesos < 0 }">
        {{ (movimiento.importeComprobantePesos < 0) ? '-' : (movimiento.importeComprobantePesos > 0) ? '+' : ''}}
      </span>
      {{ ((movimiento.importeComprobantePesos > 0) ? movimiento.importeComprobantePesos : movimiento.importeComprobantePesos * (-1)) | number: '.2'}}
    </span>

    <!--Dolares-->
    <span *ngIf="movimiento.moneda != 'P'">
      <span
        [ngClass]="{'signo-positivo': movimiento.importeComprobanteDolares > 0, 'signo-negativo': movimiento.importeComprobanteDolares < 0 }">
        {{ (movimiento.importeComprobanteDolares < 0) ? '-' : (movimiento.importeComprobanteDolares > 0) ? '+' : ''}}
      </span>
      {{ ((movimiento.importeComprobanteDolares > 0) ? movimiento.importeComprobanteDolares : movimiento.importeComprobanteDolares * (-1)) | number: '.2'}}
    </span>

    <span class="moneda">{{ movimiento.moneda | moneda }}</span>
  </div>

</div>