<div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">
  <div fxFlex="100%">
    <mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Filtro
      </mat-expansion-panel-header>

      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">

        <div fxFlex="33%">
          <mat-form-field>
            <mat-select [disabled]="cargando==true" [(ngModel)]="cuenta" placeholder="Seleccione una cuenta"
              disableRipple>
              <mat-option *ngFor="let cuentaVinculada of (perfilBasico != null ? perfilBasico.entidadCodigos : [])"
                [value]="cuentaVinculada">
                {{cuentaVinculada}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="33%">
          <mat-form-field>
            <input [disabled]="cargando==true" [(ngModel)]="fechaDesde" matInput [matDatepicker]="desde" placeholder="Fecha desde"
              readonly>
            <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
            <mat-datepicker touchUi #desde></mat-datepicker>
          </mat-form-field>
        </div>

        <div fxFlex="33%">
          <mat-form-field>
            <input [disabled]="cargando==true" [(ngModel)]="fechaHasta" matInput [matDatepicker]="hasta" placeholder="Fecha hasta"
              readonly>
            <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
            <mat-datepicker touchUi #hasta></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <mat-action-row>
        <button [disabled]="cargando==true" mat-button (click)="cargarListado()">Buscar</button>
      </mat-action-row>
    </mat-expansion-panel>

  </div>

  <div fxFlex="100%">
    <div *ngIf="totales" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-around stretch">
      <div fxFlex="33%">
        <h4 mat-dialog-title align="center">Cantidad</h4>
        <mat-dialog-content class="mat-typography">
          <p align="center">{{totales.totalCantidad | number: '.2'}} Kg</p>
        </mat-dialog-content>
      </div>

      <div fxFlex="33%">
        <h4 mat-dialog-title align="center">Pendiente</h4>
        <mat-dialog-content class="mat-typography">
          <p align="center">{{totales.totalCantidadPendiente | number: '.2'}} Kg</p>
        </mat-dialog-content>
      </div>

      <div fxFlex="33%">
        <h4 mat-dialog-title align="center">Total</h4>
        <mat-dialog-content class="mat-typography">
          <p align="center">US$ {{totales.totalTotal | number: '.2'}}</p>
        </mat-dialog-content>
      </div>
    </div>
  </div>

  <div fxFlex="100%">
    <mat-card>
      <mat-card-title>Comprobantes Pendientes de Facturar</mat-card-title>

      <mat-card-content>

        <!-- Movimiento para panalla chicas -->
        <div fxHide.lg fxHide.md class="movimiento" *ngFor="let movimiento of (listadoCompPendFact ? listadoCompPendFact : [])"
          (click)="verDetalle(movimiento)">

          <div fxLayout="row" fxLayoutAlign="center space-between">
            <div fxFlex="50%" class="concepto">{{movimiento.descripcionArticulo}}</div>
            <div fxFlex="25%" class="importe" align="right">{{movimiento.cantidad | number: '.0'}}</div>
            <div fxFlex="25%" class="importe" align="right">{{movimiento.cantidadPendiente | number: '.0'}}</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="center space-between">
            <div fxFlex="50%" class="fecha">{{movimiento.fecha}}</div>
            <div fxFlex="25%" class="engris" align="right">Cantidad</div>
            <div fxFlex="25%" class="engris" align="right">Cant. Pend.</div>
          </div>

          <mat-divider></mat-divider>
        </div>

        <!-- Movimiento para panalla grandes -->
        <span fxHide.xs fxHide.sm>
          <!-- Encabezado -->
          <div fxLayout="row" fxLayoutAlign="center space-between">
            <div fxFlex="12%" class="conceptoEncabezado">Comprobante</div>
            <mat-divider [vertical]="true"></mat-divider>
            <div fxFlex="6%" class="conceptoEncabezado">Fecha</div>
            <mat-divider [vertical]="true"></mat-divider>
            <div fxFlex="7%" class="conceptoEncabezado">Artículo</div>
            <mat-divider [vertical]="true"></mat-divider>
            <div fxFlex class="conceptoEncabezado">Descripción</div>
            <mat-divider [vertical]="true"></mat-divider>
            <div fxFlex="12%" class="conceptoEncabezado">Cantidad</div>
            <mat-divider [vertical]="true"></mat-divider>
            <div fxFlex="12%" class="conceptoEncabezado">Pendiente</div>
            <mat-divider [vertical]="true"></mat-divider>
            <div fxFlex="12%" class="conceptoEncabezado">Total</div>
          </div>

          <!--Movimientos-->
          <div fxLayout="row" fxLayoutAlign="center space-between" class="movimiento" *ngFor="let movimiento of (listadoCompPendFact ? listadoCompPendFact : []); index as i"
            (click)="verDetalle(movimiento)" [ngClass]="i%2 == 0 ? 'filaPar' : 'filaImpar'">

            <div fxFlex="12%" class="conceptoListaCompleta">{{movimiento.tipoComprobante}} {{movimiento.comprobante}}</div>
            <div fxFlex="6%" class="conceptoListaCompleta">{{movimiento.fecha}}</div>
            <div fxFlex="7%" class="conceptoListaCompleta">{{movimiento.codArticulo}}</div>
            <div fxFlex class="conceptoListaCompleta">{{movimiento.descripcionArticulo}}</div>
            <div fxFlex="12%" class="importeListaCompleta">{{movimiento.cantidad | number: '.0'}}</div>
            <div fxFlex="12%" class="importeListaCompleta">{{movimiento.cantidadPendiente | number: '.0'}}</div>
            <div fxFlex="12%" class="importeListaCompleta">{{movimiento.totalUsd | number: '.2'}}</div>

          </div>

        </span>

      </mat-card-content>
    </mat-card>
  </div>

  <button [disabled]="cargando==true" mat-mini-fab class="custom-button" (click)="verOpcionesExtras()" *ngIf="listadoCompPendFact != null">
    <mat-icon aria-label="Más opciones">list</mat-icon>
  </button>
</div>