.contenedor-detalle {
    padding-top: 100px;
}

.movimiento-info-container {
    width: 100%;
    padding: 10px;
}

.info-container {
    border: 1px solid #ECECEC;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 20px;
}

.titulo-apartados {
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
    letter-spacing: 1.2px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.subtitulo-apartados {
    color: #999999;
    font-family: Rubik;
    font-size: 12px;
    letter-spacing: 1.2px;
    margin-top: 10px;
}

.dato-apartado {
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
}

.dato-apartado-elipsis {
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.icono-producto {
    width: 40px;
    height: 40px;
}

.catidad-producto-encabezado {
    color: #333333;
    font-family: RubikLight;
    font-size: 32px;
}

.titulo-indicadores {
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
    margin-top: 25px;
}

.etiqueta {
    display: inline-block;
    margin-left: 4px;
    padding-right: 5px;
    border-radius: 200px 0px 0px 200px;
    -moz-border-radius: 200px 0px 0px 200px;
    -webkit-border-radius: 200px 0px 0px 200px;
    border: 1px solid #ECECEC;
    background-color: #F7F8F8;
    color: #666666;
    font-family: Rubik;
    font-size: 11px;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.boton-entregas {
    color: #666666;
    font-family: Rubik;
    font-size: 14px;
    cursor: pointer;
}

.flecha {
    color: #999999;
}

.entregas-numero-miga {
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
}

.miga-container {
    margin-left: 13px;
    margin-top: 20px;
    margin-bottom: -10px;
}

.indicador-contenedor {
    padding-top: 10px;
}

.boton-descarga-comprobante {
    height: 40px;
    width: 100%;
    background-color: #2DA442;
    border: 1px solid #2DA442;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: Rubik;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.boton-contrato {
    color: rgba(45, 164, 66, 1);
    font-family: Rubik;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    cursor: pointer;
}

.boton-descarga-comprobante-alt {
    height: 40px;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #2DA442;
    border-radius: 4px;
    color: #2DA442;
    font-family: Rubik;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.contenedor-titulo-filtro {
    overflow-x: hidden;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 32px;
}

.titulo-seccion {
    color: #333333;
    font-family: Rubik;
    font-size: 20px;
}