<div class="contenedor-detalle" [ngClass]="{'hide': modoDetalleEditPerfilDesktop || modoDetalleEditTerceroDesktop}">
  <mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>

  <div fxLayout="row" fxLayoutAlign="space-between center" class="contenedor-titulo-filtro" fxLayoutGap="20px">
    <div fxFlex="93px" class="titulo-seccion">
      Perfil
    </div>
  </div>

  <!--Fila perfil-->
  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="13px" class="movimiento-info-container">

    <!--Columna info prod-->
    <div fxFlex class="info-container">

      <app-info-perfil-edicion-desktop *ngIf="perfilBasico" [perfilBasico]="perfilBasico"
        [nombreEntidad]="nombreEntidad" (edicionPerfil)="verDetalleEditPerfilDesktop()"
        (perfilActualizado)="recargaDelPerfilSiEsActualizado()">
      </app-info-perfil-edicion-desktop>

    </div>

    <!--Columna botones exportar-->
    <div fxFlex="250px" class="info-container">

      <div fxLayout="row" fxLayoutAlign="space-between start">

        <div fxFlex="nogrow" class="titulo-apartados">
          Cambiar cuenta
        </div>

        <div fxFlex="nogrow" class="selector-cuenta-container">
          <app-combo-cuenta [showAvatar]="false"></app-combo-cuenta>
        </div>

      </div>

    </div>

  </div>

  <!--Fila Unidades de medida-->
  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="13px" class="movimiento-info-container">

    <div fxFlex class="info-container">
      <app-selector-unidad-medida *ngIf="perfilBasico" [perfilBasico]="perfilBasico"></app-selector-unidad-medida>
    </div>

    <div fxFlex="250px"></div>

  </div>

  <!--Cuentas de colaboradores-->
  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="13px" class="movimiento-info-container">

    <div fxFlex class="info-container">
      <app-terceros-lista-desktop *ngIf="perfilBasico" [perfilBasico]="perfilBasico"
        (edicionTercero)="verDetalleEditTerceroDesktop($event)"
        [notificacionTerceroActualizado$]="notificacionTerceroActualizado$"></app-terceros-lista-desktop>
    </div>

    <div fxFlex="250px"></div>

  </div>

</div>

<!-- Edicion del perfil -->
<span [ngClass]="{'hide': !modoDetalleEditPerfilDesktop}">
  <app-edita-tu-perfil-desktop (salir)="salirModoDetalleEditPerfilDesktop()"
    [modoDetalleEditPerfilDesktop$]="modoDetalleEditPerfilDesktop$"
    (perfilActualizado)="recargaDelPerfilSiEsActualizado()">
  </app-edita-tu-perfil-desktop>
</span>

<!-- Edicion del tercero -->
<span [ngClass]="{'hide': !modoDetalleEditTerceroDesktop}">
  <app-acceso-terceros-edicion-desktop (salir)="salirModoDetalleEditTerceroDesktop()"
    [modoDetalleEditTerceroDesktop$]="modoDetalleEditTerceroDesktop$"
    (terceroActualizado)="notificarTerceroActualizado()">
  </app-acceso-terceros-edicion-desktop>
</span>

<app-loading [cargando$]="cargando$"></app-loading>