.swiper-container {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    overflow-x: hidden;
    overflow-y: visible;
    padding-bottom: 30px;
}

.swiper-pagination {
    position: absolute;
    bottom: 0px;
}