<div fxLayout="row" fxLayoutAlign="center"
  [ngClass]="{'encabezado-filtro': esCelular, 'encabezado-filtro-desktop': !esCelular}">
  <div fxFlex="80%" class="texto-filtrar">
    FILTRAR
  </div>

  <div fxFlex="20%">
    <button mat-icon-button class="boton-close" (click)="cerrar()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<!--Origenes de comprobantes-->
<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="100%" class="titulo-filtro">
    Origen
  </div>
</div>

<mat-button-toggle-group class="grupo-botones-origen" [(ngModel)]="origenSeleccionado">

  <div class="boton-origen">
    <mat-button-toggle [value]="origenComprobante.CUENTA_CORRIENTE">
      <div class="texto-campania">Cuenta corriente</div>
    </mat-button-toggle>
  </div>

  <div class="boton-origen">
    <mat-button-toggle [value]="origenComprobante.CUENTA_CORRIENTE_APLICADA">
      <div class="texto-campania">Cta. Cte. Aplicada</div>
    </mat-button-toggle>
  </div>

  <div class="boton-origen">
    <mat-button-toggle [value]="origenComprobante.CONTRATOS">
      <div class="texto-campania">Contratos</div>
    </mat-button-toggle>
  </div>

  <div class="boton-origen">
    <mat-button-toggle [value]="origenComprobante.ENTREGAS">
      <div class="texto-campania">Entregas</div>
    </mat-button-toggle>
  </div>

  <div class="boton-origen">
    <mat-button-toggle [value]="origenComprobante.VENTAS">
      <div class="texto-campania">Ventas</div>
    </mat-button-toggle>
  </div>

</mat-button-toggle-group>

<!-- Filtro de nombre de comprobante -->
<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="100%" class="titulo-filtro">
    Filtro por comprobante
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="none" class="contenedores-input">
  <p class="input-label">QUE CONTENGA</p>
</div>

<div fxLayout="row" fxLayoutAlign="none" class="contenedores-input" style="margin-bottom: 10px;">
  <input [(ngModel)]="filtroIdentificacionComprobante" matInput class="input">
</div>

<!--Fechas-->

<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="100%" class="titulo-filtro">
    Fechas
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="none" class="contenedores-input">
  <p class="input-label">DESDE</p>
</div>

<div fxLayout="row" fxLayoutAlign="none" class="contenedores-input">
  <input readonly [(ngModel)]="fechaDesde" matInput [matDatepicker]="desde" class="input-fecha">
  <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
  <mat-datepicker touchUi #desde></mat-datepicker>
</div>

<div fxLayout="row" fxLayoutAlign="none" class="contenedores-input">
  <p class="input-label">HASTA</p>
</div>

<div fxLayout="row" fxLayoutAlign="none" class="contenedores-input">
  <div fxFlex="100%">
    <input readonly [(ngModel)]="fechaHasta" matInput [matDatepicker]="hasta" class="input-fecha">
    <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
    <mat-datepicker touchUi #hasta></mat-datepicker>
  </div>
</div>

<!--botones-->
<div fxLayout="row" fxLayoutAlign="space-between center" class="contenedor-botones">
  <div fxFlex="50%">
    <button mat-button class="boton-limpiar" (click)="limpiar()">Limpiar</button>
  </div>

  <div fxFlex="50%">
    <button mat-button class="boton-aplicar" (click)="aplicar()">Aplicar</button>
  </div>
</div>