.tabla {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

.container {
    padding: 10px;
}

.titulo-apartados {
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
    letter-spacing: 1.2px;
    line-height: 17px;
    margin-left: 17px;
}