<div *ngIf="esCelular">
  <div class="card-container">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h5 fxFlex="50%" style="padding-left: 10px;color: #999; font-size: 14px;">Total a pagar</h5>
      <h3 fxFlex="50%" style="font-size: 20px;">$ {{ (totalEvent$ | async) | number }}</h3>
    </div>
  </div>
</div>

<div *ngIf="!esCelular">
  <div class="card-container">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h5 fxFlex="50%" style="padding-left: 10px;color: #999; font-size: 18px;">Total a pagar</h5>
      <h3 fxFlex="50%" style="font-size: 25px; font-family: Rubik; margin-left: 350px;">$ {{ (totalEvent$ | async) | number }}</h3>
    </div>
  </div>
</div>