.link-ver-todas {
    color: #23B950;
    font-family: Rubik;
    font-size: 14px;
    text-align: right;
}

.titulo-principal {
    margin-left: 15px;
    color: #333333;
    font-family: Rubik;
    font-size: 14px;
    letter-spacing: 1.2px;
}