<app-tool-bar-para-modal [titulo]="'Detalle'" [urlImagenDerechoIzquierdo]="'assets/toolbar/exportar.png'"
	(botonSalirEjecutado)="salir()"></app-tool-bar-para-modal>

<!--Encabezado-->
<div fxLayout="row" fxLayoutAlign="space-around center" class="encabezado-venta">
	<div fxFlex="10%" class="encabezado-imagen-especie">
		<img src="{{data.especie | imagenEspecie}}" />
	</div>
	<div fxFlex="90%">
		<div fxLayout="column" fxLayoutAlign="none">
			<div fxFlex="100%" class="encabezado-texto-venta">
				Venta <span class="a-fijar" *ngIf="data.tc != 0">A fijar</span>
			</div>

			<div fxFlex="100%" class="encabezado-texto-cantidad-producto">
				{{data.kilosNetos | kilosA: unidadMedida | number: '.0-0'}} {{unidadMedida | kilosTextoA}} de
				{{data.especie}}
			</div>

			<div fxFlex="100%" class="encabezado-fecha">
				{{data.fecha}}
			</div>
		</div>
	</div>
</div>

<!--Boton de descarga de excel y pdf-->
<div fxLayout="row" fxLayoutAlign="space-between center" class="botonera">
	<div fxFlex="50%">
		<button mat-button class="boton-descarga-excel" (click)="exportarAExcel()">Descargar Excel</button>
	</div>
	<div fxFlex="50%">
		<button mat-button class="boton-descarga-pdf" (click)="exportarAPDF()">Descargar PDF</button>
	</div>
</div>

<!--Datos de la venta-->
<div fxLayout="row" fxLayoutAlign="space-between center">
	<div fxFlex="100%" class="titulo-apartados">DATOS DE LA VENTA</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
	<div fxFlex="50%" class="subtitulo-apartados">CONTRATO</div>
	<div fxFlex="50%" class="subtitulo-apartados">COSECHA</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
	<div fxFlex="50%" class="dato-apartado">????</div>
	<div fxFlex="50%" class="dato-apartado">{{data.cosecha}}</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
	<div fxFlex="50%" class="subtitulo-apartados">MERCADO</div>
	<div fxFlex="50%" class="subtitulo-apartados">FECHA DE VENCIMIENTO</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
	<div fxFlex="50%" class="dato-apartado-elipsis">{{data.puertoDestino}}</div>
	<div fxFlex="50%" class="dato-apartado">{{data.entregaHasta}}</div>
</div>

<!--Precios de fijacion-->
<div fxLayout="row" fxLayoutAlign="space-between center">
	<div fxFlex="100%" class="titulo-apartados">PRECIOS DE FIJACIÓN</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
	<div fxFlex="50%" class="subtitulo-apartados">FIJADO</div>
	<div fxFlex="50%" class="subtitulo-apartados">PRECIO</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
	<div fxFlex="50%" class="dato-apartado">{{data.kilosLiquidados | kilosA: unidadMedida | number: '.0-0'}}
		{{unidadMedida | kilosTextoA}}</div>
	<div fxFlex="50%" class="dato-apartado">{{data.moneda | moneda}} ${{data.precioPorQuintal | number: '.2'}}</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
	<div fxFlex="50%" class="subtitulo-apartados">TASA DE CAMBIO</div>
	<div fxFlex="50%" class="subtitulo-apartados">TOTAL</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
	<div fxFlex="50%" class="dato-apartado">ARS $????</div>
	<div fxFlex="50%" class="dato-apartado">?????</div>
</div>