<app-tool-bar-para-modal [titulo]="'Detalle'" [urlImagenDerechoIzquierdo]="'assets/toolbar/exportar.png'"
	(botonSalirEjecutado)="salir()"></app-tool-bar-para-modal>

<!--Encabezado-->
<div fxLayout="row" fxLayoutAlign="space-around center" class="encabezado-venta">
	<div fxFlex="10%" class="encabezado-imagen-especie">
		<img src="{{movimiento.especie | imagenEspecie}}" />
	</div>
	<div fxFlex="90%">
		<div fxLayout="column" fxLayoutAlign="none">
			<div fxFlex="100%" class="encabezado-texto-venta">
				Venta
			</div>

			<div fxFlex="100%" class="encabezado-texto-cantidad-producto">
				{{movimiento.kilos | kilosA: unidadMedida | number: '.0-0'}} {{unidadMedida | kilosTextoA}} de
				{{movimiento.especie}}
			</div>

			<div fxFlex="100%" class="encabezado-fecha">
				{{movimiento.fecha}}
			</div>
		</div>
	</div>
</div>

<!--Boton de descarga de excel y pdf
<div fxLayout="row" fxLayoutAlign="space-between center" class="botonera">
	<div fxFlex="50%">
		<button mat-button class="boton-descarga-excel" (click)="exportarAExcel()">Descargar Excel</button>
	</div>
	<div fxFlex="50%">
		<button mat-button class="boton-descarga-pdf" (click)="exportarAPDF()">Descargar PDF</button>
	</div>
</div>-->

<!--Datos de la venta-->
<div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
	<div fxFlex="100%" class="titulo-apartados">DATOS DE LA VENTA</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
	<div fxFlex="50%" class="subtitulo-apartados">CONTRATO</div>
	<div fxFlex="50%" class="subtitulo-apartados">COSECHA</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
	<div fxFlex="50%" *ngIf="linkContrato == true">
		<a class="boton-contrato"  *ngIf="contrato != null" (click)="verDetalleContrato()">
			Contrato #{{ contrato ? contrato.numeroComprobanteContrato : '' }}
			<mat-icon>keyboard_arrow_right</mat-icon>
		</a>
	</div>
	<div fxFlex="50%" *ngIf="linkContrato == false" class="dato-apartado">Contrato
		#{{ contrato ? contrato.numeroComprobanteContrato : ''}}</div>
	<div fxFlex="50%" class="dato-apartado">{{movimiento.cosecha}}</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
	<div fxFlex="50%" class="subtitulo-apartados">MERCADO</div>
	<div fxFlex="50%" class="subtitulo-apartados-elipsis">FECHA DE VENCIMIENTO</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
	<div fxFlex="50%" class="dato-apartado">{{movimiento.puertoDestino}}</div>
	<div fxFlex="50%" class="dato-apartado">{{contrato ? contrato.fechaHastaFijacion : ''}}</div>
</div>

<!--Precios de fijacion-->
<div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
	<div fxFlex="100%" class="titulo-apartados">PRECIOS DE FIJACIÓN</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
	<div fxFlex="50%" class="subtitulo-apartados">FIJADO</div>
	<div fxFlex="50%" class="subtitulo-apartados">PRECIO</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
	<div fxFlex="50%" class="dato-apartado">{{movimiento.kilos | kilosA: unidadMedida | number: '.0-0'}}
		{{unidadMedida | kilosTextoA}}</div>
	<div fxFlex="50%" class="dato-apartado">{{movimiento.moneda | moneda}}
		${{movimiento.precioPorQuintal | precioQQA: unidadMedida | number: '.0-0'}}</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
	<div fxFlex="50%" class="subtitulo-apartados">TASA DE CAMBIO</div>
	<div fxFlex="50%" class="subtitulo-apartados">TOTAL</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px" *ngIf="movimiento.tipoDeCambio != null">
	<div fxFlex="50%" class="dato-apartado">ARS ${{movimiento.tipoDeCambio | number: '.2-2'}}</div>
	<div fxFlex="50%" class="dato-apartado">ARS ${{movimiento.precioQQPesificado | precioQQA: unidadMedida | number: '.0-0'}}</div>
</div>