<!--Filtro-->
<div fxLayout="row" fxLayoutAlign="space-between center" class="contenedor-titulo-filtro" fxLayoutGap="20px">

  <div fxFlex="40%" *ngIf="cargando == false && identificadoresParaDescarga && identificadoresParaDescarga.length > 0" class="contenedor-saldo">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex class="subtitulo-apartados">Saldo ARS</div>

      <div fxFlex class="subtitulo-apartados">Saldo USD</div>

      <div fxFlex class="subtitulo-apartados">Saldo Contable</div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex class="monto">
        <span [ngClass]="{'signo-positivo': totalPesos > 0, 'signo-negativo': totalPesos < 0 }">{{ (totalPesos < 0) ? '-' : (totalPesos > 0) ? '+' : ''}}</span>

        {{ ((totalPesos > 0) ? totalPesos : totalPesos * (-1)) | number: '.2'}}

        <span class="moneda">ARS</span>
      </div>

      <div fxFlex class="monto">
        <span [ngClass]="{'signo-positivo': totalDolares > 0, 'signo-negativo': totalDolares < 0 }">{{ (totalDolares < 0) ? '-' : (totalDolares > 0) ? '+' : ''}}</span>

        {{ ((totalDolares > 0) ? totalDolares : totalDolares * (-1)) | number: '.2'}}

        <span class="moneda">USD</span>
      </div>

      <div fxFlex class="monto">
        <span [ngClass]="{'signo-positivo': totalContable > 0, 'signo-negativo': totalContable < 0 }">{{ (totalContable < 0) ? '-' : (totalContable > 0) ? '+' : ''}}</span>

        {{ ((totalContable > 0) ? totalContable : totalContable * (-1)) | number: '.2'}}

        <span class="moneda">ARS</span>
      </div>
    </div>

  </div>

  <div fxFlex *ngIf="(!identificadoresParaDescarga || identificadoresParaDescarga.length <= 0) && semanaAtras && hoy">
    <app-cta-cte-filtro-desktop [cuenta]="cuenta" [desde]="semanaAtras" [hasta]="hoy" [infoCtaCteActivo]="infoCtaCte.CUENTA_CORRIENTE"
                                [filtroPersonalizado]="filtroPersonalizado" (botonAplicar)="aplicar($event)" [disabled]="cargando"></app-cta-cte-filtro-desktop>
  </div>

  <div fxFlex *ngIf="identificadoresParaDescarga && identificadoresParaDescarga.length > 0">
    <app-tool-bar-descargas (descargarComprobanteChange)="descargarSeleccionados()"
                            [botonesExtras]="botonesBarraDescargaExtras" [disabled]="descargandoArchivos"
                            (botonPresionado)="exportarSegunOpcion($event)"></app-tool-bar-descargas>
  </div>

</div>

<mat-progress-bar *ngIf="descargandoArchivos" mode="indeterminate"></mat-progress-bar>

<!--Header-->
<div class="contenedor-header" *ngIf="listado && listado.length > 0">
  <app-cuenta-corriente-header-item-desktop (cambioSeleccion)="seleccionarTodos($event)">
  </app-cuenta-corriente-header-item-desktop>
</div>

<!--Listado-->
<div class="contenedor-listado" fxLayout="column" fxLayoutWrap fxLayoutAlign="none">

  <app-cuenta-corriente-item-desktop *ngFor="let movimiento of listado" [movimiento]="movimiento"
    (cambioSeleccion)="rearmarListaSeleccionados()" (verDetalle)="verDetalle($event)">
  </app-cuenta-corriente-item-desktop>

  <!--Spinner-->
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="cargando" style="margin-top: 10px">
    <mat-spinner diameter="24"></mat-spinner>
  </div>

  <!--Si no hay datos a mostrar-->
  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="!cargando && listado && listado.length == 0" class="info-sin-data-container">
      <div fxFlex="nogrow">
          <img src="assets/varios/sin-data.png" class="info-sin-data-img"/>
      </div>

      <div fxFlex="nogrow" class="info-sin-data-text">
          Cuando tengamos información de tus cuentas corrientes la podrás ver aquí.
      </div>
  </div>
</div>
