<div *ngIf="esCelular">
  <div class="container">
    
    <div class="header">
      <div fxLayoutAlign="start center" fxFlex="50%"><img class="logo" src="../../../../assets/varios/color.png"></div>
      
    </div>
    <mat-divider style="margin-top: 16px; margin-bottom: 20px; width: 100%;margin-left: -20px;"></mat-divider>
    <div class="body">
      <div fxLayout="column">
        <div fxLayoutAlign="start">
          <button mat-button class="boton-arrow"
            (click)="salir()"><mat-icon>arrow_back</mat-icon></button>
        </div>
        <div class="contenedor-imagen">
          <img class="imagen-mail" src="../../../../assets/varios/ilus_1.png">
        </div>
        <div class="title">
          Te hemos enviado un enlace a tu correo electrónico
        </div>
        <div class="subtitle">
          Ingresá al mail y hacé click en el enlace que te enviamos para restablecer tu contraseña. No olvides revisar en la casilla de SPAM.
        </div>
      </div>
      <div (click)="salir()" fxLayoutAlign="start center">
        <button mat-button class="button-start">Volver al inicio</button>
      </div>
    </div>

  </div>
</div>
